#about-header{
    height:100vh;
}

.about-header-title{
    width: auto;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%);
    font-size: calc(1.5rem + 0.6vw);
    font-family: 'Noto Sans', sans-serif;
}  

.about-header-boxes{
    position: absolute;
    top:125%;
}
.about-header-boxes > div{
    width: 42vw;
    height: 25vh;
    margin-bottom: 35px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px black;
    
}

.about-header-box-one{
    background: white;
    transform: translate(25%, 10%);
}
.about-header-box-two{
    background: white;
    position: absolute;
    left: 32%;
    transform: translate(75%, 20%);
}

.about-header-boxes:hover .about-header-box-one{
    background: linear-gradient(140deg,#89f7fe 30%,#6ab0ff);
} 
.about-header-boxes > div > p{
    position: absolute;
    width: auto;
    height: auto;
    left: 10%;
    top: 10%;
    font-size: calc(1rem + 0.5vw);
    font-family: 'Noto Sans', sans-serif;
}
.about-header-boxes > div > img{
    width: 6vw;
    height: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.about-header-box-one-mission{
    left: 80%;
}
.about-header-box-two-eye{
    right: 7%;
}