#about-header{
    height:100vh;
}
::-webkit-scrollbar{
    width: 0;
}
::-webkit-scrollbar-thumb{
    color: red;
}

.about-header-title{
    width: auto;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%);
    font-size: calc(1.5rem + 0.6vw);
    font-family: 'Noto Sans', sans-serif;
}  

.about-header-boxes{
    position: absolute;
    top:125%;
    width: 100%;
    height: 70vh;
}
.about-header-boxes > div{
    width: 47vw;
    height: 25vh;
    border-radius: 30px;
    box-shadow: 0px 0px 10px black;
    overflow: hidden;
    
}

.about-header-box-one{
    background: white;
    transition: 0.5s;
    transform: translate(27%);
}

.about-header-box-two{
    right: 0;
    bottom: 0;
    transition: 0.5s;
    background: white;
    position: absolute;
    transform: translate(-27%);
}

.about-header-box-one:hover, .about-header-box-two:hover{
    background: linear-gradient(140deg,#89f7fe 30%,#6ab0ff);
}

.about-header-box-one.move, .about-header-box-two.move{
    transform: translate(0);
}

.about-header-box-one.extend, .about-header-box-two.extend{
    height: 55vh;
    overflow: scroll;
}
.about-header-boxes > div > p{
    position: absolute;
    width: auto;
    height: auto;
    left: 10%;
    top: 10%;
    font-size: calc(1rem + 0.5vw);
    font-family: 'Noto Sans', sans-serif;
}
.about-header-boxes > div > img{
    width: 6vw;
    height: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.about-header-box-one-mission{
    left: 80%;
}
.about-header-box-two-eye{
    right: 7%;
}