#about-header{
    height:auto;
}
::-webkit-scrollbar{
    width: 0;
}
::-webkit-scrollbar-thumb{
    color: red;
}

.about-header-title{
    width: auto;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%);
    font-size: calc(1.5rem + 0.6vw);
    font-family: 'Noto Sans', sans-serif;
}  

.about-header-boxes{
    position: absolute;
    top:125%;
    width: 100%;
    height: 70vh;
}
.about-header-boxes > div{
    width: 43vw;
    height: 25vh;
    border-radius: 30px;
    box-shadow: 0px 0px 10px black;
}

.about-header-box-one{
    background: white;
    transition: 1s;
    transform: translate(28% , 15%);
}

.about-header-box-two{
    right: 0;
    bottom: 0;
    transition: 1s;
    background: white;
    position: absolute;
    transform: translate(-28% , -15%);
}

.about-header-box-one.extend, .about-header-box-two.extend{
    background: linear-gradient(140deg,#89f7fe 30%,#6ab0ff);
    height:37vh;
}

.about-header-box-one.move{
    transform:translate(4%, 15%);
} 
.about-header-box-two.move{
    transform: translate(-4%, -15%);
}

.about-header-boxes > div > p{
    position: absolute;
    transition: 1s;
    width: 75%;
    height: 90%;
    left: 10%;
    margin: 0;
    overflow: hidden;
    font-family: 'Noto Sans', sans-serif;
}
.about-header-boxes > div > img{
    width: 6vw;
    height: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.about-header-box-one-mission{
    left: 80%;
}
.about-header-box-two-eye{
    right: 7%;
}

/*----------------------------
        Mobile About
-----------------------------*/
@media only screen and (max-width:768px){
    .about-header-boxes{
        display: contents;
        top: 130%;
        width: 100vh;
    }
    .about-header-boxes > div{
        width: 100vw;
        height: 33vh;
        position: relative;
        box-shadow: none;
        left: 50%;
        border: none;
        text-align: center;
        top: 30%;
        overflow: visible;
    }
    .about-header-boxes > div > img{
        width: 9vw;
        height: auto;
        position: absolute;
        left: 50%;
        top: -25%;
        transform: translate(-50%);
    }
    .about-header-box-one{
        transform: translate(-50% , 15%);
    }
    .about-header-box-two{
        transform: translate(-50%, 25%);
    }
    .about-header-boxes > div > p{
        width: 70vw;
        margin: 0;
        height: 22vh; 
        transform: translate(-50%, 10%);
        left: 50%;
    }
    .about-header-box-one:hover, .about-header-box-two:hover{
        background: linear-gradient(140deg,#89f7fe 30%,#6ab0ff);
    }

}