#homepage-events{
    width: 100vw;}
    .homepage-events-bigEllipse-pro{
        overflow-x: hidden;
    }
    .homepage-events-bigEllipse{
        overflow: hidden;
        transition: 1s;
        height: 93vh;
        width: 69vw; 
        background: linear-gradient(30deg,#cbbacc 10%,#2580b3);
        border-radius: 50%;
        position: absolute;
        transform: translate(-30%,1%);
        margin-top: 91px
        
    }
    .homepage-events-mediumElips-pro{
        overflow-x: hidden;
    }
    
    .homepage-events-mediumElips{
        background-color: #45597e;
        height: 300px;
        width: 300px;
        background: linear-gradient(30deg,#cbbacc 10%,#2580b3);
        border-radius: 50%;
        position: absolute; left:125vh;
        margin-top: 55vh;
    }
    
    .homepage-events-smallElips-pro{
        overflow-x: hidden;
    }
    .homepage-events-smallElips{
        background-color: #45597e;
        height: 210px;
        width: 210px;
        background: linear-gradient(30deg,#cbbacc 10%,#2580b3);
        border-radius: 50%;
        border-radius: 50%;
        position: absolute; left:160vh; 
        margin-top: 80vh;
    }
    .homepage-events-smallElips-pro-2{
        overflow-x: hidden;
    }
    .homepage-events-smallElips-2{
        background-color: #45597e;
        height: 50px;
        width: 50px;
        background: linear-gradient(30deg,#cbbacc 10%,#2580b3);
        border-radius: 50%;
        border-radius: 50%;
        position: absolute; left:181vh; 
        margin-top: 65vh;
    }