#homepage-events-part {
  position: relative;
}
.homepage-events-part {
  width: 100%;
  height: 125vh;
  background-image: url(/img/eventsBackground.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.homepage-events-header-line {
  position: relative;
  margin-top: 35px;
  text-align: center;
  font-size: calc(1.5rem + 0.6vw);
  font-family: "Noto Sans", sans-serif;
}
.events {
  width: 1120px;
  margin: 0 auto;
  height: 930px;
  overflow: hidden;
  scroll-behavior: smooth;
}
.event-box {
  width: 100%;
  height: 300px;
  margin: 5px 0;
  position: relative;
}
.event-card {
  position: absolute;
  height: 250px;
  width: 400px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.event-box:nth-child(odd) .event-card {
  left: 25px;
}
.event-box:nth-child(even) .event-card {
  right: 25px;
}
.event-date {
  width: 150px;
  height: 50px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
}
.event-date p {
  margin: 0;
}
.dot {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 25pt;
  filter: opacity(0.5);
}
.event-img {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.event-reg-btn {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  border-radius: 50%;
  cursor: pointer;
}
.event-reg-btn i {
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  position: absolute;
  font-size: 2vh;
  color: white;
}
.event-card.disabled .event-reg-btn {
  background-color: red;
}
.event-card.active .event-reg-btn {
  background-color: green;
}
.event-box:nth-child(even) .event-card .event-reg-btn {
  right: 0;
  transform: translate(50%, -50%);
}
.event-box:nth-child(odd) .event-card .event-reg-btn {
  left: 0;
  transform: translate(-50%, -50%);
}

.events-icon-area {
  width: 60px;
  display: block;
  border-radius: 45px;
  box-shadow: 0px 0px 9px #0e0e0e;
  padding: 9px 16px;
  /* position: absolute; */
  /* left: 50%; */
  /* transform: translateX(-50%); */
  background-color: white;
  height: 60px;
  margin: 33px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#event-box-area {
  height: auto;
}

.events-icon-area.none {
  display: none;
}

.events-down-icon {
  color: black;
  margin-top: 0vh;
  margin-left: 1px;
  font-size: unset;
  font-size: 35px;
}

 @media only screen and (max-width: 1305px){
   .events{
     width: 950px;
   }

   .event-card{
     width: 350px;
     height: 210px;
   }
 }