#homepage-footer{
     width: 100vw;
    height: 30vh;
    background-color: white; 
   
  }
  .homepage-logo-circle{
    text-align: center;
    transform: translateY(50%);
  }
  .homepage-footer-aybulogo{
    border-radius: 50%;
    border: 22px solid black;
  }
  .homepage-footer-aybu-text{
    padding: 80px 30px 1px 30px;
    background-color: black;
    }
    .homepage-footer-aybu-text h3{
      color: white;
      font-family: inherit;
      text-align: center;
    }
    .homepage-footer-aybu-text h1{
      font-size: 50px;
      font-family: sans-serif;
      color: white;
      text-align: center;
    }
    .homepage-footer-aybu-text h5{
      color: white;
      font-family: monospace;
      font-size: 15px;
      text-align: center;
    
    }
    .homepage-footer-copyright-icon{
      color: white;
    }
    