#homepage-footer{
    width: 100vw;
    height: 50vh;
    background-color: black;
  }
  .homepage-logo-circle{
    width: 13%;
    height: 16%;
    margin-left: auto;
    margin-right: auto;
  }
  .homepage-footer-aybulogo{
    border-radius: 50%;
    border: 22px solid black;
    transform: translateY(-50%);
  }
  