body, html{
    margin: 0;
    height: 100vh;
}

#homepage-header{
    height:100vh;
    overflow: hidden;
}

.mobile-homepage-header-menu{
    display:none;
}
.mobile-homepage-header-column{
    display:none;
}
.mobile-homepage-header-content{
    display:none;
}
.mobile-homepage-header-button{
    display:none;
}

/*----------------------------
            Ellipse
-----------------------------*/

.homepage-header-ellipse{
    overflow: hidden;
    transition: 1s;
    height: 258vh;
    width: 145vw; 
    background: linear-gradient(30deg,#cbbacc 10%,#2580b3);
    border-radius: 50%;
    top: -40%;
    transform: translate(9%, -31%);
}

/*----------------------------
            Logo
-----------------------------*/

.homepage-header-logo{
    width: 5%;
    height: auto;
    position: absolute;
    top:2%;
    left:10%;
    transition: 1s;
}

.homepage-header-logo:hover{
    width:6%;
}
.homepage-header-logo:hover ~ .homepage-header-ellipse{
    height: 238vh;
    width: 176vw;
}

/*----------------------------
            Orbits
-----------------------------*/

@keyframes orbits-move{
    from{transform: rotate(0deg) translate(50%, -50%);}
    to{transform: rotate(360deg) translate(50%, -50%);}
}

@keyframes orbits-move-reverse{
    from{transform: rotate(0deg) translate(50%, -50%);}
    to{transform: rotate(-360deg) translate(50%, -50%);}
}

@keyframes orbital-arrival-move{
    from{width: 0;
    height: 0;}
}


.homepage-header-orbits{
    right: 0;
    top: 0;
    position: absolute;
    width: 62vw;
    height: 48vw;
    /* width: 72rem;
    height: 58rem; */
    overflow: hidden;
}
.homepage-header-orbits > div {
    position: absolute;
    border-radius: 100%;
    border: dashed 3px white;
    transform: translate(50%, -50%);
    right: 0;
    transform-origin: top right;
}
.homepage-header-orbit-one{ 
    /* width: 20rem;
    height: 20rem; */
    width: 15vw;
    height: 15vw;
    animation: orbits-move 20s infinite forwards linear, orbital-arrival-move 0.25s;
    opacity: 1;
}
.homepage-header-orbit-two{
    /* width: 55rem;
    height: 55rem; */
    width: 40vw;
    height: 40vw;
    opacity: 0.8;
    animation: orbits-move-reverse 40s infinite forwards linear, orbital-arrival-move 0.75s;
}
.homepage-header-orbit-three{
    /* width: 95rem;
    height: 95rem; */
    width: 80vw;
    height: 80vw;
    opacity: 0.5;
    animation: orbits-move 60s infinite forwards linear, orbital-arrival-move 1.25s;
}
.homepage-header-orbit-four{
    /* width: 135rem;
    height: 135rem; */
    width: 120vw;
    height: 120vw;
    opacity: 0.2;
    animation: orbits-move-reverse 90s infinite forwards linear, orbital-arrival-move 1.5s;
}

/*----------------------------
            Columns
-----------------------------*/

@keyframes column-move{
    from{height:0px;}
}

.homepage-header-column{
    height: 30vh;
    display: flex;
    width: auto;
    position: absolute;
    left:57%;
    top: 0;
}

.homepage-header-column > div {
    width: 65px;
    background-color: white;
    animation: column-move 1s ;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.homepage-header-column-one{
    height: 6vh;
}

.homepage-header-column-two{
    height: 16vh;
    transform: translate(5vw);
}

.homepage-header-column-three{
    height: 26vh;
    transform: translate(10vw);
}

.homepage-header-column-four{
    height: 36vh;
    transform: translate(15vw);
}

/*----------------------------
            Content
-----------------------------*/

@keyframes content-move{
    from{transform:translate(-38%,0);}
    to{transform:translate(-38%,25%);}
}

.homepage-header-content{
    animation: content-move 1s;
    position: absolute;
    transform:translate(-38%,25%);
    top: 20%;
    left: 62%;
    width: 25vw;
}

.homepage-header-content > h1 {
    margin:0;
    text-align: end;
}

.homepage-header-content-schoolname{
    color:black;
    font-family: 'Open Sans', sans-serif;
    font-size: calc(0.8rem + 0.5vw);
}
.homepage-header-content-schoolname::after{
    display: flex;
    content: "";
    border: 1px solid black;
    width: 368px;
    position: absolute;
    right: -1%;
}

.homepage-header-content-clubname{
    color:white;
    font-family: 'Lato', sans-serif;
    font-size: calc(5rem + 0.2vw);
    transform: translateY(-4%);
}

/*----------------------------
            Responsive
-----------------------------*/
 @media only screen and (max-width:1250px){
    .homepage-header-content{
        top:22%;
    }
    .homepage-header-content-schoolname{
        font-size: calc(0.7rem + 0.5vw);
    }
    .homepage-header-content-clubname{
        font-size: calc(4rem);
    }
}

@media only screen and (max-width:1246px){
    .homepage-header-column > div{
        width: 5vw;
    } 
    
}

@media only screen and (max-width:1090px){
    .homepage-header-content{
        width: 34vw;
    }
   
}
@media only screen and (max-width:1010px){
    .homepage-header-column > div{
        width: 5.5vw;
    } 
}

@media only screen and (max-width:1004px){
   
}


/*----------------------------
        Mobile header
-----------------------------*/
@media only screen and (max-width:768px){
    .homepage-header-logo{
        display:none;
    }
    .homepage-header-column{
        display: none;
    }
    .homepage-header-content{
        display: none;
    }
    .homepage-header-ellipse {
        height: 130vh;
        width: 110vw;
        background: linear-gradient(90deg,#cbbacc 2%,#2580b3);
        border-radius: 30%;
        transform: translate(-4%, -30%);
    }
    .homepage-header-orbits {
        width: 100vw;
        height: 90vw;
    }
    .homepage-header-orbit-one {
        width: 60vw;
        height: 60vw;
    }
    .homepage-header-orbit-two {
        width: 100vw;
        height: 100vw;
    }
    .homepage-header-orbit-three {
        width: 140vw;
        height: 140vw;
    }
    .homepage-header-orbit-four {
        width: 180vw;
        height: 180vw;
    }
    .mobile-homepage-header-menu{
        position: absolute;
        display: flex;
        top: 0%;
        right: 0;
        overflow: hidden;
    }
    .mobile-homepage-header-menu-area{
        background: white;
        overflow: hidden;
        transform: translate(46%, -40%);
        height: 240px;
        width: 240px;
        border-bottom-left-radius: 100%;
        border-top-left-radius: 100%;
    }
    .mobile-homepage-header-menu-icon{
        position: absolute;
        top: 16%;
        right: 16%;
        font-size: calc(2.5rem + 0.2vw);
        color:#231F20;
    }
     @keyframes mobile-column-move {
        from{
            height: 0;
            width: 0;
          
        }
    } 

    .mobile-homepage-header-column{
        height: 66px;
        width: 516px;
        position: absolute;
        display: flex;
        top: 20%;
        background: white;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        animation: mobile-column-move 1.5s;
    }
    .mobile-homepage-header-logo{
        width: auto;
        height: 6vh;
        position: absolute;
        top: 11%;
        left:12%;
        animation: mobile-column-move 0.5s;
    }
    .mobile-homepage-header-content-schoolname{
        transform: translate(35%, 2%);
        font-family: 'Open Sans', sans-serif;
        font-size: calc(1.3rem + 0.2vw);
        color:black;
        animation:mobile-column-move 0.5s;
    }
    .mobile-homepage-header-content{
        width: 30vw;
        height: 50vh;
        position: absolute;
        top: 23%;   
        display: inherit; 
    }
    .mobile-homepage-header-content-clubname{
        transform: translate(39%, 0%);
        font-size: calc(4.5rem + 0.3vw);
        font-family: 'Lato', sans-serif;
        color:white;
    }
    .mobile-homepage-header-button{
        height: 60px;
        width: 267px;
        position: absolute;
        display: flex;
        top: 75%;
        left: 50%;
        transform: translate(-50%);
        border: 1px solid white;
        border-radius: 15px;
    }
    .mobile-homepage-header-button-content{
        font-size: calc(2rem + 0.2vw);
        font-family: 'Lato', sans-serif;
        color: white;
        position: relative;
        left: 50%;
        transform: translate(-50%, 16%);
        margin: 0;
    }
    .mobile-homepage-header-button-circle{
        width: 60px;
        height: 60px;
        background: white;
        border-radius: 100%;
        position: relative;
        left:38%;
    }
    .mobile-homepage-header-button-icon{
        color: #2580b3;
        position: absolute;
        font-size: calc(1.5rem + 0.1vw);
        left: 50%;
        transform: translate(-50%, 57%);
    }
}

@media only screen and (max-width:570px){
    .mobile-homepage-header-menu-area {
        width: 210px;
        height: 210px;
    }
    .mobile-homepage-header-menu-icon{
        font-size: calc(2rem + 0.2vw);
    }
    .mobile-homepage-header-column{
        width: 420px;
    }
    .mobile-homepage-header-logo{
        top: 10%;
    }
    .mobile-homepage-header-content-schoolname {
        transform: translate(42%, 20%);
        font-size: calc(1rem + 0.2vw);
    }
}
@media only screen and (max-width:470px){
    .mobile-homepage-header-menu-area {
        width: 170px;
        height: 170px;
    }
    .mobile-homepage-header-menu-icon {
        font-size: calc(1.75rem + 0.2vw);
    }
    .mobile-homepage-header-column {
        width: 350px;
    }
    .mobile-homepage-header-logo{
        left: 9%;
    }
    .mobile-homepage-header-content-schoolname {
        transform: translate(38%, 27%);
        font-size: calc(0.9rem + 0.2vw);
    }
}
@media only screen and (max-width:370px){
    .mobile-homepage-header-menu-area {
        width: 150px;
        height: 150px;
    }
    .mobile-homepage-header-column {
        width: 338px;
    }
    .mobile-homepage-header-logo {
        left: 6%;
    }
    .mobile-homepage-header-content-schoolname {
        transform: translate(32%, 27%);
    }
}

@media only screen and (max-height:805px){
    .mobile-homepage-header-button {
        top:77%;
    }
    .mobile-homepage-header-logo {
        width: auto;
        height: 6vh;
        top:12%;
    }
    .mobile-homepage-header-content-schoolname {
        transform: translate(36%, 17%);
    }
}
@media only screen and (max-height:769px){
    .mobile-homepage-header-column{
        height: 58px;
        top:15%;
    }
    .mobile-homepage-header-content{
        top:16%;
    }
    .mobile-homepage-header-logo{
        top:8%;
    }
    .mobile-homepage-header-content-schoolname {
        transform: translate(36%, 9%);
    }
    
}
@media only screen and (max-height:680px){
    .mobile-homepage-header-menu-area {
        width: 150px;
        height: 150px;
    }
    .mobile-homepage-header-content-clubname {
        font-size: calc(4rem + 0.3vw);
    }
    .mobile-homepage-header-column{
        width: 322px;
    }
    .mobile-homepage-header-logo {
        top: 13%;
        left: 4%;
    }
    .mobile-homepage-header-content-schoolname {
        transform: translate(25%, 17%);
        font-size: calc(0.9rem + 0.2vw);
    }
}
@media only screen and (max-height:600px){
    .mobile-homepage-header-column {
        top: 10%;
        width: 418px;
    }
    .mobile-homepage-header-content {
        top: 11%;
    }
    .mobile-homepage-header-logo{
        left: 8%;
    }
    .mobile-homepage-header-content-schoolname {
        transform: translate(29%, 17%);
    }
}

@media only screen and (max-width: 768px) and (max-height: 556px){
    .homepage-header-orbits {
        height: 66vw;
    }
    .mobile-homepage-header-content {
        width: 95vw;
    }
    .mobile-homepage-header-column {
        width: 447px;
    }
    .mobile-homepage-header-logo {
        top: 8%;
        left: 12%;
    }
    .mobile-homepage-header-content-schoolname {
        transform: translate(39%, 17%);
    }
    .mobile-homepage-header-content-clubname {
        position: relative;
        transform: translate(-50%, 32%);
        text-align: center;
        left: 50%;
    }
    .mobile-homepage-header-button {
        height: 50px;
        width: 201px;
        top: 70%;
        transform: translate(-57%);
    }
    .mobile-homepage-header-button-content {
        font-size: calc(1.5rem + 0.2vw);
        transform: translate(-50%, 16%);
    }
    .mobile-homepage-header-button-circle {
        width: 50px;
        height: 50px;
        left: 35%;
    }
    .mobile-homepage-header-button-icon {
        font-size: calc(1rem + 0.1vw);
        transform: translate(-50%, 80%);
    }
    .mobile-homepage-header-menu-area {
        width: 225px;
        height: 225px;
    }
}
@media only screen and (max-width: 768px) and (max-height: 500px){
    .homepage-header-orbits {
        height: 58vw;
    }
}
@media only screen and (max-width: 768px) and (max-height: 450px){
    .homepage-header-orbits {
        height: 52vw;
    }
    .mobile-homepage-header-content-clubname{
        transform: translate(-50%, 15%);
    }
    .mobile-homepage-header-button{
        top:75%;
    }
}
@media only screen and (max-width: 768px) and (max-height: 402px){
    .homepage-header-orbits {
        height: 47vw;
    }
    .mobile-homepage-header-content-schoolname {
        transform: translate(44%, 12%);
        font-size: calc(1.1rem + 0.2vw);
    }
    .mobile-homepage-header-content {
        width: 75vw;
        left: 10%;
    }
    .mobile-homepage-header-content-clubname {
        font-size: calc(3.5rem + 0.3vw);
    }
    .mobile-homepage-header-button{
        top:70%;
    }

}
@media only screen and (max-width: 590px) and (max-height: 556px){
    .homepage-header-orbits {
        height: 100%;
    }
    .mobile-homepage-header-menu-area {
        width: 200px;
        height: 200px;
    }
    .mobile-homepage-header-column {
        width: 410px;
    }
    .mobile-homepage-header-logo {
        left: 8%;
        top: 15%;
        width: 8vw;
        height: auto;
    }
    .mobile-homepage-header-content-schoolname {
        transform: translate(29%, 17%);
    }
} 

@media only screen and (max-width: 528px) and (max-height: 556px){
    .mobile-homepage-header-menu-area {
        width: 180px;
        height: 180px;
    }
    .mobile-homepage-header-column {
        width: 372px;
        height: 59px;
    }
    .mobile-homepage-header-content-schoolname {
        font-size: calc(1rem + 0.2vw);
    }
    .mobile-homepage-header-content {
        left: 0;
        width: 100vw;
    }
    .mobile-homepage-header-content-clubname {
        font-size: calc(3.5rem + 0.3vw);
    }
}
@media only screen and (max-width: 485px) and (max-height: 556px){
    .mobile-homepage-header-menu-area {
        width: 150px;
        height: 150px;
    }
    .mobile-homepage-header-menu-icon {
        font-size: calc(1.7rem + 0.2vw);
    }
    .mobile-homepage-header-column {
        width: 347px;
    }
    .mobile-homepage-header-logo {
        left: 4%;
    }
    .mobile-homepage-header-content-schoolname {
        transform: translate(21%, 17%);
    }
}
@media only screen and (max-width: 444px) and (max-height: 556px){
    .mobile-homepage-header-menu-area {
        width: 130px;
        height: 130px;
    }
    .mobile-homepage-header-column {
        width: 315px;
    }
    .mobile-homepage-header-content-schoolname {
        font-size: calc(0.9rem + 0.2vw);
    }
    .mobile-homepage-header-content-clubname {
        font-size: calc(3rem + 0.3vw);
        transform: translate(-50%, 37%);
    }
}
@media only screen and (max-width: 380px) and (max-height: 556px){
    .mobile-homepage-header-column {
        width: 288px;
    }
    .mobile-homepage-header-logo {
        display: none;
    }
    .mobile-homepage-header-content-schoolname {
        transform: translate(8%, 17%);
    }
    .mobile-homepage-header-content-clubname {
        font-size: calc(2.8rem + 0.3vw);
    }
}