#homepage-photos{
    height: 100vh;
}
.homepage-photos-gallery{
    position: relative;
    width: 40%;
    height: 90%;
    left: 9%;
    top: 7%;
    float: left;
}
.homepage-photos-photo-area{
    height: 130px;
    margin: 10px;
    border-radius: 7px;
    box-shadow: 5px 5px 17px 0 #777;
    cursor: pointer;
}
.homepage-photos-photo-area img{
    width: 100%;
}

.homepage-photos-background-circle{
    position: relative;
    background: linear-gradient(30deg,rgba(203, 186, 204,0.7) 10%,rgba(37, 128, 179,.5));
    top:7%;
    left: 50%;
    width: 50%;
    height: 90%;
    border-radius: 50%;
}
.homepage-photos-show-area{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 50%;
    width: 70%;
    z-index: 2;
    border-radius: 10px;
}
.homepage-photos-show-area img{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    
}
@keyframes move-photo{
    0%{transform: translate(-50%);opacity: 0;}
    100%{transform: translate(0%);opacity: 1;}
}