
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
  body{
     height: 100vh;
     background-image: linear-gradient(#cbbacc,#2580b3);
 }
 /*-------------------------
    Homepage-Nav-Container
 --------------------------*/
#homepage-menu-toggle{
    position:absolute;
    z-index: 1;
}

 .homepage-nav{
    /*display: block;
    margin: 0 auto;*/
    position: absolute;
    width: 78%;
    left: 11%;
    top:-50%;
    background:rgba(255, 255,255,0.5);
    border-radius: 7px;
    transition: all 1s ease-out;
 }

 .homepage-nav-button-group{
    /*position: relative;
    top:50%;
    transform:translateY(-50%);*/
    padding:20px 0 20px;
    text-align: center;
 }

 .homepage-nav-button-group a{
     margin:0 55px;
     color:black;
     font-size: calc(0.7rem + 0.6vw);
     font-family:'Open Sans', sans-serif;
 }

 /*-------------------
    HomePage Menu Toggle
  --------------------*/
#homepage-menu-toggle{
    display: none;
}
.homepage-menu-toggle-icons{
    position: absolute;
    width:40px;
    height: 40px;
    z-index: 1;
    left:50%;
    transform: translateX(-50%);
    background-color: rgba(255,255,255,0.7);
    border-radius: 27px;
    text-align: center;
    transition: all 1s ease-in-out
}

.homepage-menu-toggle-icons i{
    font-size: 27px;
    margin: 7px;
    cursor: pointer;
}
.homepage-menu-toggle-icons >.fa-times{
    display: none;
}


#homepage-menu-toggle:checked ~.homepage-menu-toggle-icons >.fa-times{
    display: inline-block;
}
#homepage-menu-toggle:checked ~.homepage-menu-toggle-icons >.fa-bars{
    display:none;
}
#homepage-menu-toggle:checked ~ .homepage-nav{
    top:0;
}
#homepage-menu-toggle:checked ~ .homepage-menu-toggle-icons{
    top:15%;
}


/*----------------------------
    HOMEPAGE SOCIAL MEDIA BARS
------------------------------*/
.homepage-social-media-bar{
    position: fixed;
    width:11%;
    height: 100vh;
    text-align: center;
    
}
.homepage-social-media-bar-vl{
    position: relative;
    border-left:2px solid black;
    height:7rem;
    left:47%;
    animation:slide-little 1s 1 forwards ease-out;
}
@keyframes slide-little{
    0%{
        top:-10%;
    }
    100%{
        top:0;
    }
}
.homepage-social-media-bar-followus-text{
    position: absolute;
    font-weight: 500;
    font-size: 17px;
    text-align: start;
    width: max-content;
    margin: 11px 0;
    font-family: 'Open Sans', sans-serif;
    transform: rotate(90deg);
    border-left: 1px solid transparent;
    left: 50%;
    transform-origin: 0 0;
}
@keyframes slide-little{
    0%{
        top:-10%;
    }
    100%{
        top:0;
    }
}