#homepage-teams{
    height: 100vh;
    overflow: hidden;
}
.homepage-teams-background-columns{
    position: absolute;
    width: 19%;
    height: 100vh;
}
.homepage-teams-background-columns-left{
    transform: translate(-35%,25%);
}
.homepage-teams-background-columns-right{
    right: 0;
    transform: translate(50%,-15%);
}
.homepage-teams-background-column{
    position: relative;
    border-radius: 37px;
    margin: 70px 0;
    padding: 23px 0;
    transform: rotate(-33deg);
    background: rgba(0,0,0,0.11);
    width: 100%;
}
.homepage-teams-header-text{
    text-align: center;
    transform: translateY(7vh);
    font-size: calc(1rem + 0.5vw);
    font-family: 'Open Sans', sans-serif;
}
.homepage-teams-container{
    position: relative;
    top: 47%;
    left: 50%;
    width: 70%;
    height: 55%;
    transform: translate(-50%,-55%);
    display: flex;
}
.homepage-teams-buttons{
    position: relative;
    top:50%;
    cursor: pointer;
}
.homepage-teams-left-button{
    position: relative;
    left: 13%;
    cursor: pointer;
}
.homepage-teams-right-button{
    position: relative;
    left: 87%;
}
.homepage-team-window{
    background-color: white;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.6);
    width: 33.3%;
    border-radius: 25px;
    margin: 0 50px;
    text-align: center;
    transition: transform .5s ease;
}
.homepage-team-window:hover{
    transform: scale(1.5);
}
.homepage-team-window-previous{
    transform: skewY(-21deg)scale(0.9);
}
.homepage-team-window-middle{
    transform: scale(1.2);
}
.homepage-team-window-next{
    transform: skewY(21deg)scale(0.9);
}
.homepage-teams-container img{
    width: 19vh;
    position: relative;
    transform: translateY(50%);
}
.homepage-teams-container h1{
    position: relative;
    top: 30%;
}
.homepage-teams-gozat-button{
    position: relative;
    left: 50%;
    top: 27%;
    width: 25vh;
    transform: translateX(-50%);
}
.homepage-teams-gozat-button a {
    position: relative;
    display: block;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    border-radius: 21px;
    text-decoration: none;
    color: black;
}