#footer{
    width: 100%;
    background: transparent;
    margin-top: 50px;
}
.footer-area{
    width: 100%;
    height: 80%;
    position: relative;
}
.footer-titleAndLogo{
    left: 50%;
    display: flex;
    position: relative;
    transform: translate(-50% , -7%);
    width: 20vw;
}

.footer-logo-line{
    width: 85px;
    height: 75px;
    border-right: 3px solid black;
    padding: 0 10px;

}
.footer-logo{
    width: 60px;
    height: 60px;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}


.footer-title{
    /* padding: 10px 20px;
    margin: auto; */
    width: inherit;
    /* padding: 10px 17px; */
    display: grid;
    align-items: center;
    text-align: center;
    font-size: calc(0.7rem + 0.6vw);
    font-family: 'Alata', sans-serif;
}
.footer-black-line{
    bottom: 0;
    width: 100%;
    background: black;
    color: azure;
}
.footer-black-line-title{
    position: relative;
    padding: 8px;
    text-align: center;
    margin: 0;
}


/*      Footer Responsive
                            */
@media only screen and (max-width:1578px){
    .footer-titleAndLogo{
        width: 25vw;
    }
}
@media only screen and (max-width:1210px){
    .footer-titleAndLogo{
        width: 27vw;
    }
}
@media only screen and (max-width:1043px){
    .footer-titleAndLogo{
        width: 30vw;
    }
}
@media only screen and (max-width:915px){
    .footer-titleAndLogo{
        width: 34vw;
    }
}
@media only screen and (max-width:860px){
  
    .footer-area{
        height: unset;
        width: unset;
        position: unset;
    }
}
@media only screen and (max-width:777px){
    .footer-titleAndLogo{
        width: 40vw;
    }
    .footer-titleAndLogo{
        transform: translate(-50% , -12%);
    }

}
@media only screen and (max-width:646px){
    .footer-titleAndLogo{
        width: 45vw;
    }
}
@media only screen and (max-width:570px){
    .footer-titleAndLogo{
        width: 50vw;
    }
}
@media only screen and (max-width:488px){
    .footer-titleAndLogo{
        width: 57vw;
    }
    
}
@media only screen and (max-width:430px){
    .footer-titleAndLogo{
        width: 63vw;
    }
    
}
@media only screen and (max-width:380px){
    .footer-titleAndLogo{
        width: 72vw;
    }
}
@media only screen and (max-width:330px){
    .footer-titleAndLogo{
        width: 75vw;
    }
}
@media only screen and (max-height:679px){
    .footer-logo-line{
        height: 70px;
    }
}
@media only screen and (max-height:583px){
    .footer-logo-line{
        height: 65px;
    }
}
@media only screen and (max-height:513px){
    .footer-logo-line{
        height: 57px;
    }
}