body, html{
    margin: 0;
    height: 100vh;
}

#homepage-header{
    height:100vh;
    overflow: hidden;
}

/*----------------------------
            Ellipse
-----------------------------*/

.homepage-header-ellipse{
    overflow: hidden;
    transition: 1s;
    height: 258vh;
    width: 145vw; 
    background: linear-gradient(30deg,#cbbacc 10%,#2580b3);
    border-radius: 50%;
    top: -40%;
    transform: translate(9%, -31%);
}

/*----------------------------
            Logo
-----------------------------*/

.homepage-header-logo{
    width: 5%;
    height: auto;
    position: absolute;
    top:2%;
    left:10%;
    transition: 1s;
}

.homepage-header-logo:hover{
    width:7%;
}
.homepage-header-logo:hover ~ .homepage-header-ellipse{
    height: 238vh;
    width: 176vw;
}

/*----------------------------
            Orbits
-----------------------------*/

@keyframes orbits-move{
    from{transform: rotate(0deg) translate(50%, -50%);}
    to{transform: rotate(360deg) translate(50%, -50%);}
}

@keyframes orbits-move-reverse{
    from{transform: rotate(0deg) translate(50%, -50%);}
    to{transform: rotate(-360deg) translate(50%, -50%);}
}

@keyframes orbital-arrival-move{
    from{width: 0;
    height: 0;}
}

.homepage-header-orbits{
    right: 0;
    top: 0;
    position: absolute;
    width: 62vw;
    height: 48vw;
    overflow: hidden;
}

.homepage-header-orbits > div {
    position: absolute;
    border-radius: 100%;
    border: dashed 3px white;
    transform: translate(50%, -50%);
    right: 0;
    transform-origin: top right;
}

.homepage-header-orbit-one{
    width: 15vw;
    height: 15vw;
    animation: orbits-move 20s infinite forwards linear, orbital-arrival-move 0.25s;
    opacity: 1;
}

.homepage-header-orbit-two{
    width: 40vw;
    height: 40vw;
    opacity: 0.8;
    animation: orbits-move-reverse 40s infinite forwards linear, orbital-arrival-move 0.75s;
}

.homepage-header-orbit-three{
    width: 80vw;
    height: 80vw;
    opacity: 0.5;
    animation: orbits-move 60s infinite forwards linear, orbital-arrival-move 1.25s;
    
}

.homepage-header-orbit-four{
    width: 120vw;
    height: 120vw;
    opacity: 0.2;
    animation: orbits-move-reverse 90s infinite forwards linear, orbital-arrival-move 1.5s;
   
}

/*----------------------------
            Columns
-----------------------------*/

@keyframes column-move{
    from{height:0px;}
}

.homepage-header-column{
    height: 30vh;
    display: flex;
    width: auto;
    position: absolute;
    left:57%;
    top: 0;
}

.homepage-header-column > div {
    width: 4vw;
    background-color: white;
    animation: column-move 1s ;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.homepage-header-column-one{
    height: 6vh;
}

.homepage-header-column-two{
    height: 16vh;
    transform: translate(5vw);
}

.homepage-header-column-three{
    height: 26vh;
    transform: translate(10vw);
}

.homepage-header-column-four{
    height: 36vh;
    transform: translate(15vw);
}

/*----------------------------
            Content
-----------------------------*/

@keyframes content-move{
    from{transform:translate(17%,0);}
    to{transform:translate(17%,25%);}
}

.homepage-header-content{
    animation: content-move 1s;
    position: absolute;
    transform:translate(17%,25%);
    top: 20%;
    right: 25%;
    width: 27vw;
}

.homepage-header-content > h1 {
    margin:0;
    text-align: end;
}

.homepage-header-content-schoolname{
    color:black;
    font-family: 'Open Sans', sans-serif;
    font-size: calc(0.8rem + 0.5vw);
}

.homepage-header-content-clubname{
    color:white;
    font-family: 'Lato', sans-serif;
    font-size: calc(5rem);
    transform: translateY(-5%);
}