body, html{
    margin: 0;
    height: 100vh;
}

#homepage-header{
    height:100vh;
    overflow: hidden;
}

.mobil-hompage-header-column{
    display:none;
}
.mobil-hompage-header-content{
    display: none;
}
/*----------------------------
            Ellipse
-----------------------------*/

.homepage-header-ellipse{
    overflow: hidden;
    transition: 1s;
    height: 258vh;
    width: 145vw; 
    background: linear-gradient(30deg,#cbbacc 10%,#2580b3);
    border-radius: 50%;
    top: -40%;
    transform: translate(9%, -31%);
}

/*----------------------------
            Logo
-----------------------------*/

.homepage-header-logo{
    width: 5%;
    height: auto;
    position: absolute;
    top:2%;
    left:10%;
    transition: 1s;
}

.homepage-header-logo:hover{
    width:6%;
}
.homepage-header-logo:hover ~ .homepage-header-ellipse{
    height: 238vh;
    width: 176vw;
}

/*----------------------------
            Orbits
-----------------------------*/

@keyframes orbits-move{
    from{transform: rotate(0deg) translate(50%, -50%);}
    to{transform: rotate(360deg) translate(50%, -50%);}
}

@keyframes orbits-move-reverse{
    from{transform: rotate(0deg) translate(50%, -50%);}
    to{transform: rotate(-360deg) translate(50%, -50%);}
}

@keyframes orbital-arrival-move{
    from{width: 0;
    height: 0;}
}

.homepage-header-orbits{
    right: 0;
    top: 0;
    position: absolute;
    width: 62vw;
    height: 48vw;
    overflow: hidden;
}

.homepage-header-orbits > div {
    position: absolute;
    border-radius: 100%;
    border: dashed 3px white;
    transform: translate(50%, -50%);
    right: 0;
    transform-origin: top right;
}

.homepage-header-orbit-one{
    width: 15vw;
    height: 15vw;
    animation: orbits-move 20s infinite forwards linear, orbital-arrival-move 0.25s;
    opacity: 1;
}

.homepage-header-orbit-two{
    width: 40vw;
    height: 40vw;
    opacity: 0.8;
    animation: orbits-move-reverse 40s infinite forwards linear, orbital-arrival-move 0.75s;
}

.homepage-header-orbit-three{
    width: 80vw;
    height: 80vw;
    opacity: 0.5;
    animation: orbits-move 60s infinite forwards linear, orbital-arrival-move 1.25s;
    
}

.homepage-header-orbit-four{
    width: 120vw;
    height: 120vw;
    opacity: 0.2;
    animation: orbits-move-reverse 90s infinite forwards linear, orbital-arrival-move 1.5s;
   
}

/*----------------------------
            Columns
-----------------------------*/

@keyframes column-move{
    from{height:0px;}
}

.homepage-header-column{
    height: 30vh;
    display: flex;
    width: auto;
    position: absolute;
    left:57%;
    top: 0;
}

.homepage-header-column > div {
    width: 4vw;
    background-color: white;
    animation: column-move 1s ;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.homepage-header-column-one{
    height: 6vh;
}

.homepage-header-column-two{
    height: 16vh;
    transform: translate(5vw);
}

.homepage-header-column-three{
    height: 26vh;
    transform: translate(10vw);
}

.homepage-header-column-four{
    height: 36vh;
    transform: translate(15vw);
}

/*----------------------------
            Content
-----------------------------*/

@keyframes content-move{
    from{transform:translate(22%,0);}
    to{transform:translate(22%,25%);}
}

.homepage-header-content{
    animation: content-move 1s;
    position: absolute;
    transform:translate(22%,25%);
    top: 20%;
    right: 25%;
    width: 25vw;
}

.homepage-header-content > h1 {
    margin:0;
    text-align: end;
}

.homepage-header-content-schoolname{
    color:black;
    font-family: 'Open Sans', sans-serif;
    font-size: calc(0.8rem + 0.5vw);
}
.homepage-header-content-schoolname::after{
    display: flex;
    content: "";
    border: 1px solid black;
    width: 368px;
    position: absolute;
    right: -1%;
}

.homepage-header-content-clubname{
    color:white;
    font-family: 'Lato', sans-serif;
    font-size: calc(5rem);
    transform: translateY(-4%);
}

@media only screen and (max-width:1250px){
    .homepage-header-content{
        top:22%;
    }
    .homepage-header-content-schoolname{
        font-size: calc(0.7rem + 0.5vw);
    }
    .homepage-header-content-clubname{
        font-size: calc(4rem);
    }
}

@media only screen and (max-width:1246px){
    .homepage-header-column > div{
        width: 5vw;
    } 
    .homepage-header-content{
        right: 22%;
    }
}

@media only screen and (max-width:1090px){
    .homepage-header-content{
        width: 30vw;
    }
    .homepage-header-content{
        right: 24%;
    }
}
@media only screen and (max-width:1010px){
    .homepage-header-column > div{
        width: 5.5vw;
    } 
}

@media only screen and (max-width:1004px){
    .homepage-header-content{
        right: 22%;
    }
}

@media only screen and (max-width:768px){
    .homepage-header-logo{
        display:none;
    }
    .homepage-header-column{
        display: none;
    }
    .homepage-header-content{
        display: none;
    }
    .homepage-header-ellipse {
        height: 130vh;
        width: 110vw;
        background: linear-gradient(90deg,#cbbacc 2%,#2580b3);
        border-radius: 30%;
        transform: translate(-4%, -30%);
    }
    .homepage-header-orbits {
        width: 100vw;
        height: 90vw;
    }
    .homepage-header-orbit-one {
        width: 60vw;
        height: 60vw;
    }
    .homepage-header-orbit-two {
        width: 100vw;
        height: 100vw;
    }
    .homepage-header-orbit-three {
        width: 140vw;
        height: 140vw;
    }
    .homepage-header-orbit-four {
        width: 180vw;
        height: 180vw;
    }
    .mobil-homepage-header-column{
    height: 8vh;
    width: 58vw;
    position: absolute;
    display: flex;
    top: 25%;
    background: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    }
    .mobil-homepage-header-logo{
        width: 65px;
        height: 65px;
        transform: translate(113%, 15%);
    }
    .mobil-homepage-header-content-schoolname{
        transform: translate(21%, 15%);
        font-family: 'Open Sans', sans-serif;
        font-size: calc(1.5rem);
    }
    .mobil-homepage-header-content{
        width: 30vw;
        height: 50vh;
        position: absolute;
        top: 26%;    
    }
    .mobil-homepage-header-content-clubname{
        transform: translate(24%, 0%);
        font-size: calc(7rem);
        font-family: 'Lato', sans-serif;
        color:white;
    }
}