<div class="admin-panel-sidebar">
    <div class="admin-panel-sidebar-top-area">
        <div class="admin-panel-sidebar-logo-and-clubname">
            <p class="admin-panel-sidebar-clubname">BİLTEK</p>
            <div class="admin-panel-sidebar-logo-area">
                <img class="admin-panel-sidebar-logo" src="main/img/aybulogo.png">
            </div>
        </div>
    </div>
    <!-- PC Sidebar -->
    <div class="admin-panel-sidebar-bottom-area">
        <div class="admin-panel-sidebar-links">
            <ul class="sidebar-ul">
                <li class="sidebar-ul-li">
                    <a href="#">
                        <i class="fas fa-gem"></i>
                        <p>İstatistik</p>
                    </a>
                </li>
                <li class="sidebar-ul-li">
                    <a href="#">
                        <i class="fas fa-users"></i>
                        <p>Kullanıcılar</p>
                    </a>
                </li>
                <li class="sidebar-ul-li">
                    <a href="#">
                        <i class="fas fa-bookmark"></i>
                        <p>Hakkımızda</p>
                    </a>
                </li>
                <li class="sidebar-ul-li">
                    <a href="#" onclick="dropdown()">
                        <i class="fas fa-chess"></i>
                        <p>Takımlar</p>
                        <i class="fas fa-chevron-down i-dropdown"></i>
                    </a>
                    <ul class="sidebar-dropdown-team sidebar-ul" id="dropdown-team">
                        <li class="sidebar-dropdown-li sidebar-dropdown-team-li sidebar-ul-li">
                            <a href="#">
                                <i class="fas fa-chess-pawn"></i>
                                <p>Team 1</p>
                            </a>
                        </li>
                        <li class="sidebar-dropdown-li sidebar-dropdown-team-li sidebar-ul-li">
                            <a href="#">
                                <i class="fas fa-chess-pawn"></i>
                                <p>Team 2</p>
                            </a>
                        </li>
                        <li class="sidebar-dropdown-li sidebar-dropdown-team-li sidebar-ul-li">
                            <a href="#">
                                <i class="fas fa-chess-pawn"></i>
                                <p>Team 3</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-ul-li">
                    <a href="#">
                        <i class="fas fa-chalkboard-teacher"></i>
                        <p>Etkinlikler</p>
                    </a>
                </li>
                <li class="sidebar-ul-li">
                    <a href="#">
                        <i class="far fa-envelope"></i>
                        <p>Mesajlar</p>
                    </a>
                </li>
                <li class="sidebar-ul-li li-profil">
                    <a href="#">
                        <i class="far fa-user-circle"></i>
                        <p>Profil</p>
                    </a>
                </li>
            </ul>

        </div>
    </div>
</div>