<div class="admin-panel-box-line">
    <div class="sidebar-toggle-button">
        <i class="fas fa-arrow-left"></i>
    </div>
    <div class="admin-panel-box-content">
        <div class="admin-panel-box-profile">
            <img class="admin-panel-box-profile-img" src="/img/aybulogo.png">
            <div class="admin-panel-box-title-area">
                <p class="admin-panel-box-title-area-name">Osman Akol</p>
                <p class="admin-panel-box-title-area-degree">Başkan</p>
            </div>
        </div>
    </div>
</div>