<section id="footer">
    <div class="footer-titleAndLogo">
        <img class="footer-logo" src="\img\aybulogo.png">
        <div class="footer-title">Bilim Ve Teknoloji Kulübü</div>
    </div>
    <div class="footer-black-line">2020 BILTEK AYBU. All Rights Reserved.</div>
</section>