<section id="footer">
    <div class="footer-area">
    <div class="footer-titleAndLogo">
        <div class="footer-logo-line">
        <img class="footer-logo" src="main\img\aybulogo.png">
        </div>
        <div class="footer-title">Bilim Ve Teknoloji Kulübü</div>
        </div>
    </div>
    <div class="footer-black-line">
        <p class="footer-black-line-title"> © 2020 BILTEK AYBU. All Rights Reserved. </p>
    </div>
</section>