{{!-- Footer --}}
<section id="footer">
    <div class="footer">
        <div class="footer-wrapper">
            <img src="/WebSite2/img/aybulogo.png" class="footer-club-logo">
            <div class="footer-container">
                <h1 class="footer-clubname">Bilim Ve Teknoloji Kulübü</h1>

                <div class="footer-social-media-box">
                    <a href="https://www.instagram.com/aybubiltek/" target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://twitter.com/aybubiltek" target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="https://www.linkedin.com/company/aybubiltek/" target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a href="https://www.youtube.com/channel/UCXnCrwOdwtJF0wZiIQbz2-A" target="_blank"
                        rel="noopener noreferrer">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
                <p class="footer-copyright">&copy;2020 BILTEK AYBU. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</section>