<input type="checkbox" id="homepage-menu-toggle">
<label for="homepage-menu-toggle"class="homepage-menu-toggle-icons homepage-responsive-property">
    <i class="fa fa-bars" aria-hidden="true"></i>
    <i class="fa fa-times "aria-hidden="true"></i>
</label>

    <div class="homepage-nav homepage-responsive-property">
        <div class="homepage-nav-button-group">
            <a href="#">AnaSayfa</a>
            <a href="#">Hakkımızda</a>
            <a href="#">Etkinlikler</a>
            <a href="#">Takımlarımız</a>
            <a href="#">Fotoğraflar</a>
        </div>
    </div>

    <div class="homepage-mobil-nav homepge-mobil-responsive-property">
        <ul class="homepage-mobil-nav-button-group">
            <li><a href="#" data-content="AnaSayfa">AnaSayfa</a></li>
            <li><a href="#" data-content="Hakkımızda">Hakkımızda</a></li>
            <li><a href="#" data-content="Etkinlikler">Etkinlikler</a></li>
            <li><a href="#" data-content="Takımlarımız">Takımlarımız</a></li>
            <li><a href="#" data-content="Fotoğraflar">Fotoğraflar</a></li>
            <div class="homepage-mobile-social-media-bar-icons">
                <a href="#">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="#">
                     <i class="fab fa-instagram"></i>
                </a>
                <a href="#">
                    <i class="fas fa-plus-circle"></i>
                </a>
                <a href="#">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#">
                    <i class="fab fa-youtube"></i>
                </a>
            </div>
        </ul>
    </div>
    


<div class="homepage-social-media-bar homepage-responsive-property">
    <div class="homepage-social-media-bar-vl"></div>
    <div class="homepage-social-media-bar-followus-text" >
        bizi takip edin
    </div>
    <div class="homepage-social-media-bar-icons">
        <div class="homepage-social-media-bar-icon">
            <a href="#">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </div>

        <div class="homepage-social-media-bar-icon">
            <a href="#">
                <i class="fab fa-instagram"></i>
            </a>
        </div>

        <div class="homepage-social-media-bar-icon">
            <a href="#">
                <i class="fab fa-twitter"></i>
            </a>
        </div>

        <div class="homepage-social-media-bar-icon">
            <a href="#">
                <i class="fab fa-youtube"></i>
            </a>
        </div>

        <div class="homepage-social-media-bar-icon">
            <a href="google.com">
                <i class="fas fa-plus-circle"></i>
            </a>
        </div> 
        {{!-- <div class="homepage-social-media-bar-register-btn">
            <a href="#" >
                <i>Kayıt ol</i>
            </a>
        </div> --}}
    </div>
    <div class="homepage-social-media-bar-register-btn" >
            <a href="#"id="homepage-social-media-bar-register-btn-a" >
                <i>Kayıt ol</i>
            </a>
        </div>
</div>
