<section id="homepage-nav">
    <input type="checkbox" id="homepage-menu-toggle">
    <label for="homepage-menu-toggle"class="homepage-menu-toggle-icons homepage-responsive-property">
        <i class="fa fa-bars" aria-hidden="true"></i>
        <i class="fa fa-times "aria-hidden="true"></i>
    </label>

        <div class="homepage-nav homepage-responsive-property">
            <div class="homepage-nav-button-group">
                <a href="#homepage-header">AnaSayfa</a>
                <a href="#homepage-about-header">Hakkımızda</a>
                <a href="#homepage-events-part">Etkinlikler</a>
                <a href="#homepage-teams">Takımlarımız</a>
                <a href="#homepage-photos">Fotoğraflar</a>
            </div>
        </div>

        <div class="homepage-mobil-nav homepge-mobil-responsive-property">
            <ul class="homepage-mobil-nav-button-group">
                <li><a href="#homepage-header">AnaSayfa</a></li>
                <li><a href="#homepage-about-header">Hakkımızda</a></li>
                <li><a href="#homepage-events-part">Etkinlikler</a></li>
                <li><a href="##homepage-teams">Takımlarımız</a></li>
                <li><a href="##homepage-photos">Fotoğraflar</a></li>
                <div class="homepage-mobile-social-media-bar-icons">
                    <a href="https://www.linkedin.com/company/aybubiltek/" target="_blank"rel="noopener noreferrer">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a href="https://www.instagram.com/aybubiltek/" target="_blank"rel="noopener noreferrer">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="#">
                        <i class="fas fa-plus-circle"></i>
                    </a>
                    <a href="https://twitter.com/aybubiltek"target="_blank"rel="noopener noreferrer">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="https://www.youtube.com/channel/UCXnCrwOdwtJF0wZiIQbz2-A" target="_blank"rel="noopener noreferrer">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </ul>
        </div>
        


    <div class="homepage-social-media-bar homepage-responsive-property">
        <div class="homepage-social-media-bar-vl"></div>
        <div class="homepage-social-media-bar-followus-text" >
            bizi takip edin
        </div>
        <div class="homepage-social-media-bar-icons">
            <div class="homepage-social-media-bar-icon">
                <a href="https://www.linkedin.com/company/aybubiltek/" target="_blank"rel="noopener noreferrer">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </div>

            <div class="homepage-social-media-bar-icon">
                <a href="https://www.instagram.com/aybubiltek/" target="_blank"rel="noopener noreferrer">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>

            <div class="homepage-social-media-bar-icon">
                <a href="https://twitter.com/aybubiltek"target="_blank"rel="noopener noreferrer">
                    <i class="fab fa-twitter"></i>
                </a>
            </div>

            <div class="homepage-social-media-bar-icon">
                <a href="https://www.youtube.com/channel/UCXnCrwOdwtJF0wZiIQbz2-A" target="_blank"rel="noopener noreferrer">
                    <i class="fab fa-youtube"></i>
                </a>
            </div>

            <div class="homepage-social-media-bar-icon homepage-social-media-bar-plus-icon">
                <a href="#">
                    <i class="fas fa-plus"></i>
                </a>
            </div> 
        </div>
        <div class="homepage-social-media-bar-register-btn" >
                <a href="#"id="homepage-social-media-bar-register-btn-a" >
                    <i>Kayıt ol</i>
                </a>
            </div>
    </div>
</section>
