<nav class="navbar navbar-expand-lg">
    <div class="navbar-container" id="navbarNav">
        <img class="aybulogo" src="/views/img/aybulogo.png">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="">
                    <pt>Ana Sayfa</pt>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#about">
                    <pt>Hakkımızda</pt>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#teams">
                    <pt>Takımlarımız</pt>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#events">
                    <pt>Etkinlikler</pt>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#photos">
                    <pt>Fotoğraflar</pt>
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="animated-menu">

    <div class="nav">
        <a id="menu"><span></span></a>
        <ul id="navlist" class="animate-right">
            <li><a href="#">Ana Sayfa</a></li>
            <li><a href="#">Hakkımızda</a></li>
            <li><a href="#">Takımlarımız</a></li>
            <li><a href="#">Etkinlikler</a></li>
            <li><a href="#">Fotoğraflar</a></li>
        </ul>
        <div class="nav-footer"></div>
    </div>
</div>