<input type="checkbox" id="homepage-menu-toggle">
<label for="homepage-menu-toggle"class="homepage-menu-toggle-icons">
    <i class="fa fa-bars" aria-hidden="true"></i>
    <i class="fa fa-times "aria-hidden="true"></i>
</label>

    <div class="homepage-nav">
        <div class="homepage-nav-button-group">
            <a href="#">AnaSayfa</a>
            <a href="#">Hakkımızda</a>
            <a href="#">Etkinlikler</a>
            <a href="#">Takımlarımız</a>
            <a href="#">Fotoğraflar</a>
        </div>
    </div>


<div class="homepage-social-media-bar">
    <div class="homepage-social-media-bar-vl"></div>
    <div class="homepage-social-media-bar-followus-text" >
        bizi takip edin
    </div>
    {{!-- <div class="homepage-social-media-bar-icons"></div> --}}
</div>






{{!-- <nav class="navbar navbar-expand-lg" style="display: none;">
    <div class="navbar-container" id="navbarNav">
        <img class="aybulogo" src="/img/aybulogo.png">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="">
                    <pt>Ana Sayfa</pt>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#about">
                    <pt>Hakkımızda</pt>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#teams">
                    <pt>Takımlarımız</pt>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#events">
                    <pt>Etkinlikler</pt>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#photos">
                    <pt>Fotoğraflar</pt>
                </a>
            </li>
        </ul>
    </div>
</nav>

{{!-- <div class="d-nav">
    <div class="d-nav-right">
        <img class="d-nav-logo" src="/views/img/aybulogo.png">
        <div class="d-nav-vl"></div>
        <div class="d-nav-schoolName">
            <p>Ankara Yıldırım Beyazıt Üniversitesi</p>
        </div>
    </div>
    <div class="d-nav-left">
        <div class="d-nav-btn-group">
            <a href="#">AnaSayfa</a>
            <a href="#">Hakkımızda</a>
            <a href="#">Takımlarımız</a>
            <a href="#">Etkinlikler</a>
            <a href="#">Fotoğraflar</a>
        </div>
    </div>
</div>


<div class="deneme-nav">
    <div class="deneme-nav-left">
        <img class="deneme-nav-logo" src="/img/aybulogo.png">
        <div class="deneme-nav-vl"></div>
        <div class="deneme-nav-left-p">
            <p>BİLTEK</p>
        </div>
    </div>
    <div class="deneme-nav-right">
        <div class="deneme-nav-button-group">
            <a href="#">Ana Sayfa</a>
            <a href="#">Hakkımızda</a>
            <a href="#">Takımlarımız</a>
            <a href="#">Etkinlikler</a>
            <a href="#">Fotoğraflar</a>
        </div>
    </div>
</div>

<div class="animated-menu">

    <div class="nav">
        <a id="menu"><span></span></a>
        <ul id="navlist" class="animate-right">
            <li><a href="#">Ana Sayfa</a></li>
            <li><a href="#">Hakkımızda</a></li>
            <li><a href="#">Takımlarımız</a></li>
            <li><a href="#">Etkinlikler</a></li>
            <li><a href="#">Fotoğraflar</a></li>
        </ul>
        <div class="nav-footer"></div>
    </div>
</div> --}}