{{!-- NAVBAR --}}
<div class="homepage-header-navbar">
    <div class="header-navbar-main">

        <img class="homepage-header-navbar-aybu-logo" src="/WebSite2/img/aybulogo.png">
        <div class="homepage-header-group-navbar">
            <a href="#homepage-header">Anasayfa</a>
            <a href="#homepage-about">Hakkımızda</a>
            <a href="#homepage-teams">Takımlarımız</a>
            <a href="#homepage-events">Etkinlik</a>
            <a href="#homepage-photos">Galeri</a>
            <a href="#homepage-contact">İletişim</a>
        </div>

    </div>

</div>

{{!-- MOBİL NAVBAR --}}

<div id="homepage-mobil-part-no" class="homepage-header-mobil-navbar">
    <ul class="header-mobil-navbar-main">
        <li><a href="#homepage-header">Anasayfa</a>
            <hr>
        </li>
        <li><a href="#homepage-about">Hakkımızda</a>
            <hr>
        </li>
        <li><a href="#homepage-teams">Takımlarımız</a>
            <hr>
        </li>
        <li><a href="#homepage-events">Etkinlikler</a>
            <hr>
        </li>
        <li><a href="#homepage-photos">Galeri</a>
            <hr>
        </li>
        <li><a href="#homepage-contact">İletişim</a>
            <hr>
        </li>
    </ul>
</div>

<div class="mobil-navbar-photo"> <img class="homepage-mobil-navbar-logo" src="/WebSite2/img/mobilnavbarfoto.png">

    <i class="fa fa-bars" aria-hidden="true"></i>

</div>