body, html{
    margin: 0;
    height: 100%;
}
#errorpage-error{
    height: 100vh;
}
.errorpage-bground{
    background-size: cover;
    background-position: center;
    height: 100%;
    background-color: white;
    filter: brightness(78%);
}
.errorpage-clubname {
    top: 25px;
    transform: translateX(170px);
    position: absolute;
    background: black;
    font-size: calc(3.5rem + 0.5vw);
    font-family: 'Libre Barcode 39 Text', cursive;
}
.errorpage-clubname p{
    margin: 0px 3px;
    color: white;
}

.errorpage-boxes{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100vh;
    transform: translate(-50%, -50%);
}

.errorpage-box-homepage{
    width: 600px;
    height: 420px;
    transform: translate(-25%, 37%);
    
}
.errorpage-box-homepage.active{
    transform: translate(17%, 62%);
    box-shadow: 2px 5px 18px;
    transition: 2s;
    z-index: 200;
}
.errorpage-box-homepage img{
    height: 100%;
}

.errorpage-box-terminal{
    
    width: 600px;
    height: 420px;
    background-color: black;
    transform: translate(17%, -37%);
    box-shadow: 2px 5px 18px;
}
.errorpage-box-terminal.active{
    transform: translate(-25%, -63%);
    box-shadow: none;
    transition: 2s;
}

.errorpage-box-terminal-text-one{
    position: relative;
    top: 8%;
    font-size: calc(6.1rem + 0.5vw);
    margin: 0;
    color: green;
    text-shadow: 0 0 5px green;
    text-align: center;
    font-family: 'Shojumaru', cursive;
    animation: textclip 1s linear infinite;
}   
@keyframes textclip {
	50% {
        text-shadow: 1px 0  blue, -2px 0 red, -5px 0 green;
		
    }
    100%{
        text-shadow: -1px 0 blue, 2px 0 red, 5px 0 green;
    }
}
.errorpage-box-terminal-texts{
    margin-left: 14px;
    position: relative;
    top: 20%;
    font-family: 'Orbitron', sans-serif;
    font-size: 15px;
}
.errorpage-box-terminal-texts-row-one{
    margin: 5px 0;
}
.errorpage-box-terminal-text-two, .errorpage-box-terminal-text-three{
    color: rgb(73, 107, 5);
    text-shadow: 0 0 5px rgb(41, 61, 1);
}


.errorpage-box-terminal-username{
    color: rgb(1, 75, 136);
    text-shadow: 0 0 3px rgb(1, 75, 136);
    transition: 2s;
}
.errorpage-box-terminal-folder{
    color: purple;
    text-shadow: 0 0 3px purple;
}
