body, html{
    margin: 0;
    height: 100vh;
}
#homepage-header{
    height:100vh;
    overflow: hidden;
}

.homepage-header-ellipse{
    overflow: hidden;
    height: 258vh;
    width: 145vw; 
    background: linear-gradient(30deg,#cbbacc 10%,#2580b3);
    border-radius: 50%;
    top: -40%;
    transform: translate(9%, -31%);
}

.homepage-header-logo{
    width: 5%;
    height: auto;
    position: absolute;
    top:2%;
    left:10%;
    transition: 1s;
}
.homepage-header-logo:hover{
    width:7%;
}

.homepage-header-column{
    height: 30vh;
    display: flex;
    width: auto;
    position: absolute;
    left:55%;
    top: 0;
}

@keyframes orbits-move{
    from{transform: rotate(0deg) translate(50%, -50%);}
    to{transform: rotate(360deg) translate(50%, -50%);}
}

@keyframes orbits-move-reverse{
    from{transform: rotate(0deg) translate(50%, -50%);}
    to{transform: rotate(-360deg) translate(50%, -50%);}
}

@keyframes orbital-arrival-move{
    from{width: 0;
    height: 0;}
}
.homepage-header-orbits{
    right: 0;
    top: 0;
    position: absolute;
    width: 62vw;
    height: 46.4vw;
    overflow: hidden;
}
.homepage-header-orbit-one{
    width: 15vw;
    height: 15vw;
    position: absolute;
    border-radius: 100%;
    border: dashed 3px grey;
    transform: translate(50%, -50%);
    right: 0;
    animation: orbits-move 20s infinite forwards linear, orbital-arrival-move 0.25s;
    transform-origin: top right;
}
.homepage-header-orbit-two{
    width: 40vw;
    height: 40vw;
    position: absolute;
    border-radius: 100%;
    border: dashed 3px grey;
    transform: translate(50%, -50%);
    right: 0;
    animation: orbits-move-reverse 40s infinite forwards linear, orbital-arrival-move 0.75s;
    transform-origin: top right;
}

.homepage-header-orbit-three{
    width: 80vw;
    height: 80vw;
    position: absolute;
    border-radius: 100%;
    border: dashed 3px grey;
    transform: translate(50%, -50%);
    right: 0;
    animation: orbits-move 60s infinite forwards linear, orbital-arrival-move 1.25s;
    transform-origin: top right;
}

.homepage-header-orbit-four{
    width: 120vw;
    height: 120vw;
    position: absolute;
    border-radius: 100%;
    border: dashed 3px grey;
    transform: translate(50%, -50%);
    transform-origin: center;
    right: 0;
    animation: orbits-move-reverse 90s infinite forwards linear, orbital-arrival-move 1.5s;
    transform-origin: top right;
}

@keyframes column-move{
    from{height:0px;}
}

.homepage-header-column-one{
    height: 8vh;
    width: 4vw;
    background-color: white;
    animation: column-move 1s ;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
}

.homepage-header-column-two{
    height: 20vh;
    width: 4vw;
    transform: translate(5vw);
    background-color: white;
    animation: column-move 1s ;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
}

.homepage-header-column-three{
    height: 32vh;
    width: 4vw;
    transform: translate(10vw);
    background-color: white;
    animation: column-move 1s ;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
}

.homepage-header-column-four{
    height: 44vh;
    width: 4vw;
    transform: translate(15vw);
    background-color: white;
    animation: column-move 1s ;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
}

@keyframes content-move{
    from{transform:translate(55%,0);}
    to{transform:translate(55%,30%);}
}

.homepage-header-content{
    animation: content-move 1s;
    position: absolute;
    transform:translate(55%,30%);
    top: 30%;
    right: 25%;
}
.homepage-header-content-schoolname{
    color:black;
    font-family: 'Open Sans', sans-serif;
    font-size: calc(0.8rem + 0.5vw);
    margin:0;
}
.homepage-header-content-clubname{
    color:white;
    font-family: 'Lato', sans-serif;
    font-size: calc(3rem + 0.5vw);
    margin:0;
}