body, html{
    margin: 0;
    height: 100vh;
}

#hompage-header{
    height:100vh;
    overflow: hidden;
}

.hompage-header-ellipse{
    overflow: hidden;
    height: 168vh;
    width: 100vw; 
    background: linear-gradient(30deg,#cbbacc 10%,#2580b3);
    border-radius: 50%;
    position: absolute;
    top: -40%;
    transform: translateX(10%);
}

.hompage-header-logo{
    width: 5%;
    height: auto;
    position: absolute;
    top:2%;
    left:8%;
    transition: 1sn;
}

.hompage-header-logo:hover{
    width:7%;
   
}

.hompage-header-column{
    height: 30vh;
    display: flex;
    width: auto;
    position: relative;
    transform: translateX(55%);
}

@keyframes column-move{
    from{height:0px;}
}

.hompage-header-column-one{
    height: 8vh;
    width: 4vw;
    margin-right: 5%;
    background-color: white;
    animation: column-move 1s ;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
}

.hompage-header-column-two{
    height: 20vh;
    width: 4vw;
    margin-right: 5%;
    background-color: white;
    animation: column-move 1s ;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
}

.hompage-header-column-three{
    height: 32vh;
    width: 4vw;
    margin-right: 5%;
    background-color: white;
    animation: column-move 1s ;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
}

.hompage-header-column-four{
    height: 44vh;
    width: 4vw;
    margin-right: 5%;
    background-color: white;
    animation: column-move 1s ;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
}

@keyframes content-move{
    from{transform:translate(55%,0);}
    to{transform:translate(55%,25%);}
}

.hompage-header-content{
    animation: content-move 1s;
    position: relative;
    transform:translate(55%,25%);
}  

.hompage-header-content-schoolname{
    color:black;
    font-family: 'Open Sans', sans-serif;
    font-size: calc(0.8rem + 0.5vw);
    margin:0;
}

.hompage-header-content-clubname{
    color:white;
    font-family: 'Lato', sans-serif;
    font-size: calc(3rem + 0.5vw);
    margin:0;
}

