<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>auhtentication page</title>
</head>


<body>
  {{{body}}}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  <script src="/authentication/js/authentication.js"></script>
  <script src="/authentication/js/register.js"></script>
</body>
</html>