<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap&family=Roboto+Mono:wght@500&display=swap&family=Bellota&family=Bungee+Shade&family=Carter+One&family=Cinzel:wght@400;900&family=Comfortaa:wght@300;500;700&family=Dancing+Script:wght@500&family=Faster+One&family=Fredoka+One&family=Kalam:wght@300;400&family=Monoton&family=Montserrat:ital,wght@0,300;1,500;1,700&family=Parisienne&family=Quicksand:wght@400;700&family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/deneme.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <title>Coming Soon Page</title>
</head>

<body>
    {{{body}}}
</body>


</html>


