<!DOCTYPE html>
<html lang="tr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  <link href="/main/register/css/events-form.css" rel="stylesheet">
  <title>Etkinlik Formu</title>
  <link rel="shortcut icon" href="/main/img/aybulogo.png" type="image/x-icon">
</head>

<body>
  {{{body}}}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  <script src="/main/register/js/eventRegister.js"></script>
  {{!--
  <script src="/register/js/teamRegister.js"></script> --}}

  <script>
    function name_surname_f() {
      $("#name_surname").attr("placeholder", "İsim Soyisim*");
    }
    function name_surname_f2() {
      $("#name_surname").attr("placeholder", "");
    }

    function email_f() {
      $("#email").attr("placeholder", "Email*");
    }
    function email_f2() {
      $("#email").attr("placeholder", "");
    }
    function phoneNumber_f() {
      $("#phoneNumber").attr("placeholder", "Telefon");
    }
    function phoneNumber_f2() {
      $("#phoneNumber").attr("placeholder", "");
    }
  </script>

</body>

</html>