<!DOCTYPE html>
<html lang="tr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  <link href="/register/css/events-form.css" rel="stylesheet">
   <script src="/register/js/eventRegister.js"></script>
  <title>Etkinlik Formu</title>
</head>

  <body onload="getEventList()">
    {{{body}}}


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
   
  </body>
</html>