<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BİLTEK| Galeri</title>

    {{!-- CSS --}}

    {{!-- CSS  END--}}

</head>

<body>
    {{> navbar2}}
    {{{ body}}}
    {{> footer2}}

    {{!-- JS --}}

    {{!-- JS END --}}

</body>

</html>