<!DOCTYPE html>
<html lang="tr">

<head>
   <!-- Cloudflare Web Analytics -->
   <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "62a71637388343e5a3ed7a9780c3c074"}'></script><!-- End Cloudflare Web Analytics -->
   <!--Google Analytics-->
   <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CD5RLNJJL0"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-CD5RLNJJL0');
    </script>
   <!-- #End Google Analytics -->

    <link rel="canonical" href="https://www.aybubiltek.com/" />
    <meta name="title" content="AYBÜ Bilim ve Teknoloji Kulübü">
    <meta name="description"
        content="Ankara Yılıdırım Beyazıt Üniversitesi Bilim ve Teknoloji Kulübü okulumuz öğrencileri tarafndan 2011de kurulmutur. Kurulduğu günden itibaren bilime ve teknolojiye gönül veren katılımcılarıyla her daim faydalı ve  yenilikçi işler yapma hedefiyle canla başla çalışan bir grup ışık süzmesiyiz.">
    <meta name="keywords"
        content="bilim, science, teknoloji, technology, siber,  web, ankara, yldrm beyazt niversitesi">
    <meta name="robots" content="index, follow">
    <title>Ana Sayfa</title>
    <meta name="revisit-after" content="1 days">

    {{> homepageheader}}
</head>

<body>
    {{> homepage-nav}}

    {{{body}}}
    {{> footer}}
    {{> script}}
</body>

</html>