<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aybu BİLTEK</title>

    {{!-- CSS --}}
    <link rel="stylesheet" href="/WebSite2/HomePage/css/homepage-new-header.css">
    <link rel="stylesheet" href="WebSite2/HomePage/css/homepage-about2.css">
    <link rel="stylesheet" href="WebSite2/HomePage/css/homepage-events2.css">
    <link rel="stylesheet" href="WebSite2/HomePage/css/teams2.css">
    <link rel="stylesheet" href="WebSite2/Footer/css/footer.css">
    {{!-- CSS  END--}}

</head>

<body>
    {{> navbar2}}
    {{{ body}}}
    {{> footer2}}


    {{!-- JS --}}

    <script src="https://kit.fontawesome.com/fba63233b9.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            $(".fa-bars").click(function () {
                $(".homepage-header-mobil-navbar").toggle();
            });
        });

        $(window).resize(function () {
            var width = $(window).width();
            if (width > 992) {
                document.getElementById("homepage-mobil-part-no").style.display = "none";
            }
        });

    </script>

    {{!-- JS END --}}

</body>

</html>