<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aybu BİLTEK</title>

    {{!-- CSS --}}
<link rel="stylesheet" href="/WebSite2/Events/css/homepage-events2.css">
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    {{!-- CSS  END--}}

</head>

<body>
    {{> navbar2}}
    {{{ body}}}
    {{> footer2}}


    {{!-- JS --}}

    {{!-- JS END --}}

</body>

</html>