<!DOCTYPE html>
<html lang="tr">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-60966585-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-60966585-2');
    </script>

    <title>Ana Sayfa</title>
    {{> homepageheader}}
</head>

<body>
    {{> homepage-nav}}

    {{{body}}}
    {{> footer}}
    {{> script}}
</body>

</html>