<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BİLTEK| Takımlarımız</title>

    {{!-- CSS --}}
    <link rel="stylesheet" href="WebSite2/Navbar/css/navbar2.css">
    <link rel="stylesheet" href="WebSite2/Footer/css/footer.css">
    {{!-- CSS  END--}}

</head>

<body>
    {{> navbar2}}
    {{{ body}}}
    {{> footer2}}

    {{!-- JS --}}
    <script src="https://kit.fontawesome.com/fba63233b9.js" crossorigin="anonymous"></script>
    {{!-- JS END --}}

</body>

</html>