<main>
  <img class="bg" src="static/img/bg2-min.png" />
  <div class="container">
    <div class="area">
      <div class="info-area">
        <div class="main-title">
          <span>B</span>REAK<br />
          <span>T</span>HE<br />
          <span>G</span>LEIPNIR
        </div>
        <a href="/register">
          <div class="button-area">
            <div class="black-area">
              Kayıt Ol
            </div>
            <div class="pink-area">
              <i class="fas fa-arrow-right"></i>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</main>

<section id="btg">
  <div class="container">
    <div class="flex">
      <div class="content-area left">
        <div class="title before">
          <span>BTG</span>
          NEDİR?
        </div>
        <p class="text">
          BiltekCyber ekibi olarak gerçekleştirdiğimiz ve gerçekleştirecek
          olduğumuz etkinliklerle üyelerimizi siber güvenlik alanında
          geliştirmeyi hedefledik. Bu hedefin ilk aşaması olan eğitim bölümünü
          GrowHack adlı eğitim kampımız ile gerçekleştirdik. İkinci aşamamız ise
          üyelerimize kampımızda öğrenmiş oldukları teorik bilgileri
          deneyimleyebilecekleri bir test ortamı kurmaktı. Bu gayemiz için
          <b> 7 Ağustos 2021 Cumartesi</b>
          tarihinde Break The Gleipnir adını verdiğimiz yarışmamız sizlerle.
          GrowHack, Ülkemiz çapında siber güvenliğe hevesli, yeni başlayan
          arkadaşlarımıza bir başlangıç noktası olurken aynı zamanda diğer
          arkadaşlarımızın da var olan bilgilerini pekiştirecek kaynak sağlamak
          için düzenlediğimiz alanında uzman hocalarımızın anlatımıyla youtube
          kanalımız üzerinden canlı yayın olarak gerçekleştirdiğimiz bir eğitim
          serisidir. Şu ana kadar 7 farklı konuda toplam 14 saat eğitim süresine
          ve 3678 izlenmeye ulaşmış bulunmaktayız.<br />
          <b>Eğitimlerimize ulaşmak için tıklayınız </b>

        </p>
        <a
          class="button-area"
          href="https://www.youtube.com/playlist?list=PLbnJzvK63Ubut01dzhJMYvO2SqToYOMja"
          target="_blank"
        >
          <div class="black-area">
            Youtube
          </div>
          <div class="pink-area">
            <i class="fab fa-youtube"></i>
          </div>
        </a>
      </div>
      <div class="img-area">
        <img src="static/img/btg-man-min.png" />
      </div>
    </div>
  </div>
</section>

<section id="why">
  <div class="container">
    <div class="flex">
      <div class="img-area">
        <img src="static/img/fenrir-min.png" />
      </div>
      <div class="content-area right">
        <div class="title after">
          NEDEN
          <span>BREAK THE GLEIPNIR</span>
        </div>
        <p class="text">
          Takım logomuzda da bulunan Fenrir, İskandinav mitolojisine göre devasa
          boyutlarda, güçlü bir kurttur. Bir kehanete göre kıyamet olan
          Ragnarök’ta, Fenrir’in Odin’i öldüreceği öngörülmüştür. Bunu öğrenmiş
          olan Asgard tanrıları, Fenrir’in yanına giderek onu birbirinden farklı
          güçlerde olan zincirler ile gücünü test etmek istediklerini söyleyerek
          kandırırlar ancak Fenrir her dafasında o zincirleri kırar ta ki
          cüceler tarafından üretilen Gleipner adında, ip kadar ince bir pranga
          üretilene kadar. Gleipner’dan kurtulmaya çalıştıkça pranga daha sıkı
          bir hale gelmeye başlar ve bu yüzden Fenrir bu hileli prangadan
          Ragnarök gelene kadar kurtulamaz ve hapis kalır.
          <br />
          Sizleri
          <b> 7 Ağustos 2021 Cumartesi</b>
          günü Fenrir’i ve bu güçlü kurdu hapseden zinciri birlikte kırmaya
          davet ediyoruz.

        </p>
      </div>
    </div>
  </div>
</section>

<section id="process">
  <div class="container">
    <div class="title before">
      <span>SÜREÇ</span>
      NASIL İŞLEYECEK?
    </div>
    <div class="grid grid-4">
      <div class="process-card">
        <div class="process-card-header">
          <div class="counter-bg">01</div>
          <div class="counter">01</div>
        </div>
        <div class="process-card-info">
          <p class="text">
            Yarışmamız
            <b> 7 Ağustos 2021 Cumartesi</b>
            günü açılış konuşmamız ile başlayacak.
          </p>
        </div>
      </div>
      <div class="process-card">
        <div class="process-card-header">
          <div class="counter-bg">02</div>
          <div class="counter">02</div>
        </div>
        <div class="process-card-info">
          <p class="text">
            Sponsorlarımızın temsilcileriyle soru-cevap etkinliği
            gerçekleştirerek siber güvenlik dünyası hakkında merak edilen
            sorulara cevap bulacağız.
          </p>
        </div>
      </div>
      <div class="process-card">
        <div class="process-card-header">
          <div class="counter-bg">03</div>
          <div class="counter">03</div>
        </div>
        <div class="process-card-info">
          <p class="text">
            Etkinliğimizin bitmesiyle birlikte on iki saat sürecek olan yarışma
            serüvenimiz başlayacaktır.
          </p>
        </div>
      </div>
      <div class="process-card">
        <div class="process-card-header">
          <div class="counter-bg">04</div>
          <div class="counter">04</div>
        </div>
        <div class="process-card-info">
          <p class="text">
            Yarışmanın bitimiyle birlikte kazananlara ödüllerinin takdim
            edileceği ve kapanış konuşmasının gerçekleşeceği ödül törenimiz ile
            BTG'nin bu senelik sonuna geleceğiz.
          </p>
        </div>
      </div>
    </div>
    <br />
    <div class="center">
      <div class="button-area" onclick="modal('modal-process')">
        <div class="black-area">
          Detaylı Bilgi
        </div>
        <div class="pink-area">
          <i class="fas fa-arrow-right"></i>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="program">
  <div class="container">
    <div class="title center after under">
      <p>BTG <span>Programı</span></p>
    </div>
    <div class="content">
      <div class="subtitle">7 Ağustos Cumartesi</div>
      <div class="grid grid-3">
        <div class="webinar-card">
          <a href="https://www.linkedin.com/in/kaganisildak/" target="_blank">
            <img src="/static/img/webinar1.png" alt="">
          </a>
        </div>
        <div class="webinar-card">
          <a href="https://www.linkedin.com/in/mahiryuksel/" target="_blank">
            <img src="/static/img/webinar2.png" alt="">
          </a>
        </div>
        <div class="webinar-card">
          <a href="#" target="_blank">
            <img src="/static/img/webinar3.png" alt="">
          </a>
        </div>
        
        <div class="webinar-card">
          <a href="https://www.linkedin.com/in/mindspoof/" target="_blank">
            <img src="/static/img/webinar4.png" alt="">
          </a>
        </div>
        
        <div class="webinar-card">
          <a href="#" target="_blank">
            <img src="/static/img/webinar5.png" alt="">
          </a>
        </div>
        
        <div class="webinar-card">
          <a href="https://www.linkedin.com/in/ahmet-hamdi-atalay-9158984/" target="_blank">
            <img src="/static/img/webinar6.png" alt="">
          </a>
        </div>
        <div class="webinar-card empty"></div>
        
        <div class="webinar-card">
            <img src="/static/img/ctfStart.png" alt="">
        </div>
      </div>
      <div class="subtitle">8 Ağustos Pazar</div>
      <div class="grid grid-3">
        <div class="webinar-card">
            <img src="/static/img/ctfFinish.png" alt="">
        </div>
        <div class="webinar-card">
            <img src="/static/img/F.png" alt="">
        </div>
        <div class="webinar-card">
            <img src="/static/img/award.png" alt="">
        </div>
      </div>
      {{!-- <table>
        <thead>
          <tr>
            <th></th>
            <th>Saat</th>
            <th>Konuşmacı</th>
            <th>Şirket</th>
            <th>Konu</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td rowspan="7" class="date2"> 7 <br><br> AĞUSTOS</td>
          </tr>
          <tr>
            <td class="hour">13.30 - 13.45</td>
            <td>Kağan IŞILDAK</td>
            <td>Malwation <span><i>(Co-Founder)</i></span></td>
            <td>Açılış Konuşması</td>
          </tr>
          <tr>
            <td class="hour">13.45 - 14.15</td>
            <td>Mahir YÜKSEL
            </td>
            <td>Cyberthink
            </td>
            <td>Siber Tehdit Dönüşümü
            </td>
          </tr>
          <tr>
            <td class="hour">14.15 - 15.00</td>
            <td>Fatih COŞKUN - Mehmet Caner KÖROĞLU
            </td>
            <td>BlackBox Security -<br> Prisma CSI <span><i>(Co-Founder)</i></span>
            </td>
            <td>Siber Güvenlikte Kariyer
            </td>
          </tr>
          <tr>
            <td class="hour">15.00 - 15.30</td>
            <td>Eyüp ÇELİK
            </td>
            <td>Privia Security<span><i>(Founder)</i></span>
            </td>
            <td>Cyber Range Platformları
            </td>
          </tr>
          <tr>
            <td class="hour">15.30 - 16.15</td>
            <td>Furkan AĞIR - Mehmet Ali KERİMOĞLU
            </td>
            <td>InterProbe <span><i>(Kıdemli Siber İstihbarat Uzmanı
)</i></span> -<br> InterProbe <span><i>(Siber İstihbarat Uzman Yardımcısı
)</i></span> 
            </td>
            <td>Siber Güvenlikte Kariyer
            </td>
          </tr>
          <tr>
            <td class="hour">16.15 - 16.45</td>
            <td>Ahmet Hamdi ATALAY
            </td>
            <td>Akgün Teknoloji <span><i>(Yönetim Kurulu Başkan Vekili)</i></span> 
            </td>
            <td>Güvenli Yazılım Geliştirme
            </td>
          </tr>
          <tr>
            <td></td>
            <td class="hour pink">19.00</td>
            <td  colspan="4" class="pink">
              CTF Başlangıcı
            </td>
          </tr>
          <tr class="ctf-finish">
            <td></td>
            <td class="hour black">7.00</td>
            <td  colspan="4" class="black">
              CTF Bitişi
            </td>
          </tr>
        </tbody>
      </table> --}}
    </div>
  </div>
</section>

<section id="award">
  <div class="container">
    <div class="title center after under">
      <p><span>ÖDÜLLER</span></p>
    </div>

    <div class="content">
      <p class="text center">Break The Gleipnir , ödülleriyle karşınızda. Sen de
        bu serüvende takımınla veya bireysel olarak yerini almak istiyorsan
        bayrakları topla, büyük ödülleri ve sürpriz çekilişleri kazanma şansı
        yakala !</p>
      <div class="award-area grid grid-3">
        <div class="award-card award-1">
          <img src="/static/img/2.png" />
        </div>
        <div class="award-card award-2">
          <img src="/static/img/1.png" />
        </div>
        <div class="award-card award-3">
          <img src="/static/img/3.png" />
        </div>
      </div>
    </div>
  </div>
</section>

<section id="sponsors">
  <div class="container">
    <div class="title center after under">
      <p><span>SPONSORLARIMIZ</span></p>
    </div>

    <div class="content">
      {{! <p class="text center">BiltekCyber olarak biliyoruz ki değişimin bir
        parçası olmak istiyorsak bunu ancak yarattığımız farkındalıklarla
        gerçekleştirebiliriz. Yaptığımız ve yapacak olduğumuz her projemizi bu
        bilinç doğrultusunda hayata geçiriyoruz. Hedefimize giden bu yolda
        bizimle birlikte hem manevi hem de maddi destekleriyle değişimin bir
        parçası olmak isteyen ve davetimizi kırmayıp bize ulaşmak isteyen herkes
        info@aybubiltek.com üzerinden bize ulaşabilir. Break The Gleipnir’da
        görüşmek üzere.
      </p> }}
      <div class="flex">
        <a
          class="s-logo-box gold"
          href="https://interprobe.com.tr/"
          target="_blank"
        >
          <img src="/static/img/InterProbe.png" />
          <div class="star"></div>
        </a>
        <a class="s-logo-box gold" href="https://trapmine.com/" target="_blank">
          <img src="/static/img/trapmine.png" />
          <div class="star"></div>
        </a>
        <a
          class="s-logo-box silver"
          href="https://www.blackboxsecurity.org"
          target="_blank"
        >
          <img src="/static/img/blackBox.png" />
          <div class="star"></div>
        </a>
        <a
          class="s-logo-box bronze"
          href="https://www.akgun.com.tr/"
          target="_blank"
        >
          <img src="/static/img/akgun.png" />
          <div class="star"></div>
        </a>
        <a
          class="s-logo-box bronze"
          href="https://cyberthink.org"
          target="_blank"
        >
          <img src="/static/img/cyberthink3.png" />
          <div class="star"></div>
        </a>
        <a
          class="s-logo-box technical"
          href="https://www.priviasecurity.com"
          target="_blank"
        >
          <img src="/static/img/privia-min.png" />
          <div class="info"></div>
        </a>
        <a
          class="s-logo-box product"
          href="https://www.badbear.com.tr/"
          target="_blank"
        >
          <img src="/static/img/badBear_beyaz.png" />
          <div class="info"></div>
        </a>
        <a
          class="s-logo-box product"
          href="https://cyberpath.training/"
          target="_blank"
        >
          <img src="/static/img/cyberPath_logo.svg" />
          <div class="info"></div>
        </a>
        <a
          class="s-logo-box product"
          href="https://gaissecurity.com"
          target="_blank"
        >
          <img src="/static/img/gais-logo2.png" />
          <div class="info"></div>
        </a>
        <a
          class="s-logo-box product"
          href="https://www.instagram.com/neuneon.co/"
          target="_blank"
        >
          <img src="/static/img/neuneon logo.jpg" />
          <div class="info"></div>
        </a>
        <a
          class="s-logo-box adv"
          href="https://arkakapidergi.com/"
          target="_blank"
        >
          <img src="/static/img/arkaKapı-logo.png" />
          <div class="info"></div>
        </a>
        <a
          class="s-logo-box adv"
          href="https://www.cybermagonline.com/"
          target="_blank"
        >
          <img src="/static/img/cybermag-logo.png" />
          <div class="info"></div>
        </a>
        {{! <a
          class="s-logo-box adv"
          href="https://www.kampustenevar.com/"
          target="_blank"
        >
          <img src="/static/img/kampüste ne var logo.png" />
          <div class="info"></div>
        </a> }}
        <a
          class="s-logo-box adv"
          href="https://www.kodluyoruz.org/"
          target="_blank"
        >
          <img src="/static/img/kodluyoruz_logo.png" />
          <div class="info"></div>
        </a>
        <a
          class="s-logo-box adv"
          href="https://www.ogrencikariyeri.com/"
          target="_blank"
        >
          <img src="/static/img/ogrencikariyeri.png" />
          <div class="info"></div>
        </a>
      </div>
    </div>
  </div>
</section>

<section id="biltekcyber">
  <div class="container">
    <div class="flex">
      <div class="img-area">
        <img src="static/img/logo-beyaz-min.png" />
      </div>
      <div class="content-area right">
        <div class="title after">
          <span>BİLTEKCYBER</span>
          KİMDİR?
        </div>
        <p class="text">
          BiltekCyber takımı, 2015 yılında Ankara Yıldırım Beyazıt Üniversitesi
          Bilim ve Teknoloji Kulübü bünyesinde kurulmuştur. Kurulduğumuz
          tarihten itibaren gerek üniversite içi gerek üniversite dışı
          düzenlediğimiz etkinliklerle siber güvenlik alanına ilgi duyan
          bireylere çalışma ortamı sağlamaya çalışmaktayız. Günden güne adım
          adım büyüyen topluluğumuz içinde bulunduğumuz koşullarına rağmen aktif
          olarak çalışan 23 üyesiyle birlikte istikrarlı bir şekilde yoluna
          devam ediyor.

        </p>
      </div>
    </div>
  </div>
</section>

{{! <section id="register">
  <div class="container">
    <div class="title center after under">
      <p><span>KAYIT</span> OL</p>
    </div>
    <p class="text center white">
      Kayıtlarımız 19 Haziran 2021 Cuma günü başlayacaktır.
    </p>
    <div class="title huge center">
      <P>
        <span>ÇOOK </span>
        YAKINDA
      </P>
    </div>
    <p class="text center white">
      Daha hızlı haberdar olmak için sosyal medya hesaplarımızı takip
      edebilirsiniz.
    </p>
  </div>
</section> }}

<footer>
  <div class="container">
    <div class="flex">
      <p class="copyright">
        <i class="far fa-copyright"></i>
        2021 Gridea Tasarım Ekibi
      </p>
      <img class="footer-logo" src="/static/img/BiltekCyberWhite2-min.png" />
      <div class="social-area">
        <a
          class="social-link"
          href="https://www.instagram.com/aybubiltek/"
          target="_blank"
        ><i class="fab fa-instagram"></i></a>
        <a
          class="social-link"
          href="https://twitter.com/aybubiltek"
          target="_blank"
        ><i class="fab fa-twitter"></i></a>
        <a
          class="social-link"
          href="https://www.linkedin.com/company/aybubiltek/"
          target="_blank"
        ><i class="fab fa-linkedin-in"></i></a>
        <a
          class="social-link"
          href="https://www.youtube.com/channel/UCXnCrwOdwtJF0wZiIQbz2-A"
          target="_blank"
        ><i class="fab fa-youtube"></i></a>
      </div>
    </div>
  </div>
</footer>

<div class="modal-area modal-process">
  <div class="modal">
    <div class="modal-header">
      <div class="title center after under">
        <p><span>SÜREÇ</span>
          NASIL İŞLEYECEK?</p>
      </div>
    </div>
    <div class="content">
      <p>

        Break The Gleipnir, jeopardy ve attack/defense türlerinin ikisini de
        içinde bulunduran bir CTF (capture the flag) yarışmasıdır. Yarışma
        öncesinde BTG için özel olarak kurulan discord sunucumuzda
        yarışmacılarımızın hepsinin bulunduğu bir çalışma alanı
        oluşturulacaktır. Bu alanın amacı yarışmacılarımızın
        karşılaşabilecekleri herhangi bir sorunda bizlere hızlı bir şekilde
        ulaşabilmeleridir. Yarışmamız 7 Ağustos 2021 Cumartesi günü açılış
        konuşmamız ile başlayacak olup daha sonrasında sponsorlarımızın
        temsilcileriyle soru-cevap etkinliği gerçekleştirerek siber güvenlik
        dünyası hakkında merak edilen sorulara cevap bulurken aynı zamanda
        etkinlik sırasında gerçekleşecek çekilişlerimize katılımcılarımıza BTG
        hatırası göndermeyi istiyoruz. Bu etkinlik sayesinde biraz da olsa
        yarışmacılarımızın heyecanlarına pozitif yönde katkıda bulunmayı
        hedefliyoruz. Etkinliğimizin bitmesiyle birlikte on iki saat sürecek
        olan yarışma serüvenimiz başlayacaktır. Bu serüven boyunca etkinlik
        sorumlularımız yarışmacılar için oluşturulmuş olan çalışma alanında
        aktif olarak bulunacaktır. On iki saat dolunca sıra ödül törenine
        gelecektir. Ödül törenimizde hem kazanan yarışmacılara hem de
        sponsorlarımıza ödülleri takdim edilecek ve kapanış konuşması ile
        yarışmamızın bu senelik sonuna gelmiş olacağız. Bu serüveni bizlerle
        birlikte deneyimlemek isteyen herkes yarışmamıza katılım sağlayabilir.
        Yarışma için kayıtlarımız 19 Haziran 2021 Cuma günü başlayacaktır.

      </p>
    </div>
    <div class="modal-footer">
      <div class="button-area modal-close">
        <div class="black-area">
          Kapat
        </div>
        <div class="pink-area">
          <i class="fas fa-times"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-area modal-deneme">
  <div class="modal">
    <div class="title center after under">
      <p><span>SÜREÇ</span>
        NASIL İŞLEYECEK?</p>
    </div>
    <p>

      deneme

    </p>
    <div class="button-area modal-close">
      <div class="black-area">
        Kapat
      </div>
      <div class="pink-area">
        <i class="fas fa-times"></i>
      </div>
    </div>
  </div>
</div>