/*          About            */

body {
    height: 100vh;
    margin: 0;
}

.homepage-about {
    width: 1120px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}
.mobile-homepage-about-vision-icon{
    display: none;
}
/* .homepage-about-title{
    text-align: center;
    font-size: 30pt;
    top: 5%;
    position: relative;
} */

.homepage-about-area {
    width: 100%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.homepage-about-mission-icon,.homepage-about-vision-icon {
    width: 240px;
    height: 240px;
    margin: auto 0;
}

/*         About Content          */

.homepage-about-mission, .homepage-about-vision {
    width: 100%;
    height: 50%;
    display: flex;
    margin: 80px 0;
    align-items: center;
}

.homepage-about-text-area {
    width: 100%;
    height: 100%;
}

.homepage-about-left-title-area, .homepage-about-right-title-area {
    width: fit-content;
}

.homepage-about-right-title-area {
    display: block;
    margin-left: auto;
}

.homepage-about-vision-title, .homepage-about-vision-text {
    text-align: end;
}

.homepage-about-vision-title, .homepage-about-mission-title {
    font-size: 24pt;
    margin: 0;
}

/*          Title Lines          */

.homepage-about-mission-title, .homepage-about-vision-title::after {
    color: #83036B;
}

.homepage-about-vision-title, .homepage-about-mission-title::after {
    color: #F2424C;
}

.homepage-about-mission-title::after, .homepage-about-vision-title::after {
    height: 10px;
    width: 100%;
    display: block;
    content: "";
    border-top: 3px solid;
}

/*          Responsive           */

@media only screen and (max-width:1180px) {
    .homepage-about {
        width: 90%;
    }
    .homepage-about-vision-text{
        text-align: inherit;
    }
}

@media only screen and (max-width:768px) {
    .homepage-about {
        width: 80%;
    }
    .homepage-about-mission, .homepage-about-vision {
        display: contents;
    }
   
    .homepage-about-vision-icon {
        display: none;
    }
    .homepage-about-mission-icon,.mobile-homepage-about-vision-icon {
        width: 190px;
        height: 190px;
        display: block;
        margin: auto;
    }
    .homepage-about-left-title-area, .homepage-about-right-title-area {
        margin: auto;
        display: block;
    }
    .homepage-about-text-area>p {
        text-align: center;
    }
    .homepage-about-text-area {
        padding: 0 0 25px 0;
    }
}

@media only screen and (max-width:420px) {
    .homepage-about {
        width: 90%;
    }
}