body{
    margin: 0;
    }
    
    .homepage-header-part{
        margin: 0;
        padding: 80px;
    }
    
    /* ------
        NAVBAR PART
              ------- */
    
.homepage-header-navbar{
  width: -webkit-fill-available;
  height: 82px;
  position: relative;
  display: flex;
  z-index: 99;
  width: 100%;
       
}

.header-navbar-main{
  width: 1090px;
  display: flex;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

    .homepage-header-part-group-navbar{
        position: relative;
        font-size: 20px;
        display: flex;
        align-items: center;
        margin-left: auto;
        
    }
    
    .homepage-header-part-group-navbar>a{
      font-family: sans-serif;
      color: white;
      margin-right: 32px;
      padding: 3px;
      text-decoration: none;
    }
    
    .homepage-header-part-group-navbar>a:hover
    {
    text-decoration: underline;
    }
    
    .homepage-header-navbar-aybu-logo{
        height: 100%;
        transition: 1s;
        padding: 10px;
    }

    /* ------
    IMAGE PART
          ------- */
.homepage-header-main-photo{
    top: -6%;
    left: 0%;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  /* ------
   CONTENT PART
          ------- */

.homepage-header-contents{
    position: absolute;
    left: 50%;
    top: 32%;
    transform: translate(-50%,-50%);
  }
  .homepage-header-content-schoolname{
      color: white;
      font-size: 20px;
  }
  .homepage-header-content-clubname{
      color: white;
      font-size: 36px;}


      /* ------
    SOCİAL MEDİA PART
          ------- */

          .homepage-header-social-media-button {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            transform: translate(50%,50%);
            right: 50%;
            bottom: 32%;
            font-size: 16pt;
            
          }
          .homepage-header-social-media-button > div {
            box-shadow: 0 3px 7px 0px rgba(0, 0, 0, 0.35);
            border-radius: 39px;
            display: block;
            width: 60px;
            height: 60px;
            background: white;
            transition: all 0.7s;
            margin-right: 20px;
          }
         
    
          .homepage-header-commond-icon{
            position: relative;
            transition: width 0.2s ease-in-out;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
              }
          .fa-instagram{
            color: black;
          }
          .fa-twitter{
            color: #00CCFF;
          }
          .fa-youtube{
            color: black;
          }
          .fa-linkedin-in{
            color: #0066CC  ;
          }

          /* ------
      REGISTER BUTTON PART
          ------- */

      
      .homepage-header-register-button a {
        box-shadow: 0 3px 7px 0px rgba(0, 0, 0, 0.35);
        border-radius: 50px;
        display: inline-block;
        width: 100px;
        height: 100px;
        background: white;
        transition: all 0.7s;
        position: absolute;
        top: 50%;
        right: -50%;
        left: 50%;
        transform: translate(-50%,-50%);
        
    }

    .homepage-header-register-button .fas {
        position: relative;
        transition: width 0.2s ease-in-out;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        color: red;
        font-size: 30px;
    }

/* MOBİL NAVBAR  */
.homepage-mobil-navbar{
  border-radius: 31px;
  position: fixed;
  transform: translate(50%);
  right: 50%;
  background: #fbfbfb;
  bottom: 0;
  box-shadow: 0 8px 16px rgba(0,0,0,0.5);
  overflow: hidden;
  transition: all 1s;
  z-index: 100;

}  

/*
.see-navbar{

  height: auto !important;
}
 
*/

.smallnavbar{
  border-radius: 31px;
  position: relative;
  z-index: 2;
  list-style-type: none;
  margin: 0;
  padding: 20px 0 110px;
  height: 300px;
  width: 350px;
  

}

.homepage-mobil-navbar li > a{
  display: block;
  text-decoration: none;
  color: black;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  line-height: 3;
  letter-spacing: 0;
  transition: all 200ms ease;
  border-radius: 29px;

}

.homepage-mobil-navbar li{
  text-align: center;
  top: 0;
  position: relative;

}

.homepage-mobil-navbar li:hover{
  background-color:white;
  border-radius: 31px;

}

.homepage-menu-toggle {
  position: relative;
  transform: translateY(44px);
}

.navbarphoto{
  position: fixed;
  bottom: 0%;
  right: 50%;
  width: 200px;
  height: 100px;
  transform: translate(50%);
  z-index: 100;
}
    
.homepage-mobil-navbar-logo{
 
  position: relative;
  height: 100%;
  left: 50%;
  transform: translate(-50%);

}

.navbarphoto i {
  font-size: 35px;  
  cursor: pointer;
  position: absolute;
  transform: translate(-50%,101%);
  left: 50%;
  color: white;
}




.homepage-mobil-navbar li>hr{
  display: block;
  unicode-bidi: isolate;
  margin-block-start: -0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: 120px;
  margin-inline-end: 120px;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
  position: relative;
 transform: translateY(7px);
}

/* RESPONSİVE */ 

@media screen and (max-width: 9999px) {
  .homepage-mobil-navbar{
    display: none;
    }

    .homepage-mobil-navbar-logo{
      display: none;
    }

  }

  @media screen and (max-width: 1200px) {
    .homepage-navbar{
      width: 90%;
  }
  }
  
  @media screen and (max-width: 992px) {
    .homepage-header-part-of-navbar{
     display: none;
  }
  
  .homepage-mobil-navbar-logo{
    display: inline;
  }
  
  }
  
  @media screen and (max-width: 600px) {
    .smallnavbar{
      height: 250px;
      width: 300px;
      padding: 20px 0 161px;
  
    }
    .homepage-mobil-navbar li>hr{
  
      margin-inline-start: 90px;
      margin-inline-end: 90px;
    }
  
  }
  


  
  