@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

body{
    margin: 0;
    font-family: "Open Sans" , sans-serif;
    }
    
    .header2 {
      width: 100%;
      height: 100vh;
      background-image: url("/WebSite2/img/header-background.png");
      background-size: cover;
      background-position: center;
    }
    
    /* ------
        NAVBAR PART
              ------- */
    

  
  /* CONTENT PART */

  .header-content {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    height: 600px;
  }
  
  .header-head {
    position: absolute;
    top: 0;
    width: 100%;
  }

  .school-name {
    font-size: calc(0.5rem + 0.9vw);
  }
  
  .club-name {
    font-size: calc(1rem + 2.7vw);
    margin: 0 auto;
  }
  
  .header-head p {
    color: white;
  }

      
    /* SOCİAL MEDİA PART  */

    .header-social-btn {
      position: absolute;
      bottom: 0;
      width: 100%;
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
    }
    
    .header-social-btn a {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      display: grid;
      place-items: center;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
      margin: 0 10px;
      text-decoration: none;

    }
    
    .header-social-btn a i {
      font-size: x-large;
    }

    .fa-instagram{
      color: black;
    }
    .fa-twitter{
      color: #00CCFF;
    }
    .fa-youtube{
      color: black;
    }
    .fa-linkedin-in{
      color: #0066CC  ;
    }


    /* REGISTER BUTTON PART  */


  .header-reg-btn {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}

.reg-btn {
  width: 125px;
  height: 125px;
  border: none;
  background-color: white;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
  outline: unset;
  cursor: pointer;
}

.reg-btn i {
  font-size: 40px;
  color: #f2424c;
}





/* RESPONSİVE */ 





  @media screen and (max-height: 850px) {
    .header-content {
      height: 468px;
    }
  
    .school-name {
      margin: 7px;
    }
  }
 


  @media screen and (max-width: 1440px) and (max-height: 600px) {
    .header-content {
      height: 408px;
    }
  }
  
  @media screen and (max-width: 992px) {
    .header-content {
      height: 70%;
    }
  
    .school-name {
      font-size: calc(0.5rem + 1.3vw);
      margin: 16px;
    }
  
    .club-name {
      font-size: calc(1rem + 3.1vw);
    }
  
    .header-social-btn {
      bottom: 38px;
    }
  }
  
  @media screen and (max-width: 992px) and (max-height: 600px) {
    .reg-btn {
      width: 90px;
      height: 90px;
    }
  
    .reg-btn i {
      font-size: 27px;
    }
  
    .header-social-btn a {
      width: 50px;
      height: 50px;
    }
  
    .header-social-btn a i {
      font-size: inherit;
    }
  }
  
  @media screen and (max-width: 992px) and (max-height: 520px) {
    .header-content {
      height: 93%;
    }
  
    .header-social-btn {
      bottom: 75px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .header-content {
      width: 60%;
    }
  
    .club-name {
      font-size: calc(1.4rem + 3.1vw);
    }
  
    .reg-btn {
      width: 100px;
      height: 100px;
    }
  
    .reg-btn i {
      font-size: 32px;
    }
  
    .header-social-btn {
      bottom: 70px;
    }
  }
  
  @media screen and (max-width: 768px) and (max-height: 674px) {
    .header-content {
      height: 88%;
    }
  
    .header-social-btn {
      bottom: 98px;
    }
  }
  
  @media screen and (max-width: 768px) and (max-height: 512px) {
    .header-content {
      width: 80%;
    }
  
    .header-social-btn {
      bottom: 25px;
    }
  }
  
  @media screen and (max-width: 768px) and (max-height: 420px) {
    .header-content {
      height: 78%;
    }
  
    .school-name {
      display: none;
    }
  }
  
  @media screen and (max-width: 538px) {
    .header-content {
      width: 320px;
    }
  }



  
 