body,
html {
  margin: 0;
  height: 100vh;
}

#header {
  height: 100vh;
}

.bground {
  /*on top, on bottom vb özelliklerde de kullanabilirsiniz*/
  background-image: linear-gradient(black, rgba(0, 0, 0, 0.2)),
    url("https://images.pexels.com/photos/256262/pexels-photo-256262.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.schoolName{
  position: absolute;
  width: auto;
  height: auto;
  top: 25vh;
  left: 20vh;
  right: 125vh;
  text-align: left;
  cursor: pointer;
}

.kutu{
  width: 60vh;
  height: 55vh;
  background-color: white;
  position: absolute;
  left: 80%;
  right: 50%;
  opacity: 0.8;
}

.header-msg{
  font-family: 'Aldrich', sans-serif;
    font-size: 3vh;
    color:black;
    text-align: center;
    position: absolute;
    top: 2vh;
    left: 10%;
}
  
.header-msg2{ 
  font-family: 'Aldrich', sans-serif;
  font-size: 9vh;
  text-align: center;
  color:black;
  position: absolute;
  top: 10vh;
}

.button-info{
  font-family: 'Aldrich', sans-serif;
  font-size: 2vh;
  text-align: center;
  color:black;
  position: absolute;
  top: 46vh;
  left: 16vh;
}

.button {
  position: absolute;;
  margin-top: 82%;
   margin-left: 20vh;
  background:linear-gradient(to right, #304352 0%, #d7d2cc 51%, #304352 100%);
  border:1px solid white;
  padding:20px;
  font-size:2vh;
  box-shadow:4px 4px 0px 0px white;
  font-family: 'Aldrich', sans-serif;
  font-weight:700;
  letter-spacing:5px;
  transition: all 300ms ease-in-out;
  ;
}

.button:hover {
  left:4px;
  top:4px;
  box-shadow:0 0 0 0 white;
}



