body, html{
    margin: 0;
    height: 100vh;
  }
  #header{
    height: 100vh;
  }
  
  .bground{
    /*on top, on bottom vb özelliklerde de kullanabilirsiniz*/
    background-image:linear-gradient(black, rgba(0,0,0,0.2)), url("../img/alt2.jpg");
    /* background-blend-mode: darken; */
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  
  .schoolName{
    position: absolute;
    width: auto;
    height: auto;
    top: 22vh;
    left: 20vh;
    right: 30vh;
    text-align: left;
    cursor: pointer;
  
  
  }
  
  .header-msg{
    font-family: 'Aldrich', sans-serif;
    font-size: 5vh;
    color: white;
    position: absolute;
    text-align: left;
    right: 75vh;
    left: 23vh;
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7);	
  }
  
  .header-line{
    font-size: 32vh;
    position: absolute;
    left: 78vh;
    top: -33vh;
    color: white;
  text-shadow: 1px 1px 2px black, 
               0 0 25px blue, 
               0 0 5px darkblue;
    
  }

  .header-msg2{
    color: white;
    font-family: 'Aldrich', sans-serif;
    font-size: 8vh;
    display: inline-flex;
    position: absolute;
    left: 87vh;
    right: 10vh;
    text-align: left;
    top: 5vh;
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7);	
  }

  
  
  
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 11vh;
    width: 40vh;
    text-decoration: none;
    border: none;
    position: absolute;
    overflow: hidden;
    left: 25vh;
    top: 43vh;
    color: white;
    font-family: 'Aldrich', sans-serif;
    font-size: 4vh;
    box-shadow: 1px 1px 20px black, 0 0 11px white, 0 0 60px darkblue;
  }
  
 
  
  .button:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100vh;
    width: 100vh;
    height: 100vh;
    background: linear-gradient(
      120deg,
      transparent,
      rgba(146, 148, 248, 0.4),
      transparent
    );
    transition: all 650ms;
  }
  
  .button:hover:before {
    left: 100vh;
  }
  