
body, html{
  margin: 0;
  height: 100vh;
}
#header{
  height: 100vh;
}

.bground{
  background: url("../img/aybu_homepage_background.jpeg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}