
body, html{
  margin: 0;
  height: 100vh;
}
#header{
  height: 100vh;
}

.bground{
  background: url("../img/aybu_homepage_background.jpeg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.schoolName{
  position: absolute;
  width: auto;
  height: auto;
  top: 25%;
  left: 10%;
  right: 60%;
  text-align: left;


}

#header-msg{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  color: white;
}
#header-msg::before{
    content: '';
    display: block;
    height: 6px;
    width: 15vw;
    background-color: white;
}

#header-msg2{
  color:white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 70px;
}

.button {

  display: inline-block;

  background-color:transparent;
  color: white;
  border:2px solid white;
  text-align: center;
  font-size: 25px;
  padding: 12px;
  width: 260px;

  margin: 6px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}