
body, html{
  margin: 0;
  height: 100vh;
}
#header{
  height: 100vh;
}

.bground{
  /*on top, on bottom vb özelliklerde de kullanabilirsiniz*/
  background-image:url("../img/alt2.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.schoolName{
  position: absolute;
  width: auto;
  height: auto;
  top: 20vh;
  left: 20vh;
  right: 125vh;
  text-align: left;


}

#header-msg::before{
  content: '';  
  display: block;
  height: 5px;
  width: 15vw;
  background-color: white;
  margin-bottom: 10px;
}

#header-msg{
  font-family: 'Aldrich', sans-serif;
  font-size: 30px;
  color: white;
  margin-bottom: 0px;
}


#header-msg2{
  margin-top: 0px;
  color:white;
  font-family: 'Aldrich', sans-serif;
  font-size: 70px;
  margin-bottom: 30px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 11vh;
  width: 40vh;
  text-decoration: none;
  border: 1px solid rgb(44, 47, 216);
  box-shadow: 1px 1px 2px black, 
  0 0 25px blue, 
  0 0 5px darkblue;
  cursor: pointer;
  position: absolute;
  overflow: hidden;
  background-color:transparent;
  top: 55vh;
  color: white;
  font-family: 'Aldrich', sans-serif;
  font-size: 4vh;
}

.button:hover {
  box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
}

.button:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(146, 148, 248, 0.4),
    transparent
  );
  transition: all 650ms;
}

.button:hover:before {
  left: 100%;
}
