@import url("https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,700");
.animated-menu {
  position: fixed;
  width: 100%;
  z-index: 99;
}
.animated-menu h1 {
  font-family: "Comfortaa", cursive;
  font-size: 20px;
  color: #9e9e9e;
  text-align: center;
  padding-top: 20px;
}
.animated-menu .nav {
  position: absolute;
  display:none;
  top: 0;
  height: 5vh;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  width: 100%;
}/* transform: perspective(200px) rotate(180deg) animate-right*/
.animated-menu .nav ul {
  margin: 44px auto 0px auto;
  width: 70%;
  padding: 55px 30px 30px 30px;
  border-radius: 5%;
  -webkit-transition: lineat 0.4s;
  -o-transition: lineat 0.4s;
  transition: lineat 0.4s;
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  -webkit-transform: perspective(200px) rotate(0deg);
  transform: perspective(200px) rotate(0deg);
  -webkit-transition: cubic-bezier(0.65, 0.05, 0.36, 1) 0.7s;
  -o-transition: cubic-bezier(0.65, 0.05, 0.36, 1) 0.7s;
  transition: cubic-bezier(0.65, 0.05, 0.36, 1) 0.7s;
  z-index: 1;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#b224ef), to(#7579ff));
  background: -webkit-linear-gradient(#b224ef, #7579ff);
  background: -o-linear-gradient(#b224ef, #7579ff);
  background: linear-gradient(#b224ef, #7579ff);
}
.animated-menu .nav ul.animate-right {
  -webkit-transition: cubic-bezier(0.65, 0.05, 0.36, 1) 1s;
  -o-transition: cubic-bezier(0.65, 0.05, 0.36, 1) 1s;
  transition: cubic-bezier(0.65, 0.05, 0.36, 1) 1s;
  -webkit-transform: perspective(200px) rotate(180deg);
  transform: perspective(200px) rotate(180deg);
  border-radius: 10%;
  width: 3%;
}
.animated-menu .nav ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.animated-menu .nav ul li a {
  font-family: "Comfortaa", cursive;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: calc(0.8rem + 0.3vw);
  margin: 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 20px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: linear 0.2s;
  -o-transition: linear 0.2s;
  transition: linear 0.2s;
}
.animated-menu .nav ul li a:hover {
  background: #fff;
  color: #333;
}
.animated-menu .nav #menu {
  -webkit-transition: linear 0.4s;
  -o-transition: linear 0.4s;
  transition: linear 0.4s;
  height: 5rem;
  width: 5rem;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 2%;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  border: 1px solid #ccc;
  border-radius: 50%;
  z-index: 2;
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.animated-menu .nav #menu span, .animated-menu .nav #menu:after, .animated-menu .nav #menu:before {
  content: "";
  height: 3px;
  width: calc(1.5rem + 0.1vw);
  background: #3f51b5;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  -webkit-transition: linear 0.3s;
  -o-transition: linear 0.3s;
  transition: linear 0.3s;
}



/*Uselesss   */
.animated-menu .nav #menu:after {
  top: 60%;
}
.animated-menu .nav #menu:before {
  top: 40%;
}
.animated-menu .nav #menu span {
  opacity: 1;
  top: 50%;
}
.animated-menu .nav #menu.active {
  -webkit-box-shadow: 0px 0px 12px 1px rgba(175, 37, 240, 0.45);
  box-shadow: 0px 0px 12px 1px rgba(175, 37, 240, 0.45);
}
.animated-menu .nav #menu.active:after {
  -webkit-transform: translateX(-18px) translateY(-9px) rotate(45deg);
  -ms-transform: translateX(-18px) translateY(-9px) rotate(45deg);
  transform: translateX(-20px) translateY(-8px) rotate(45deg);
  margin-left: 9%;
  -webkit-transition: linear 0.3s;
  -o-transition: linear 0.3s;
  transition: linear 0.3s;
}
.animated-menu .nav #menu.active:before {
  -webkit-transform: translateX(-20px) translateY(7px) rotate(-45deg);
  -ms-transform: translateX(-20px) translateY(7px) rotate(-45deg);
  transform: translateX(-20px) translateY(8px) rotate(-45deg);
  margin-left: 11%;
  -webkit-transition: linear 0.3s;
  -o-transition: linear 0.3s;
  transition: linear 0.3s;
}
/*Uselesss                   */



.animated-menu .nav #menu.active span {
  -webkit-transition: linear 0.3s;
  -o-transition: linear 0.3s;
  transition: linear 0.3s;
  opacity: 0;
}


.animated-menu .nav-footer {
  position: fixed;
  top: 0px;
  height: 100%;
  width: 100%;
  background: #7579ff;
  z-index: 1;
  left: 0;
}
.animated-menu .illustration {
  margin: auto;
}
.animated-menu .illustration svg {
  width: 80%;
  height: 80%;
  left: 50%;
  position: relative;
  transform: translate(-50%);
  margin-top: 10%;
}
@media screen and (max-width: 768px){
  .animated-menu .nav{
    display: flex;
  }
}

@media screen and (max-height:700px){
  .animated-menu .nav #menu{
    width: 4rem;
    height: 4rem;
  }
  .animated-menu .nav #menu.active:before{
    transform: translateX(-19px) translateY(8px) rotate(-45deg);
  }
  .animated-menu .nav #menu.active::after{
    transform: translateX(-18px) translateY(-5px) rotate(45deg);
  }
  .animated-menu .nav ul{
    padding: 30px 30px 20px 30px;
  }
  .animated-menu .nav ul{
    margin: 39px auto 0px auto;
  }
}

@media screen and (max-height:478px){
  .animated-menu .nav ul{
    padding: 30px 30px 5px 30px;
  }
  .animated-menu .nav #menu span, .animated-menu .nav #menu:after, .animated-menu .nav #menu:before{
   width: calc(1.2rem + 0.1vw); 
  }
  .animated-menu .nav #menu.active:before{
    margin-left:16%;
  }
  .animated-menu .nav #menu.active:after{
    margin-left:14%;
  }
}


@media screen and (max-height:380px){
 
  .animated-menu .nav ul li a {
    padding: 15px 20px;
  }
  .animated-menu .nav ul{
    margin: 30px auto 0px auto;
  }
  .animated-menu .nav #menu{
    width: 3rem;
    height: 3rem;
  }
  .animated-menu .nav #menu span, .animated-menu .nav #menu:after, .animated-menu .nav #menu:before {
    width: calc(1rem + 0.1vw);
  }
  .animated-menu .nav #menu.active:before{
    transform: translateX(-20px) translateY(5px) rotate(-45deg);
    margin-left:26%;
  }
  .animated-menu .nav #menu.active:after{
    margin-left:24%;
  }

}

@media screen and (max-width:600px){
  .animated-menu .nav #menu{
    width: 4rem;
    height: 4rem;
  }
  .animated-menu .nav #menu.active:before{
    transform: translateX(-19px) translateY(8px) rotate(-45deg);
  }
  .animated-menu .nav #menu.active::after{
    transform: translateX(-18px) translateY(-5px) rotate(45deg);
  }
  .animated-menu .nav ul{
    padding: 39px 30px 20px 30px;
  }
}