/*----------------------
    Navbar Section
----------------------*/
.aybulogo {
  height: 80px;
  width: 80px;
  background-color: transparent;
}

/*rgb(104, 110, 107)*/
.navbar {
  position: absolute;
  width: 100vw;
  height: auto;
  padding: 0.5rem 12rem;
}

.navbar > .collapse {
  width: 100%;
  height: auto;
}

.navbar-container {
  width: 100%;
  padding: 0 10%;
}

nav {
  background-color: transparent;
  display: block;
}

nav ul {
  margin: 0px;
  padding: 0;
  list-style: none;
  float: right;
  height: 20px;
}

nav li {
  display: inline-block;
  margin-left: 2vw;
  margin-top: 35px;
  position: relative;
  text-align: center;
}

nav a {
  color: white;
  display: inline-block;
  text-decoration: none;
  font-family: "Aldrich", sans-serif;
  font-size: calc(0.9rem + 0.3vw);
}

nav a::after {
  box-shadow: 0px 0px 10px white;
  display: block;
  left: 0px;
  width: 0%;
  height: 3px;
  background-color: white;
  content: "";
  opacity: 1;
  transition: all 0.25s;
  margin: auto;
}

nav a:hover {
  color: #535353;
  text-shadow: 0px 0px 20px #ffffff;
}

nav a:hover::after {
  opacity: 1;
  width: 100%;
  transition: all 0.25s;
}

/*-----------------------
    Responsive Section
-----------------------*/


/*-----------------
    WIDTH
-----------------*/

@media screen and (max-width: 1426px) {
  .navbar-container {
    padding: 0 5%;
  }
}

@media screen and (max-width: 1300px) {
  .navbar-container {
    padding: 0 0%;
  }
}

@media screen and (max-width: 1200px) {
  .aybulogo {
    display: none;
  }
  nav ul {
    float: none;
    justify-content: center;
  }
 
  .navbar {
    padding: 0rem 3rem;
  }
}

@media screen and (max-width: 992px) {
  .aybulogo {
    display: none;
  }
  nav ul {
    float: none;
    justify-content: center;
  }

  .navbar {
    padding: 0 10rem;
  }
  .navbar-nav {
    display:block;
  }
}
@media screen and (max-width: 909px) {
  .navbar{
    padding: 0 6rem;
  }
  nav li{
    margin-left:2vw;
    margin-right:2vw;
    
  }
} 
@media screen and (max-width: 860px){
  .navbar{
    padding: 0 4rem;
  }
}

@media screen and (max-width: 768px){
  .navbar{
    display: none;
  }
}


/*---------------
    HEIGHT
---------------*/


@media screen and (max-height: 1300px) {
  .aybulogo {
    margin-bottom: 39%;
  }
}

@media screen and (max-height: 760px) {
  .aybulogo {
    margin-top: 1%;
  }
}



