/*----------------------
    Navbar Section
----------------------*/
.aybulogo {
  height: 80px;
  width: 80px;
  background-color: transparent;
}

/*rgb(104, 110, 107)*/
.navbar {
  position: absolute;
  width: 100vw;
  height: auto;
  padding: 0.5rem 13rem;
}

.navbar > .collapse {
  width: 100%;
  height: auto;
}

.navbar-container {
  width: 100%;
  padding: 0 10%;
}

nav {
  background-color: transparent;
  display: block;
}

nav ul {
  margin: 0px;
  padding: 0;
  list-style: none;
  float: right;
  height: 20px;
}

nav li {
  display: inline-block;
  margin-left: 2vw;
  margin-top: 35px;
  position: relative;
}

nav a {
  color: white;
  display: inline-block;
  text-decoration: none;
  font-family: "Aldrich", sans-serif;
  font-size: 18px;
}

nav a::after {
  box-shadow: 0px 0px 10px white;
  display: block;
  left: 0px;
  width: 0%;
  height: 3px;
  background-color: white;
  content: "";
  opacity: 1;
  transition: all 0.25s;
  margin: auto;
}

nav a:hover {
  color: #535353;
  text-shadow: 0px 0px 20px #ffffff;
}


nav a:hover::after {
  opacity: 1;
  width: 100%;
  transition: all 0.25s;
}

/* -------------------
   Sidebar Section
--------------------*/
#side-bar{
  position: absolute;
	width: 230px;
	height: 100%;
	background: black;
	left:-300px;
  transition: .5s ease-out;
  z-index: 4;
  display: none;
}
.toggle-btn{
	position: absolute;
	top: 30px;
	left: 310px;
  cursor: pointer;
  height: 50px;
  width: 50px;
}
.toggle-btn span{
	width:  calc(2.5rem + .5vw);  /* 60px*/
	height: calc(0.50rem +  .01vh); /* 10px*/
  border-radius:5px;
	background-color: #3f345f;
	display: block;
  margin-top:4px; 
  transition: 0.3s ease;
}
#side-bar ul{
  padding-left: 0px;
}
#side-bar li{
	color: white;
	list-style: none;
	font-size: calc(1.5rem + .5vh + .5vw);
	cursor: pointer;
  text-align: center;
  font-family: "Aldrich", sans-serif;
}
#side-bar li:hover{
	background: #535353;
	color: white;
}

#side-bar.active{
	left:0;
}
#side-bar.active .toggle-btn {
  top: 2.8rem;
  left: 235px;
}
#side-bar.active span {
  position: absolute;
  
}
#side-bar.active span:nth-child(1) {
  transform: rotate(45deg);
  top: 0px;
}
#side-bar.active span:nth-child(2) {
  opacity: 0;
}
#side-bar.active span:nth-child(3) {
  transform: rotate(-45deg);
}
#side-bar.active ~ .content {
  opacity: 0.3;
}



/*-----------------------
    Responsive Section
-----------------------*/

@media screen and (max-width: 1426px){
  .navbar-container {
    padding: 0 5%;
  }
}

@media screen and (max-width: 1300px){
  .navbar-container {
    padding: 0 0%;
  }
}

@media screen and (max-width: 1200px){
  .aybulogo{
    display: none;
  }
  nav ul{
    float: none;
    justify-content: center;
  }
}

@media screen and (max-width: 995px){
  .navbar{display: none}
  #side-bar{
    display: block;
  }
  .aybulogo{
    display: block;
    width: 100px;
    height: 100px;
    margin: 25%;
  }
}

@media screen and (max-height: 560px){
  .navbar{display: none}
  #side-bar{
    display: block;
  }
  
  .aybulogo{
    display: block;
    width: 100px;
    height: 100px;
    margin: 25%;
  }
  .toggle-btn{
    top: 15px;
  }  
}

@media screen and (max-height: 460px){
  .aybulogo{
    display: none;
  }
}        
                            
                            