/*----------------------
    Navbar Section
----------------------*/
.aybulogo {
  height: 80px;
  width: 80px;
  background-color: transparent;
}

/*rgb(104, 110, 107)*/
.navbar {
  position: absolute;
  width: 100vw;
  height: auto;
  padding: 0.5rem 13rem;
}

.navbar > .collapse {
  width: 100%;
  height: auto;
}

.navbar-container {
  width: 100%;
  padding: 0 10%;
}

nav {
  background-color: transparent;
  display: block;
}

nav ul {
  margin: 0px;
  padding: 0;
  list-style: none;
  float: right;
  height: 20px;
}

nav li {
  display: inline-block;
  margin-left: 2vw;
  margin-top: 35px;
  position: relative;
}

nav a {
  color: white;
  display: inline-block;
  text-decoration: none;
  font-family: "Aldrich", sans-serif;
  font-size: 18px;
}

nav a::after {
  box-shadow: 0px 0px 10px white;
  display: block;
  left: 0px;
  width: 0%;
  height: 3px;
  background-color: white;
  content: "";
  opacity: 1;
  transition: all 0.25s;
  margin: auto;
}

nav a:hover {
  color: #535353;
  text-shadow: 0px 0px 20px #ffffff;
}

nav a:hover::after {
  opacity: 1;
  width: 100%;
  transition: all 0.25s;
}

/* -------------------
   Sidebar Section
--------------------*/
#side-bar {
  position: absolute;
  width: 230px;
  height: 100%;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    radial-gradient(
      at 50% 0%,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(0, 0, 0, 0.5) 50%
    );
  left: -300px;
  transition: 0.5s ease-out;
  z-index: 4;
  display: none;
}
.toggle-btn {
  position: absolute;
  top: 30px;
  left: 310px;
  cursor: pointer;
  height: 50px;
  width: 50px;
}
.toggle-btn span {
  width: calc(0.8rem + 1.3vw);
  height: calc(0.2rem + 0.01vh);
  border-radius: 5px;
  background: white;
  background-blend-mode: soft-light, screen;
  display: block;
  margin-top: 4px;
  transition: 0.3s ease;
}
#side-bar ul {
  padding-left: 0px;
}
#side-bar li {
  color: white;
  list-style: none;
  font-size: calc(0.8rem + 0.5vh + 0.5vw);
  cursor: pointer;
  text-align: center;
  font-family: "Aldrich", sans-serif;
}
#side-bar li:hover {
  background: #535353;
  color: white;
  margin: 5px;
}

#side-bar.active {
  left: 0;
}
#side-bar.active .toggle-btn {
  top: 1.8rem;
  left: 235px;
}
#side-bar.active span {
  position: absolute;
}
#side-bar.active span:nth-child(1) {
  transform: rotate(45deg);
  top: 0px;
}
#side-bar.active span:nth-child(2) {
  opacity: 0;
}
#side-bar.active span:nth-child(3) {
  transform: rotate(-45deg);
}
#side-bar.active ~ .content {
  opacity: 0.3;
}

/*-----------------------
    Responsive Section
-----------------------*/

@media screen and (max-width: 1426px) {
  .navbar-container {
    padding: 0 5%;
  }
}

@media screen and (max-width: 1300px) {
  .navbar-container {
    padding: 0 0%;
  }
}

@media screen and (max-width: 1200px) {
  .aybulogo {
    display: none;
  }
  nav ul {
    float: none;
    justify-content: center;
  }

  .navbar {
    padding: 0.5rem 2rem;
  }
}

@media screen and (max-width: 999px) {
  .navbar {
    display: none;
  }
  #side-bar {
    display: block;
  }
  .aybulogo {
    display: block;
    width: 70px;
    height: 70px;
    margin-top: 15% !important;
    margin-left: 34%;
    margin-bottom: 20% !important;
  }
}

@media screen and (max-height: 1300px) {
  .aybulogo {
    margin-bottom: 39%;
  }
  #side-bar li {
    margin: 15% 0;
  }
}

@media screen and (max-height: 760px) {
  .aybulogo {
    margin-top: 1%;
  }
  #side-bar li {
    margin: 12% 0;
  }
}

@media screen and (max-height: 570px) {
  .navbar {
    display: none;
  }
  #side-bar {
    display: block;
  }
  #side-bar li {
    padding: 3%;
    margin: 12% 0;
    font-size: calc(0.4rem + 0.5vh + 0.5vw);
  }
  .aybulogo {
    margin-bottom: 10%;
    margin-left: 32%;
    margin-top: 14%;
  }
  .toggle-btn {
    top: 15px;
  }
}

@media screen and (max-height: 475px) {
  .aybulogo {
    display: none;
  }
  #side-bar ul {
    margin: 28% 0;
  }
}

@media screen and (max-height: 410px) {
  .aybulogo {
    display: none;
  }
}

@media screen and (max-height: 360px) {
  #side-bar li {
    margin: 14% 0;
    font-size: calc(0.25srem + 0.5vh + 0.5vw);
  }
  #side-bar ul {
    margin: 14% 0;
  }
}
