.aybulogo{
    float: left;
    height: 80px;
    width: 80px;
    margin-top: 20px;
    margin-left: 150px;
}

nav ul{
    margin:  0px;
    padding: 0;
    list-style: none;
    float: right;
}

nav li{
    display: inline-block;
    margin-right: 100px;
    margin-top: 35px;
    position: relative;
}

nav a{
    color: white;
    display: inline-block;
    text-decoration: none;
    font-style: italic;
}

nav a::after {
    content: '';
    display: block;
    height: 4px;
    background-color: greenyellow;
  
    position: absolute;
    top: auto;
    width: 0%;
  
    transition: all ease-in-out 250ms;
}


nav a:hover{
    color: #000;
}

nav a:hover::after {
    width: 100%;
  }