.aybulogo {
  height: 80px;
  width: 80px;
  background-color: transparent;
}

/*rgb(104, 110, 107)*/
.navbar {
  position: absolute;
  width: 100vw;
  height: auto;
  padding: 0.5rem 13rem;
}

.navbar > .collapse {
  width: 100%;
  height: auto;
}

.navbar-container {
  width: 100%;
  padding: 0 10%;
}

nav {
  background-color: transparent;
  float: right;
  display: block;
}

nav ul {
  margin: 0px;
  padding: 0;
  list-style: none;
  float: right;
  height: 20px;
}

nav li {
  display: inline-block;
  margin-left: 2vw;
  margin-top: 35px;
  position: relative;
}
nav:before {
  position:absolute;
  top:0px; right:50%; bottom:0px;

  border:1.33em solid #333;
  border-left-color:red;
  content:"";
}

nav a {
  color: white;
  display: inline-block;
  text-decoration: none;
  font-family: "Aldrich", sans-serif;
  font-size: 18px;
}

nav a::after {
  box-shadow: 0px 0px 10px white;
  display: block;
  left: 0px;
  width: 0%;
  height: 3px;
  background-color: white;
  content: "";
  opacity: 1;
  transition: all 0.25s;
  margin: auto;
}

nav a:hover {
  color: #535353;
  text-shadow: 0px 0px 20px #ffffff;
}


nav a:hover::after {
  opacity: 1;
  width: 100%;
  transition: all 0.25s;
}