 #teams{
    width: 100vw;
    height: 60vh;
    padding: 80px 0px;
}
.swiper-container {
    width: 80vw;
    height: 50vh;
}
.swiper-slide{
    display: block;
}
.logo-box  img{
    transition: 250ms;
}
.logo-box:hover img{
    transform: scale(1.15);
}
.logo-box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle-border{
    width:  200px;
    height: 200px;
}
.team-photo{
    width: 135px;
    height: 135px;
    position: absolute;
}
.team{
    display: flex;
    justify-content: center;
    margin-top: 15px;   
}
.Homepage-teams-header{
    text-align: center;
    margin-bottom: 90px;
    font-size: 40px;
}