body,
html {
  height: 100%;
  margin: 0;
}

.bgimage {
  height: 100%;
  background-image: url(../images/bgimage.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(40%);
}

.content {
  position: absolute;
  width: calc(10em*3);
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: calc(1.5rem + 0.7vw);
}



.comingsoon {
  color: white;
  font-size: calc(1.5rem + 0.7vw);
  padding-bottom: 10px;
  font-family:'Orbitron',sans-serif;
}

.shadowBar {
  width: 400px;
  height: 30px;
  position: relative;
  background: rgba(17, 17, 17, .3);
  margin:20px auto;
  border-radius: 15px;
}
.progressbar {
border-radius: 15px;
z-index: 9;
top: 0;
right: 0;
bottom: 0;
left: 0;
margin: 20 px auto;
width: 300px;
height: 30px;
}
.progressbar::before,
.progressbar::after {
content: '';
display: block;
position:relative;
z-index: 500;
top: 0;
left: 0;
width: 100%;
height: 100%;
border-radius: 15px;
background: repeating-linear-gradient(90deg, #fce8d5 ,#ffd3e1,#0a97b0,#ffd3e1);
animation: movebar 2s linear infinite;
}
.progressbar::before {
box-shadow: 0 6px 10px 0 rgba(0,0,0,0.1);
}
.progressbar::after {
z-index: 9;
top: 6px;
filter: blur(16px);
opacity: 0.7;
}

@-moz-keyframes movebar {
from {
  background-position: 0 0;
}
to {
  background-position: 300px 0;
}
}
@-webkit-keyframes movebar {
from {
  background-position: 0 0;
}
to {
  background-position: 300px 0;
}
}
@-o-keyframes movebar {
from {
  background-position: 0 0;
}
to {
  background-position: 300px 0;
}
}
@keyframes movebar {
from {
  background-position: 0 0;
}
to {
  background-position: 300px 0;
}
}

footer {
  position: absolute;
  min-height: 50px;
  max-height: 80px;
  bottom: 10px;
  left: 40%;
  right: 40%;
  width: auto;
  float: left;
  text-align: center;
  display: flex;
}

.logo {
  width: 50px;
  height: 50px;
  padding: 10px 10px 10px 10px;
}
.vl {
  border: 1px solid white;
  height: 70px;
  width: 0px;
}

.biltek-container {
  right: 0;
  left: 80px;
  bottom:0;
}

.biltek {
  color: white;
  font-family: 'Roboto', sans-serif;

  font-size: calc(0.7rem + 0.5vw);
  padding: 10px auto;
}

/*.slideleft {
  float: left;
  padding: 10px auto;
}*/

@media screen and (max-width: 800px) {
  .biltek {
    font-size: calc(0.6rem + 0.5vw);
  }
}
