body,
html {
  height: 100%;
  margin: 0;
}

.bgimage {
  height: 100%;
  background-image:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)), url(../images/bgimage.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*filter: brightness(40%);*/
}

.content {
  position: absolute;
  width: calc(10em*3);
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: calc(1.5rem + 0.7vw);
}



.comingsoon {
  color: white;
  font-size: calc(1.5rem + 0.7vw);
  padding-bottom: 10px;
  font-family:'Orbitron',sans-serif;
}

#shadowBar {
  margin: auto;
  height: 10px;
  width: 500px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  list-style: none;
  padding: 0;
}

.progressBar {
  display: block;
  float: left;
  width: 90px;
  height: 10px;
  margin-right: 10px;
}

.progressBar:nth-child(-n+3) {
  background: rgba(255,255,255,0.9);
  box-shadow: inset 0px 0px 10px 2px rgba(117,182,255,0.5),
                    0px 0px 20px rgba(117,182,214,0.5);
}

.progressBar:nth-child(n+4) {
  box-shadow: inset 0px 0px 10px 1px rgba(117,182,255,0.4),
                    0px 0px 20px rgba(117,182,255,0.1);
}

.progressBar:nth-child(3) {
  animation: pulse 1s alternate infinite;
  /*-webkit-animation: pulse 1s alternate infinite;
  -moz-animation: pulse 1s alternate infinite;*/
}
@keyframes pulse{
  0% {
    background: rgba(255,255,255,1);
    box-shadow: inset 0px 0px 10px 2px rgba(117,182,255,0.5),
                      0px 0px 40px 2px rgba(105,135,255,1);
  }
  100% {
    background: rgba(255,255,255,0);
    box-shadow: inset 0px 0px 10px 2px rgba(117,182,255,0.5),
                      0px 0px 30px 2px rgba(105,135,255,0.3);
  }
}

footer {
  position: absolute;
  min-height: 50px;
  max-height: 80px;
  bottom: 10px;
  left: 40%;
  right: 40%;
  width: auto;
  float: left;
  text-align: center;
  display: flex;
}

.logo {
  width: 60px;
  height: 60px;
  padding: 10px 9px 10px 10px;
}
.spin {
  cursor: pointer;
  transform-style: preserve-3d;
  animation: spin 5s linear infinite;
}
.spin:hover{

}
@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.vl {
  border: 1px solid white;
  height: 70px;
  
}

.biltek-container {
  right: 0;
  left: 60px;
  bottom:0;
}

.biltek {
  color: white;
  font-family: 'Roboto', sans-serif;

  font-size: calc(0.7rem + 0.5vw);
  padding: 10px auto;
}

/*.slideleft {
  float: left;
  padding: 10px auto;
}*/

@media screen and (max-width: 800px) {
  .biltek {
    font-size: calc(0.6rem + 0.5vw);
  }
}
