body,
html {
  height: 100%;
  margin: 0;
}

.bgimage {
  height: 100%;
  background-image: url(../images/bgimage.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(40%);
}

.content {
  border: 1px solid red;
  position: absolute;
  width: calc(10em*3);
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: calc(1.5rem + 0.7vw);
}



.comingsoon {
  color: white;
  font-size: calc(1.5rem + 0.7vw);
  padding-bottom: 10px;
  font-family:'Orbitron',sans-serif;
}

footer {
  position: absolute;
  min-height: 50px;
  max-height: 80px;
  bottom: 10px;
  left: 40%;
  right: 40%;
  width: auto;
  float: left;
  text-align: center;
  display: flex;
}

.logo {
  width: 50px;
  height: 50px;
  padding: 10px 10px 10px 10px;
}
.vl {
  border: 1px solid white;
  height: 70px;
  width: 0px;
}

.biltek-container {
  right: 0;
  left: 80px;
  bottom:0;
}

.biltek {
  color: white;
  font-family: 'Roboto', sans-serif;

  font-size: calc(0.7rem + 0.5vw);
  padding: 10px auto;
}

/*.slideleft {
  float: left;
  padding: 10px auto;
}*/

@media screen and (max-width: 800px) {
  .biltek {
    font-size: calc(0.6rem + 0.5vw);
  }
}
