<head>
    <link href="css/header.css" rel="stylesheet" >
    <link href="css/nav.css" rel="stylesheet" >
    <meta charset="UTF-8">
</head>

<nav class="navbar">
    <div class="container">
        <img class="aybulogo" src="img/aybulogo.png">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="">
                    <pt>Ana Sayfa</pt>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#about">
                    <pt>Hakkımızda</pt>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#teams">
                    <pt>Takımlarımız</pt>
                </a>
            </li>
            <li class="nav-item">
                <a class="" href="#events">
                    <pt>Etkinlikler</pt>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#events">
                    <pt>Fotoğraflar</pt>
                </a>
            </li>
        </ul>
    </div>
</nav>

<section id="header">
    <div class="header-txt">
        <div class="container">
            <div class="head-content-square">
                <div class="scName"> 
                    <h2 class="header-msg">Ankara Yıldırım Beyazıt Üniversitesi</h2>
                </div>
            </div>
        </div>
    </div>

</section>