
<nav class="navbar">
    <div class="container">
        <img class="aybulogo" src="img/aybulogo.png">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="">
                    <pt>Ana Sayfa</pt>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#about">
                    <pt>Hakkımızda</pt>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#teams">
                    <pt>Takımlarımız</pt>
                </a>
            </li>
            <li class="nav-item">
                <a class="" href="#events">
                    <pt>Etkinlikler</pt>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#events">
                    <pt>Fotoğraflar</pt>
                </a>
            </li>
        </ul>
    </div>
</nav>
<div class="Navb" id="navb"></div>


<section id="header">

    <div class="header-txt">
        <div class="container">
            <div class="head-content-square">
                <div class="scName"> 
                    <h2 class="header-msg">Ankara Yıldırım Beyazıt Üniversitesi</h2>
                </div>
            </div>
        </div>
    </div>
    </div>

</section>
<section id="about">
</section>

<section id="teams">
</section>

<section id="pictures">
</section>

<section id="footer">

    <div class="footer padding-sm">
        <div class="container">
            <div class="footerHead">
                <div class="footerHead-c">
                    <p class="text-center">Bize Ulaşın</p>
                </div>
                <br><br>
            </div>
            <div class="contact">
                <a class="c-circle circle-instagram" href="https://www.instagram.com/aybubiltek/?hl=tr" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
                <a class="c-circle circle-tw" href="https://twitter.com/aybubiltek" target="_blank">
                    <i class="fab fa-twitter"></i>
                </a>
                <a class="c-circle circle-in" href="https://www.linkedin.com/company/aybubiltek"
                    target="_blank">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a class="c-circle circle-mail">
                    <i class="far fa-envelope"></i>
                </a>
                <a class="c-circle circle-address">
                    <i class="fas fa-map-marker-alt"></i>
                </a>
            </div>
            <div class="loc">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48927.80890855759!2d32.78500244190617!3d39.96401973054046!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9a58173fbf172e99!2zQW5rYXJhIFnEsWxkxLFyxLFtIEJleWF6xLF0IMOcbml2ZXJzaXRlc2k!5e0!3m2!1str!2str!4v1587244071938!5m2!1str!2str"
                    width="600" height="450" frameborder="0" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>

                <p class="text-center">Ayvalı, Gazze Cd. No:7, 06010 Keçiören/Ankara</p>
            </div>
        </div>
    </div>

</section>