 {{!--  About Page Header    --}}

<section id="about-page-header">
    <div class="about-page-header">
        <div class="about-page-header-content">
            <p class="about-page-title">HAKKIMIZDA</p>
            <div class="about-page-video-area">
                <iframe src="https://www.youtube.com/embed/hzaAW31nkbI" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>

{{!-- About Page --}}

<section id="about-page">
    <div class="about-page">
        <div class="about-page-counter">
            <div class="about-page-counter-one">
                <h2>200</h2>
                <p>Üye Sayısı</p>
            </div>
            <div class="about-page-counter-two">
                <h2>200</h2>
                <p>Üye Sayısı</p>
            </div>
            <div class="about-page-counter-three">
                <h2>200</h2>
                <p>Üye Sayısı</p>
            </div>
        </div>
        <div class="about-page-text-area">
            <p> Misyonumuz, üniversite öğrencilerine,edindikleri teorik
                bilgilerin yanı sıra bu bilgileri uygulamaya dönüştürebilecekleri ortamlar sunarak durumları
                somut bir şekilde tecrübe edebilmelerini ve bu sayede,okul sonrası hayatlarına daha kolay adapte
                olabilmelerini hedefliyoruz.
                Bilim ve Teknoloji Topluluğu, düzenlediği etkinlikler ve yaptığı projelerle, üniversite
                öğrencilerine teknik donanımlarının yanında ekip ruhu, liderlik, takım çalışmasına yatkınlık
                gibi kendilerini daha ileriye taşımalarına yardımcı olacak kişisel özellikleri de kazandırmayı
                amaçlıyoruz.
                Önceliğimiz, sürekli gelişen dünyada izleyici olmak yerine birlikte geleceği değiştirmek.
            </p>
            <p> Vizyon 2021, teoriği pratiğe aktarma, gelişen teknoloji takip
                ederek yenilikçi ürünler tasarlama ve üretme, tecrübe aktarıma ve edinimi, takım çalışması ve
                kriz yönetimi konularında öğrencilere farklı bakış açıları kazandırmayı ve daha nitelikli,
                sosyal ve özgüveni yerinde bireyler haline gelmelerini sağlamayı planlıyoruz.
                Bu vizyonumuzun amacı, üniversite hayatını daha anlamlı, verimli, üretken ve sosyal bir hayat
                haline getirerek üniversitemiz öğrencilerinin hayatlarına farklı renkler ve bakış açıları
                katmaktır.Bu bağlamda hali hazırda var olan arge takımlarımıza farklı alanlarda yeni takımlar
                ekleyerek daha üretken, multidisipliner çalışma ortamı yaratmayı ve bu ortamlarda elde edilecek
                elle tutulur, somut veriler ve ürünler elde etmeyi planlıyoruz.</p>
        </div>

    </div>

</section>