<<<<<<< HEAD
{{!-- Background Properties--}}
<section id="background-properties">
    <div class="background-image"></div> 
    <div class="lines-effect">
        <div class="line-effect"></div>
        <div class="line-effect"></div>
        <div class="line-effect"></div>
    </div>
</section>
{{!-- Background Properties--}}

{{!-- Header--}}
<section id="header">
    <header>
        <div class="spin-effect-logo">
            <img class="biltek-logo " src="/images/1-logo.png" alt="logo">
        </div>    
        <div class="biltek-text-container ">
            <div class="type-writing">
                <p class="biltek-text">AYBÜ Bilim ve Teknoloji</p>
                <p class="biltek-text" id="biltek-text2">Kulübü</p>
            </div>
        </div>
    </header>
</section>
{{!--Header--}}

{{!--Main Content part --}}
<section id="main-content">
        <div class="comingsoon-text-container">
            <h1 class="comingsoon-text" data-text="ÇOK YAKINDA">ÇOK YAKINDA</h1>
        </div>
</section>
{{!-- Main Content part --}}

{{!-- Content&Footer --}}
<section id="content-and-footer">
  <div class="social-media-icons-container">

    <div class="social-media-icon">
      <a href="https://www.youtube.com/channel/UCXnCrwOdwtJF0wZiIQbz2-A" target="_blank"rel="noopener noreferrer">
        <span>Youtube</span>
        <i class="fa fa-youtube-play"></i>
      </a>
    </div>

    <div class="social-media-icon">
      <a href="https://twitter.com/aybubiltek"target="_blank"rel="noopener noreferrer">
        <span>Twitter Hesabı</span>
        <i class="fa fa-twitter"></i>
      </a>
    </div>

    <div class="social-media-icon">
      <a href="https://www.instagram.com/aybubiltek/" target="_blank"rel="noopener noreferrer">
        <span>Instagram Hesabı</span>
        <i class="fa fa-instagram"></i>
      </a>
    </div>

    <div class="social-media-icon">
      <a href="https://www.linkedin.com/company/aybubiltek/" target="_blank"rel="noopener noreferrer">
        <span>LinkedIn</span>
        <i class="fa fa-linkedin"></i>
      </a>
    </div>
     
   </div>

</section>
{{!-- Content&Footer --}}
=======
<div class="bgimage"></div>
<div class="lines">
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
</div>
<header>
  <div class="spin">
    <img class="logo " src="/images/1-logo.png" alt="logo">
  </div>
  <div class="biltek-container ">
    <div class="type-writing">
      <p class="biltek">AYBÜ Bilim ve Teknoloji</p>
      <p class="biltek" id="biltek">Kulübü</p>
    </div>
  </div>

</header>
<section>
  <div class="comingsoon-text-container">
    <h1 class="comingsoon comingsoon-animation" data-text="
            ÇOK YAKINDA">ÇOK YAKINDA</h1>
  </div>
</section>
<div class="links">
  <div class="fl-fl">
    <a href="https://www.youtube.com/channel/UCXnCrwOdwtJF0wZiIQbz2-A" target="_blank" rel="noopener noreferrer">
      <span>Youtube</span>
      <i class="fa fa-youtube-play"></i>
    </a>
  </div>
  <div class="fl-fl">
    <a href="https://twitter.com/aybubiltek" target="_blank" rel="noopener noreferrer">
      <span>Twitter Hesabı</span>
      <i class="fa fa-twitter"></i>
    </a>
  </div>
  <div class="fl-fl">
    <a href="https://www.instagram.com/aybubiltek/" target="_blank" rel="noopener noreferrer">
      <span>Instagram Hesabı</span>
      <i class="fa fa-instagram"></i>
    </a>
  </div>
  <div class="fl-fl">
    <a href="https://www.linkedin.com/company/aybubiltek/" target="_blank" rel="noopener noreferrer">
      <span>LinkedIn</span>
      <i class="fa fa-linkedin"></i>
    </a>
  </div>
</div>
>>>>>>> participant
