 <div class="bgimage"></div> 
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <header>
        <div class="spin">
            <img class="logo " src="/images/1-logo.png" alt="logo">
        </div>    
        <div class="biltek-container ">
            <div class="type-writing">
                <p class="biltek">AYBÜ Bilim ve Teknoloji</p>
                <p class="biltek" id="biltek">Kulübü</p>
            </div>
        </div>
        
    </header>
    <section>
        <div class="comingsoon-text-container">
            <h1 class="comingsoon comingsoon-animation" data-text="
            ÇOK YAKINDA">ÇOK YAKINDA</h1>
        </div>
    </section>
      <div class="links">
          <div class="fl-fl">
            <a href="https://www.youtube.com/channel/UCXnCrwOdwtJF0wZiIQbz2-A" target="_blank"rel="noopener noreferrer">
              <span>Youtube</span>
              <i class="fa fa-youtube-play"></i>
            </a>
          </div>
          <div class="fl-fl">
            <a href="https://twitter.com/aybubiltek"target="_blank"rel="noopener noreferrer">
              <span>Twitter Hesabı</span>
              <i class="fa fa-twitter"></i>
            </a>
          </div>
          <div class="fl-fl">
            <a href="https://www.instagram.com/aybubiltek/" target="_blank"rel="noopener noreferrer">
              <span>Instagram Hesabı</span>
              <i class="fa fa-instagram"></i>
            </a>
          </div>
          <div class="fl-fl">
              <a href="https://www.linkedin.com/company/aybubiltek/" target="_blank"rel="noopener noreferrer">
                <span>LinkedIn</span>
                <i class="fa fa-linkedin"></i>
              </a>
            </div>
      </div>