<section id="404-error">
    <div class="errorpage-bground"></div>
    <div class="errorpage-box-homepage"></div>
    <div class="errorpage-box-terminal">
        <p class="errorpage-box-terminal-text-1">404</p>
        <p class="errorpage-box-terminal-text-2">Kaybolmuş gibisin</p>
        <p class="errorpage-box-terminal-text-3">Ana sayfaya yönlendiriliyor...</p>
    </div>
</section>