{{!-- Events Page Header --}}
<section id="events-page-header">
    <div class="events-page-header">
        <div class="events-page-header-content">
            <div class="events-page-left-icon">
                <i class="fas fa-chevron-left"></i>
            </div>
            <div class="events-page-cards">
                <div class="events-cards-area">
                    <div class="events-page-text-area">
                        <h1>Lorem Ipsum Lorem</h1>
                        <h3>Lorem Ipsum</h3>
                        <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</p>
                        <div class="events-page-btn">
                            <a href="#">
                                <i> Kayıt Ol </i>
                            </a>
                        </div>
                    </div>
                    <div class="events-page-countdown">
                        <div class="countdown-one">
                            <h2>24</h2>
                            <p>Gün</p>
                        </div>
                        <div class="blur"></div>
                        <div class="countdown-two">
                            <h2>24</h2>
                            <p>Saat</p>
                        </div>
                        <div class="blur"></div>
                        <div class="countdown-three">
                            <h2>24</h2>
                            <p>Dakika</p>
                        </div>
                        <div class="blur"></div>
                        <div class="countdown-four">
                            <h2>24</h2>
                            <p>Saniye</p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="events-page-right-icon">
                <i class="fas fa-chevron-right"></i>
            </div>
        </div>
    </div>
</section>

{{!-- Events Page --}}

<section id="events-page">
    <div class="events-page">
        <div class="currents-events">
            <h2 class="events-tittle">Güncel Etkinlikler</h2>
            <span class="direction-icouns">
                <i class="fas fa-angle-double-left"></i>
                <i class="fas fa-angle-double-right"></i>
            </span>
            <div class="mobile-left-icon">
                <i class="fas fa-angle-double-left"></i>
            </div>
            <div class="currents-events-posters">
                <div class="currents-event-one">
                    <img class="event-poster" src="WebSite2/img/event.png">
                </div>
                <div class="currents-event-two">
                    <img class="event-poster" src="WebSite2/img/event.png">
                </div>
                <div class="currents-event-three">
                    <img class="event-poster" src="WebSite2/img/event.png">
                </div>
            </div>
            <div class="mobile-right-icon">
                <i class="fas fa-angle-double-right"></i>
            </div>
        </div>
        <div class="past-events">
            <h2 class="events-tittle">Geçmiş Etkinlikler</h2>
            <span class="direction-icouns">
                <i class="fas fa-angle-double-left"></i>
                <i class="fas fa-angle-double-right"></i>
            </span>
            <div class="mobile-left-icon">
                <i class="fas fa-angle-double-left"></i>
            </div>
            <div class="past-events-posters">
                <div class="past-event-one">
                    <img class="event-poster" src="WebSite2/img/event.png">
                </div>
                <div class="past-event-two">
                    <img class="event-poster" src="WebSite2/img/event.png">
                </div>
                <div class="past-event-three">
                    <img class="event-poster" src="WebSite2/img/event.png">
                </div>
                <div class="past-event-four">
                    <img class="event-poster" src="WebSite2/img/event.png">
                </div>
                <div class="past-event-five">
                    <img class="event-poster" src="WebSite2/img/event.png">
                </div>
                <div class="past-event-six">
                    <img class="event-poster" src="WebSite2/img/event.png">
                </div>

            </div>
            <div class="mobile-right-icon">
                <i class="fas fa-angle-double-right"></i>
            </div>
        </div>
    </div>
</section>