 <div class="events-form-circles">
        <div class="events-form-left-circles-one"></div>
        <div class="events-form-left-circles-two"></div>
        <div class="events-form-left-circles-three"></div>
        <div class="events-form-right-circles-one"></div>
        <div class="events-form-right-circles-two"></div>
        <div class="events-form-right-circles-three"></div>
    </div>
    <div class="events-form">
        <div class="events-form-title">
            <h2>Kayıt Ol</h2>
        </div>
        <div class="events-form-content">
            <div class="events-form-conctent-form">
                <form>
                    <div class="events-form-content-information">
                        <select name="events" id="events-form-event-select" required="">
                          
                        </select>
                    </div>
                    <div class="events-form-content-information">
                        <input type="text" required="" name="">
                        <span>İsim Soyisim*</span>
                    </div>
                    <div class="events-form-content-information">
                        <input type="email" required="" name="">
                        <span>Email*</span>
                    </div>
                    <div class="events-form-content-information">
                        <input type="tel" required="" name="">
                        <span>Telefon</span>
                    </div>
                    <div class="events-form-content-information">
                    <select name="university"  onchange=""  required="">
                        <option value="" disabled="" selected="">Üniversiteniz*</option>
                        </select>
                     </div> 
                      <div class="events-form-content-information">
                          <select name="department" required="">
                               <option value="" disabled="" selected="">Bölümünüz*</option>
                         </select>
                      </div>  
                    
                </form>
                <button class="events-form-button" type="button" onclick="">Kayıt Ol</button>
            </div>
        </div>
    </div>