{{!-- <section id="wrapper"> <!--!ENTER OTHER SECTIONS INSIDE THIS SECTION OTHERWISE MOBILENAV JS NOT WORKS CORRECTLY-->
    <section id="header">
        <div class="header-bground"></div>
        <div class="schoolName">
            <div class="header-box">
                <h1 class="header-msg">Ankara Yıldırım Beyazıt Üniversitesi</h1>
                <h2 class="header-msg2">Bilim Ve Teknoloji Kulübü</h2>
                <p class="header-button-info">Bizden haberdar olmak için</p>
                <a class="header-button" onclick="location.href='https://www.google.com.tr/'">KAYIT OL</a>
            </div>
        </div>
        
        <div class="homepage-header-social-icons">
            <a href="https://twitter.com/aybubiltek" class="slider-nav-item"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/aybubiltek/" class="slider-nav-item"><i class="fab fa-instagram"></i></a>
            <a href="https://www.youtube.com/user/ybubiltek" class="slider-nav-item"><i class="fab fa-youtube"></i></a>
            <a href="https://www.linkedin.com/company/aybubiltek/" class="slider-nav-item"><i class="fab fa-linkedin-in"></i></a>

        </div>

    </section>
</section> --}}