{{!-- Header --}}
<section id="header">
    <div class="homepage-header-part">
        <img class="homepage-header-main-photo" src="/WebSite2/img/header background triangle.png">

        {{!-- NAMES --}}
        <div class="homepage-header-contents">
            <div align="center" class="homepage-header-content-schoolname">
                <p>Ankara Yıldırım Beyazıt Üniversitesi</p>
            </div>
            <div align="center" class="homepage-header-content-clubname">
                <p>Bilim Ve Teknoloji Kulübü</p>
            </div>
        </div>

                {{!-- REGİSTER-BUTTON --}}
        <div class="homepage-header-register-button">
            <a href="#" id="homepage-header-plus-button-for-register" onclick="getUniversity()">
                <i class="fas fa-plus"></i>
            </a>
        </div>



    </div>

</section>

{{!-- About --}}
<section id="about">

</section>

{{!-- Events --}}
<section id="events">

</section>

{{!-- Teams --}}
<section id="teams">

</section>

{{!-- Footer --}}
<section id="footer">

</section>