<section id="homepage-header">
    <img class="homepage-header-logo" src="\img\aybulogo.png">
    <div class="homepage-header-ellipse"></div>
    <div class="homepage-header-orbits">
        <div class="homepage-header-orbit-one"></div>
        <div class="homepage-header-orbit-two"></div>
        <div class="homepage-header-orbit-three"></div>
        <div class="homepage-header-orbit-four"></div>
    </div>
    <div class="homepage-header-column">
        <div class="homepage-header-column-one"></div>
        <div class="homepage-header-column-two"></div>
        <div class="homepage-header-column-three"></div>
        <div class="homepage-header-column-four">
        </div>
    </div>
    <div class="homepage-header-content">
        <h1 class="homepage-header-content-schoolname">Ankara Yıldırım Beyazıt Üniversitesi</h1>
        {{!-- <hr color="black" width="70%" align="right">  --}}
        <h1 class="homepage-header-content-clubname">Bilim ve Teknoloji Kulübü</h1>
    </div>
    <div class="mobile-homepage-header-menu">
        <label for="homepage-menu-toggle" class="mobile-homepage-header-menu-area"></label>
        <label for="homepage-menu-toggle" class="mobile-homepage-header-menu-icon">
            <i class="fas fa-bars"></i>
            <i class="fas fa-times"></i>
        </label>
    </div>
    <div class="mobile-homepage-header-column">
        <div class="mobile-hompage-header-column-common">
            <img class="mobile-homepage-header-logo" src="\img\aybulogo.png">
            <h1 class="mobile-homepage-header-content-schoolname">Ankara Yıldırım Beyazıt Üniversitesi</h1>
        </div>
    </div>
    <div class="mobile-homepage-header-content">
        <h1 class="mobile-homepage-header-content-clubname">Bilim Ve Teknoloji Kulübü</h1>
    </div>
    <div class="mobile-homepage-header-button">
        <h1 class="mobile-homepage-header-button-content">Kayıt Ol</h1>
        <div class="mobile-homepage-header-button-circle">
            <div class="mobile-homepage-header-button-icon"> <i class="fas fa-plus"></i></div>
        </div>
    </div>
</section>

{{!-- Takımlarımız--}}
<section id="homepage-teams">
    <div class="homepage-teams-columns-overflow-property">
        <div class="homepage-teams-background-columns homepage-teams-background-columns-left">
            <div class="homepage-teams-background-column"></div>
            <div class="homepage-teams-background-column"></div>
            <div class="homepage-teams-background-column"></div>
            <div class="homepage-teams-background-column"></div>
        </div>
    </div>
    <div class="homepage-teams-columns-overflow-property">
        <div class="homepage-teams-background-columns homepage-teams-background-columns-right">
            <div class="homepage-teams-background-column right"></div>
            <div class="homepage-teams-background-column right"></div>
            <div class="homepage-teams-background-column right"></div>
            <div class="homepage-teams-background-column right"></div>
        </div>
    </div>
    <div class="homepage-teams-header-text">
        Takımlarımız
    </div>
    <div class="homepage-teams-container">
            <div class="homepage-teams--hide" onclick="turnLeft()"><i class="fas fa-angle-left"></i></div>
            <ul class="homepage-team-cards homepage-teams--hide">
                <li class="homepage-team-card">
                    <div class="card">
                        <img class=" card-img-top mx-auto d-block" src="/img/aybulogo.png" alt="team-1">
                        <div class="card-body">
                            <h5 class="card-title">Team 1</h5>
                            <div class="homepage-team-social-medias">
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="homepage-team-card">
                    <div class="card">
                        <img class="card-img-top mx-auto d-block" src="/img/aybulogo.png" alt="team-2">
                        <div class="card-body">
                            <h5 class="card-title">Team 2</h5>
                            <div class="homepage-team-social-medias">
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="homepage-team-card">
                    <div class="card">
                        <img class="card-img-top mx-auto d-block" src="/img/aybulogo.png" alt="team-3">
                        <div class="card-body">
                            <h5 class="card-title">Team 3</h5>
                            <div class="homepage-team-social-medias">
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="homepage-team-card homepage-team-card--hide">
                    <div class="card">
                        <img class="card-img-top mx-auto d-block" src="/img/aybulogo.png" alt="team-4">
                        <div class="card-body">
                            <h5 class="card-title">Team 4</h5>
                            <div class="homepage-team-social-medias">
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="homepage-team-card homepage-team-card--hide">
                    <div class="card">
                        <img class="card-img-top mx-auto d-block" src="/img/aybulogo.png" alt="team-5">
                        <div class="card-body">
                            <h5 class="card-title">Team 5</h5>
                            <div class="homepage-team-social-medias">
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="homepage-team-card homepage-team-card--hide">
                    <div class="card">
                        <img class="card-img-top mx-auto d-block" src="/img/aybulogo.png" alt="team-6">
                        <div class="card-body">
                            <h5 class="card-title">Team 6</h5>
                            <div class="homepage-team-social-medias">
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="homepage-teams--hide"onclick="turnRight()"><i class=" fas fa-angle-right"></i></div>
        <div id="homepage-team-mobile-carousel" class="carousel slide" data-interval="false">
            <div class=" carousel-inner homepage-teams-responsive-team-container-inner">
                <div class="carousel-item active">
                    <div class="card">
                        <img class=" card-img-top mx-auto d-block" src="/img/aybulogo.png" alt="team-1">
                        <div class="card-body">
                            <h5 class="card-title">Team 1</h5>
                            <div class="homepage-team-social-medias">
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </div>
                        </div> {{!-- /card-body --}}
                    </div> {{!-- /card --}}
                </div> {{!--/carousel-item--}}
                <div class="carousel-item">
                    <div class="card">
                        <img class="card-img-top mx-auto d-block" src="/img/aybulogo.png" alt="team-2">
                        <div class="card-body">
                            <h5 class="card-title">Team 2</h5>
                            <div class="homepage-team-social-medias">
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <img class="card-img-top mx-auto d-block" src="/img/aybulogo.png" alt="team-3">
                        <div class="card-body">
                            <h5 class="card-title">Team 3</h5>
                            <div class="homepage-team-social-medias">
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <img class="card-img-top mx-auto d-block" src="/img/aybulogo.png" alt="team-4">
                        <div class="card-body">
                            <h5 class="card-title">Team 4</h5>
                            <div class="homepage-team-social-medias">
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <img class="card-img-top mx-auto d-block" src="/img/aybulogo.png" alt="team-5">
                        <div class="card-body">
                            <h5 class="card-title">Team 5</h5>
                            <div class="homepage-team-social-medias">
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <img class="card-img-top mx-auto d-block" src="/img/aybulogo.png" alt="team-6">
                        <div class="card-body">
                            <h5 class="card-title">Team 6</h5>
                            <div class="homepage-team-social-medias">
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> {{!--/mobile-carousel-inner--}}
            <a class="carousel-control-prev" href="#homepage-team-mobile-carousel" role="button" data-slide="prev">
                <i class="carousel-control-prev-icon homepage-teams-control-button bg-dark border border-dark rounded-circle"
                    aria-hidden="true"></i>
            </a>
            <a class="carousel-control-next" href="#homepage-team-mobile-carousel" role="button" data-slide="next">
                <i class="carousel-control-next-icon homepage-teams-control-button bg-dark border border-dark rounded-circle"
                    aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <!--/container-->
    <div class="homepage-teams-gozat-button">
        <a href="">Göz at</a>
    </div>
</section>
<script src="/HomePage/js/teams.js"></script>

{{!-- /Takımlarımız --}}

{{!-- Fotoğraflar --}}
<section id="homepage-photos">
    <div class="homepage-photos-header">Fotoğraflar</div>
    <div class="homepage-photos-gallery">
        <div class="row">
            <div class="col">
                <div class="homepage-photos-photo-area">
                    <img class="rounded" src="/img/background.jpg" alt="photo1" onclick="currentPhoto(1)">
                </div>
            </div>
            <div class="col">
                <div class="homepage-photos-photo-area">
                    <img class="rounded" src="/img/photo.jpeg" alt="photo2" onclick="currentPhoto(2)">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="homepage-photos-photo-area">
                    <img class="rounded" src="/img/background.jpg" alt="photo3" onclick="currentPhoto(3)">
                </div>
            </div>
            <div class="col">
                <div class="homepage-photos-photo-area">
                    <img class="rounded" src="/img/photo.jpeg" alt="photo4" onclick="currentPhoto(4)">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="homepage-photos-photo-area">
                    <img class="rounded" src="/img/photo.jpeg" alt="photo5" onclick="currentPhoto(5)">
                </div>
            </div>
            <div class="col">
                <div class="homepage-photos-photo-area">
                    <img class="rounded" src="/img/background.jpg" alt="photo6" onclick="currentPhoto(6)">
                </div>
            </div>
        </div>
    </div>
    <div class="homepage-photos-background-circle">
        <div class="homepage-photos-show-area">
            <img class="homepage-photos-photo" src="/img/background.jpg" alt="photo1">
            <img class="homepage-photos-photo" src="/img/photo.jpeg" alt="photo2" style="display:none">
            <img class="homepage-photos-photo" src="/img/background.jpg" alt="photo3" style="display:none">
            <img class="homepage-photos-photo" src="/img/photo.jpeg" alt="photo4" style="display:none">
            <img class="homepage-photos-photo" src="/img/photo.jpeg" alt="photo5" style="display:none">
            <img class="homepage-photos-photo" src="/img/background.jpg" alt="photo6" style="display:none">
        </div>
    </div>
    <div class="homepage-photos-responsive-photo-modal">
        {{!-- <span class="close">&times;</span> --}}
        <span id="closeModal" class="fa fa-times homepage-photos-modal-close" aria-hidden="true"></span>
        <img class="homepage-photos-responsive-photo-modal-content homepage-photos-clicked-image">
    </div>

</section>
<script src="/HomePage/js/photos.js"></script>
{{!-- /Fotoğraflar --}}