{{!-- Header --}}
  <div class="homepage-nav">
    <img class="homepage-header-aybu-logo" src="/WebSite2/img/aybulogo.png">
      <div class="homepage-part-group-navbar">
          <a href="#homepage-header">Anasayfa</a>
          <a href="#homepage-about">Hakkımızda</a>
          <a href="#homepage-events">Etkinlikler</a>
          <a href="#homepage-teams">Takımlar</a>
          <a href="#homepage-photos">Fotoğraflar</a>
      </div>
  </div>

<section id="homepage-part-of-header">



   <img class="homepage-header-main-photo" src="/WebSite2/img/header background triangle.png"> 

    <div class="homepage-header-contents">
        <div align="center" class="homepage-header-content-schoolname">
            <p>Ankara Yıldırım Beyazıt Üniversitesi</p>
        </div>
        <div align="center" class="homepage-header-content-clubname">
            <p>Bilim Ve Teknoloji Kulübü</p>
        </div>
    </div>

    <div class="homepage-header-register-button">
        <a href="#" id="homepage-header-plus-button-for-register" onclick="getUniversity()">
            <i class="fas fa-plus"></i>
        </a>
    </div>

    



    <div class="homepage-header-flex-container-social-media-button">

        <div class="hompage-header-icon-part-of-all homepage-header-icon-instagram">
            <a href="https://www.instagram.com/aybubiltek/  " target="_blank" rel="noopener noreferrer">
                <i class="fab fa-instagram homepage-header-commond-icon"></i>
            </a>
        </div>

        <div class="hompage-icon-part-of-all homepage-header-icon-twitter">
            <a href="https://twitter.com/aybubiltek" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-twitter homepage-header-commond-icon"></i>
            </a>
        </div>

        <div class="hompage-icon-part-of-all homepage-header-icon-linkedin">
            <a href="https://www.linkedin.com/company/aybubiltek/" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-linkedin-in homepage-header-commond-icon"></i>
            </a>
        </div>


        <div class="hompage-icon-part-of-all homepage-header-icon-youtube">
            <a href="https://www.youtube.com/channel/UCXnCrwOdwtJF0wZiIQbz2-A" target="_blank"
                rel="noopener noreferrer">
                <i class="fab fa-youtube homepage-header-commond-icon"></i>
            </a>
        </div>



    </div>



</section>



<head>
    <link href="deneme.css" type="text/css" rel="stylesheet" />
</head>

<link rel="stylesheet" href="/WebSite2/HomePage/css/homepageheader.css">
<script src="https://kit.fontawesome.com/fba63233b9.js" crossorigin="anonymous"></script>