<section id="homepage-header">
    <img class="homepage-header-logo" src="\img\aybulogo.png">
    <div class="homepage-header-ellipse"></div>
    <div class="homepage-header-orbits">
        <div class="homepage-header-orbit-one"></div>
        <div class="homepage-header-orbit-two"></div>
        <div class="homepage-header-orbit-three"></div>
        <div class="homepage-header-orbit-four"></div>
    </div>
    <div class="homepage-header-column">
        <div class="homepage-header-column-one"></div>
        <div class="homepage-header-column-two"></div>
        <div class="homepage-header-column-three"></div>
        <div class="homepage-header-column-four">
        </div>
    </div>
    <div class="homepage-header-content">
        <h1 class="homepage-header-content-schoolname">Ankara Yıldırım Beyazıt Üniversitesi</h1>
        {{!-- <hr color="black" width="70%" align="right">  --}}
        <h1 class="homepage-header-content-clubname">Bilim ve Teknoloji Kulübü</h1>
    </div>
    <div class="mobile-homepage-header-menu">
        <label for="homepage-menu-toggle" class="mobile-homepage-header-menu-area"></label>
        <label for="homepage-menu-toggle" class="mobile-homepage-header-menu-icon">
            <i class="fas fa-bars"></i>
            <i class="fas fa-times"></i>
        </label>
    </div>
    <div class="mobile-homepage-header-column">
        <div class="mobile-hompage-header-column-common">
            <img class="mobile-homepage-header-logo" src="\img\aybulogo.png">
            <h1 class="mobile-homepage-header-content-schoolname">Ankara Yıldırım Beyazıt Üniversitesi</h1>
        </div>
    </div>
    <div class="mobile-homepage-header-content">
        <h1 class="mobile-homepage-header-content-clubname">Bilim Ve Teknoloji Kulübü</h1>
    </div>
    <div class="mobile-homepage-header-button">
        <h1 class="mobile-homepage-header-button-content">Kayıt Ol</h1>
        <div class="mobile-homepage-header-button-circle">
            <div class="mobile-homepage-header-button-icon"> <i class="fas fa-plus"></i></div>
        </div>
    </div>
</section>

{{!-- Takımlarımız--}}
<section id="homepage-teams">
    <div class="homepage-teams-background-columns homepage-teams-background-columns-left">
        <div class="homepage-teams-background-column"></div>
        <div class="homepage-teams-background-column"></div>
        <div class="homepage-teams-background-column"></div>
        <div class="homepage-teams-background-column"></div>
    </div>
    <div class="homepage-teams-background-columns homepage-teams-background-columns-right">
        <div class="homepage-teams-background-column"></div>
        <div class="homepage-teams-background-column"></div>
        <div class="homepage-teams-background-column"></div>
        <div class="homepage-teams-background-column"></div>
    </div>
    <div class="homepage-teams-header-text">
        Takımlarımız
    </div>
    <div class="homepage-teams-container">
        <i class="fas fa-angle-double-left"></i>
        <div class="homepage-team-window">
            <img src="/img/aybulogo.png" alt="">
            <h1>Lorem ipsum</h1>
        </div>
        <div class="homepage-team-window homepage-team-window-middle">
            <img src="/img/aybulogo.png" alt="">
            <h1>Lorem ipsum</h1>
        </div>
        <div class="homepage-team-window">
            <img src="/img/aybulogo.png" alt="">
            <h1>Lorem ipsum</h1>
        </div>
        <i class="fas fa-angle-double-right"></i>
    </div>
</section>