   <section id="homepage-header">   
       <img class="homepage-header-logo" src="\img\aybulogo.png"> 
        <div class="homepage-header-ellipse"></div>
        <div class="homepage-header-orbits">
            <div class="homepage-header-orbit-one"></div>
            <div class="homepage-header-orbit-two"></div>
            <div class="homepage-header-orbit-three"></div>
            <div class="homepage-header-orbit-four"></div>
        </div>
        <div class="homepage-header-column">
            <div class="homepage-header-column-one"></div>
            <div class="homepage-header-column-two"></div>
            <div class="homepage-header-column-three"></div>
            <div class="homepage-header-column-four">
            </div>
        </div>
        <div class="homepage-header-content">
               <h1 class="homepage-header-content-schoolname">Ankara Yıldırım Beyazıt Üniversitesi</h1>
               {{!-- <hr color="black" width="70%" align="right">  --}}
               <h1 class="homepage-header-content-clubname">Bilim ve Teknoloji Kulübü</h1> 
        </div>
        <div class="mobil-homepage-header-column">
             <img class="mobil-homepage-header-logo" src="\img\aybulogo.png"> 
             <h1 class="mobil-homepage-header-content-schoolname">Ankara Yıldırım Beyazıt Üniversitesi</h1>
        </div>
        <div class="mobil-homepage-header-content">
            <h1 class="mobil-homepage-header-content-clubname">Bilim ve Teknoloji Kulübü</h1> 
        </div>
    </section>