   <section id="homepage-header">   
       <img class="homepage-header-logo" src="\img\aybulogo.png"> 
       <div class="hompage-header-ellipse-property">
        <div class="homepage-header-ellipse"></div>
        </div>
        <div class="homepage-header-orbits">
            <div class="homepage-header-orbit-one"></div>
            <div class="homepage-header-orbit-two"></div>
            <div class="homepage-header-orbit-three"></div>
            <div class="homepage-header-orbit-four"></div>
        </div>
        <div class="homepage-header-column">
            <div class="homepage-header-column-one"></div>
            <div class="homepage-header-column-two"></div>
            <div class="homepage-header-column-three"></div>
            <div class="homepage-header-column-four">
            </div>
        </div>
        <div class="homepage-header-content">
               <h1 class="homepage-header-content-schoolname">Ankara Yıldırım Beyazıt Üniversitesi</h1>
               <h1 class="homepage-header-content-clubname">Bilim ve Teknoloji Kulübü</h1> 
        </div>
        <div class="mobile-homepage-header-menu">
            <div class="mobile-homepage-header-menu-area"></div>
            <div class="mobile-homepage-header-menu-icon"> <i class="fas fa-bars"></i></div>
        </div>
        <div class="mobile-homepage-header-column">
            <div class="mobile-hompage-header-column-common">
             <img class="mobile-homepage-header-logo" src="\img\aybulogo.png"> 
             <h1 class="mobile-homepage-header-content-schoolname">Ankara Yıldırım Beyazıt Üniversitesi</h1>
             </div>
        </div>
        <div class="mobile-homepage-header-content">
            <h1 class="mobile-homepage-header-content-clubname">Bilim Ve Teknoloji Kulübü</h1> 
        </div>
        <div class="mobile-homepage-header-button">
            <h1 class="mobile-homepage-header-button-content">Kayıt Ol</h1>
            <div class="mobile-homepage-header-button-circle">
            <div class="mobile-homepage-header-button-icon"> <i class="fas fa-plus"></i></div>
            </div>
        </div>
    </section>

    <section id="homepage-about-header">
        <h1 class="homepage-about-header-title">Misyon & Vizyon </h1>
        <div class="homepage-about-header-boxes">
            <div class="homepage-about-header-box-one">
                <p class="homepage-about-header-box-one-content">Miusov, as a man man of breeding and deilcacy, could not but feel some inwrd qualms, when he reached the Father Superior's with Ivan: he felt ashamed of havin lost his temper. He felt that he ought to have disdaimed that despicable wretch, Fyodor Pavlovitch, too much to have been upset by him in Father Zossima's cell, and so to have forgotten himself. "Teh monks were not to blame, in any case," he reflceted, on the steps. "And if they're decent people here (and the Father Superior, I understand, is a nobleman) why not be friendly and courteous withthem? I won't argue, I'll fall in with everything, I'll win them by politness, and show them that I've nothing to do with that Aesop, thta buffoon, that Pierrot, and have merely been takken in over this affair, just as they have."</p>
                <img class="homepage-about-header-box-one-mission" src="\img\about-mission.png">
            </div>
            <div class="homepage-about-header-box-two">
                <p class="homepage-about-header-box-two-content">Miusov, as a man man of breeding and deilcacy, could not but feel some inwrd qualms, when he reached the Father Superior's with Ivan: he felt ashamed of havin lost his temper. He felt that he ought to have disdaimed that despicable wretch, Fyodor Pavlovitch, too much to have been upset by him in Father Zossima's cell, and so to have forgotten himself. "Teh monks were not to blame, in any case," he reflceted, on the steps. "And if they're decent people here (and the Father Superior, I understand, is a nobleman) why not be friendly and courteous withthem? I won't argue, I'll fall in with everything, I'll win them by politness, and show them that I've nothing to do with that Aesop, thta buffoon, that Pierrot, and have merely been takken in over this affair, just as they have."</p>
                <img class="homepage-about-header-box-two-eye" src="\img\about-eye.png">
            </div>
        </div>

    <script src="\HomePage\js\about.js"></script>
    </section>
    {{!-- <script src="\HomePage\js\about.js"></script> --}}

    <section id="homepage-events">
    <div class="homepage-events-bigEllipse-pro">
        <div class="homepage-events-bigEllipse"></div>
    </div>

    <div class="homepage-events-mediumElips-pro">
        <div class="homepage-events-mediumElips"></div>
    </div>
    <div class="homepage-events-smallElips-pro">
        <div class="homepage-events-smallElips"></div>
    </div>
    <div class="homepage-events-smallElips-pro-2">
        <div class="homepage-events-smallElips-2"></div>
    </div>

    <div class="homepage-events-register-information">
        <p class="homepage-events-register-content"></p>
        <i class="fa fa-plus-circle homepage-register-icon-plus" aria-hidden="true"></i>
        <button class="homepage-register-button-for-events">Kayıt Ol</button>
    </div>

    <div class="homepage-events-date-notice">
        <p class="homepage-events-date-content"></p>
        <i class="fa fa-times-circle homepage-date-icon-cros" aria-hidden="true">
        </i>
        <button class="homepage-missing-date-button-for-events">Tarih Geçti</button>
    </div>

    <div class="homepage-events-date-missing-information">
        <p class="homepage-events-date-missing-content"></p>
        <i class="fa fa-times-circle homepage-date-missing-icon-cros" aria-hidden="true"></i>
    </div>
    
    <div class="homepage-events-points">
         
    <dt>.</dt>
    <dt>.</dt>
    <div class="homepage-events-timeline-information-one"></div>
    <dt>.</dt>
    <dt>.</dt>
    <dt>.</dt>
    <dt>.</dt>
    <dt>.</dt>
    <dt>.</dt>
    <div class="homepage-events-timeline-information-two"></div>
    <dt>.</dt>
    <dt>.</dt>
    <dt>.</dt>
    <dt>.</dt>
    <dt>.</dt>
    <dt>.</dt>
    <div class="homepage-events-timeline-information-three"></div>
    <dt>.</dt>
    <dt>.</dt>
    <i class="fa fa-angle-double-down  homepage-date-time-icon" aria-hidden="true"></i>

    </div>


</section>