   <section id="homepage-header">   
       <img class="homepage-header-logo" src="\img\aybulogo.png"> 
       <div class="hompage-header-ellipse-property">
        <div class="homepage-header-ellipse"></div>
        </div>
        <div class="homepage-header-orbits">
            <div class="homepage-header-orbit-one"></div>
            <div class="homepage-header-orbit-two"></div>
            <div class="homepage-header-orbit-three"></div>
            <div class="homepage-header-orbit-four"></div>
        </div>
        <div class="homepage-header-column">
            <div class="homepage-header-column-one"></div>
            <div class="homepage-header-column-two"></div>
            <div class="homepage-header-column-three"></div>
            <div class="homepage-header-column-four">
            </div>
        </div>
        <div class="homepage-header-content">
               <h1 class="homepage-header-content-schoolname">Ankara Yıldırım Beyazıt Üniversitesi</h1>
               <h1 class="homepage-header-content-clubname">Bilim ve Teknoloji Kulübü</h1> 
        </div>
        <div class="mobile-homepage-header-menu">
            <div class="mobile-homepage-header-menu-area"></div>
            <div class="mobile-homepage-header-menu-icon"> <i class="fas fa-bars"></i></div>
        </div>
        <div class="mobile-homepage-header-column">
            <div class="mobile-hompage-header-column-common">
             <img class="mobile-homepage-header-logo" src="\img\aybulogo.png"> 
             <h1 class="mobile-homepage-header-content-schoolname">Ankara Yıldırım Beyazıt Üniversitesi</h1>
             </div>
        </div>
        <div class="mobile-homepage-header-content">
            <h1 class="mobile-homepage-header-content-clubname">Bilim Ve Teknoloji Kulübü</h1> 
        </div>
        <div class="mobile-homepage-header-button">
            <h1 class="mobile-homepage-header-button-content">Kayıt Ol</h1>
            <div class="mobile-homepage-header-button-circle">
            <div class="mobile-homepage-header-button-icon"> <i class="fas fa-plus"></i></div>
            </div>
        </div>
    </section>

    <section id="about-header">
        <h1 class="about-header-title">Misyon & Vizyon </h1>
        <div class="about-header-boxes">
            <div class="about-header-box-one">
                <p class="about-header-box-one-content">abcabcabcbacbacba</p>
                <img class="about-header-box-one-mission" src="\img\about-misson.png">
            </div>
            <div class="about-header-box-two">
                <p class="about-header-box-two-content">klmklmlklmklm</p>
                <img class="about-header-box-two-eye" src="\img\about-eye.png">
            </div>
        </div>


    </section>

    <section class="events"> </section>