{{!-- Header --}}
<section id="homepage-header">
    <img class="homepage-header-logo" src="\img\aybulogo.png">
    <div class="hompage-header-ellipse-property">
        <div class="homepage-header-ellipse"></div>
    </div>
    <div class="homepage-header-orbits">
        <div class="homepage-header-orbit-one"></div>
        <div class="homepage-header-orbit-two"></div>
        <div class="homepage-header-orbit-three"></div>
        <div class="homepage-header-orbit-four"></div>
    </div>
    <div class="homepage-header-column">
        <div class="homepage-header-column-one"></div>
        <div class="homepage-header-column-two"></div>
        <div class="homepage-header-column-three"></div>
        <div class="homepage-header-column-four">
        </div>
    </div>
    <div class="homepage-header-content">
        <h1 class="homepage-header-content-schoolname">Ankara Yıldırım Beyazıt Üniversitesi</h1>
        {{!-- <hr color="black" width="70%" align="right">  --}}
        <h1 class="homepage-header-content-clubname">Bilim ve Teknoloji Kulübü</h1>
    </div>
    <div class="mobile-homepage-header-menu">
        <label for="homepage-menu-toggle" class="mobile-homepage-header-menu-area"></label>
        <label for="homepage-menu-toggle" class="mobile-homepage-header-menu-icon">
            <i class="fas fa-bars"></i>
            <i class="fas fa-times"></i>
        </label>
    </div>
    <div class="mobile-homepage-header-column">
        <div class="mobile-hompage-header-column-common">
            <img class="mobile-homepage-header-logo" src="\img\aybulogo.png">
            <h1 class="mobile-homepage-header-content-schoolname">Ankara Yıldırım Beyazıt Üniversitesi</h1>
        </div>
    </div>
    <div class="mobile-homepage-header-content">
        <h1 class="mobile-homepage-header-content-clubname">Bilim Ve Teknoloji Kulübü</h1>
    </div>
    <div class="mobile-homepage-header-button">
        <h1 class="mobile-homepage-header-button-content">Kayıt Ol</h1>
        <div class="mobile-homepage-header-button-circle">
            <div class="mobile-homepage-header-button-icon"> <a href="#" id="mobile-homepage-header-register-btn-a"
                    onclick="getUniversity()">
                    <i class="fas fa-plus"></i></a> </div>
        </div>
    </div>
</section>
{{!-- Header --}}

{{!-- Register Modal --}}
<div class="modal-back"></div>


<div class="register-modal" id="myModal">
    <div class="container">
        <div class="section-header text-center">
            <div class="reg-modal-header title">
                <h2>Kayıt Ol</h2>
            </div>
            <di class="row">
                <div class="col-md-10 offset-md-1">
                    <form action="/addParticipants" id="addParticipants" class="form-group register-form" method="POST">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <input type="text" class="form-control text-center" id="nameSurname"
                                        name="nameSurname" placeholder="İsim Soyisim *" autofocus required>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <input type="email" id="email-1" name="email"
                                        class="form-email form-control register-form-input text-center"
                                        onkeydown="e_mail_validation()" placeholder="Email *" required>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <input type="tel" class="form-control text-center" id="phoneNumber"
                                        name="phoneNumber" placeholder="Telefon">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <select name="university" id="university" onchange="getDepartmentsById()"
                                        class="form-control" required>

                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <select name="department" id="departmant" class="form-control" required>

                                    </select>
                                </div>
                            </div>
                            {{!-- <div class="col-12">
								<div class="form-group">
									<select name="sinif" id="sinif" class="form-control" required>
										<option value="Hazırlık">Hazırlık</option>
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
										<option value="Mezun">Mezun</option>
									</select>
								</div>
							</div> --}}
                        </div>
                        <button class="main-btn" type="button" onclick="submit_validation();">Kayıt Ol</button>
                    </form>
                </div>
        </div>
        </di>
    </div>
</div>
{{!-- Register Modal --}}

{{!-- About --}}
<section id="homepage-about-header">
    <h1 class="homepage-about-header-title">Misyon & Vizyon </h1>
    <div class="homepage-about-header-boxes">

        <div class="homepage-about-header-box-one">
            {{!-- for mobile --}}
            <img class="mobile-homepage-about-header-box-one-mission" src="\img\about-mission.png">
            <p class="mobile-homepage-about-header-box-one-content">
                Misyonumuz,mühendislik öğrencilerine, farkındalık katabilmek,tecrübe ve bilgi birikimini aktarmak ve bu
                kabiliyeti kazandırmak,
                teoriği pratiğe çevirmek ve ülkemize ve kendine değer katabilen sorumluluk sahibi mühendisler
                yetiştirmek</p>
            <button class="homepage-about-header-box-one-more-button about-button" href="#">
                <p class="homepage-about-header-button-title">Yakında!</p>
            </button>
        </div>
        <img class="homepage-about-header-box-one-mission" src="\img\about-mission.png">

        <div class="homepage-about-header-box-one-hover">
            {{!-- for pc --}}
            <p class="homepage-about-header-box-one-content">
                Misyonumuz,mühendislik öğrencilerine, farkındalık
                katabilmek,tecrübe ve bilgi birikimini aktarmak ve bu
                kabiliyeti kazandırmak,
                teoriği pratiğe çevirmek ve ülkemize ve kendine değer katabilen sorumluluk sahibi mühendisler
                yetiştirmek
            </p>
            <div class="homepage-about-header-box-one-tooltip">
                <div class="content">Çok Yakında!</div>
                <div class="triangle"></div>
            </div>
            <button class="homepage-about-header-box-one-more-button about-button" href="#">
                <p class="homepage-about-header-button-title">Gözat</p>
            </button>
        </div>

        <div class="homepage-about-header-box-two">
            {{!-- for mobile --}}
            <img class="mobile-homepage-about-header-box-two-eye" src="\img\about-eye.png">
            <p class="mobile-homepage-about-header-box-two-content">
                Vizyonumuz, 
            </p>
            <button class="homepage-about-header-box-two-more-button about-button" href="">
                <p class="homepage-about-header-button-title">Yakında!</p>
            </button>
        </div>
        <img class="homepage-about-header-box-two-eye" src="\img\about-eye.png">

        <div class="homepage-about-header-box-two-hover">
            {{!-- for pc --}}
            <p class="homepage-about-header-box-two-content">
                Misyonumuz,mühendislik öğrencilerine, farkındalık katabilmek,tecrübe ve bilgi birikimini aktarmak ve bu
                kabiliyeti kazandırmak,
                teoriği pratiğe çevirmek ve ülkemize ve kendine değer katabilen sorumluluk sahibi mühendisler
                yetiştirmek</p>
            <div class="homepage-about-header-box-two-tooltip">
                <div class="content">Çok Yakında!</div>
                <div class="triangle"></div>
            </div>
            <button class="homepage-about-header-box-two-more-button about-button" href="">
                <p class="homepage-about-header-button-title">Gözat</p>
            </button>
        </div>
    </div>


</section>
{{!-- About --}}

{{!-- Events --}}
<section id="homepage-events-part">

    <h1 class="homepage-events-header-line">Etkinlikler</h1>

    <div class="homepage-events-all-ellipse homepage-events-bigEllipse"></div>


    <div class="homepage-events-grid-container">

        <!-- Item-1 -->
        <div class="homepage-events-grid-item1"></div>
        <!-- Grid for information box(register)  > Item-2-->
        <div class="homepage-events-grid-item2">
            <div class="homepage-events-register-information">
                <img class="homepage-events-photo-for-register-box" src="/img/event-one.PNG">
                <div style="text-align: center;">
                    <button class="homepage-events-not-expired-register-btn homepage-events-register-btn">
                        <div class="homepage-events-register-part-icon-btn"></div>
                        <div class="btn-txt homepage-events-register-content-btn">TARİH GEÇTİ</div>
                        {{!-- KAYIT OL butonu olacak şimdilik deneme için tarih geçti yapıldı --}}

                    </button>
                </div>
            </div>
        </div>

        <!--  Grid for information box(missing-register) > item3 -->

        <div class="homepage-events-grid-item3">
            <div class="homepage-events-register-information">
                <img class="homepage-events-photo-for-missing-box" src="/img/event-two.PNG">
                <div style="text-align: center;">
                    <button class="homepage-events-missing-register-btn homepage-events-register-btn">
                        <div class="homepage-events-register-part-icon-btn"></div>
                        <div class="btn-txt homepage-events-register-content-btn">TARİH GEÇTİ</div>
                    </button>
                </div>
            </div>
        </div>

        <!-- Grid for Timeline points > -->

        <div class="homepage-events-grid-for-timeline-points">
            <div class="homepage-events-points">
                <dt>.</dt>
                <dt>.</dt>
                <dt>.</dt>
                <dt>.</dt>
                <dt>.</dt>
                <dt>.</dt>
                <dt>.</dt>
                <dt>.</dt>
                <dt>.</dt>
                <dt>.</dt>
                <dt>.</dt>
                <dt>.</dt>
                <dt>.</dt>
                <dt>.</dt>
                <dt>.</dt>
                <dt>.</dt>
            </div>
        </div>

        <!-- Grid for information box(missing-register) > item-7 -->
        <div class="homepage-events-grid-item7">
            <div class="homepage-events-register-information">
                <img class="homepage-events-photo-for-register-box" src="/img/event-three.PNG">
                <div style="text-align: center;">
                    <button class="homepage-events-missing-register-btn-right-side homepage-events-register-btn">
                        <div class="homepage-events-register-part-icon-btn"></div>
                        <div class="btn-txt homepage-events-register-content-btn">TARİH GEÇTİ</div>
                    </button>
                </div>
            </div>
        </div>

        <!-- Grid for Timeline information box-top > item-4 -->
        <div class="homepage-events-grid-item4">
            <div class="homepage-events-timeline-info-box">
                <div class="homepage-events-joint-date-content   homepage-events-content-date-for-register ">09.05.2020
                </div>
            </div>
        </div>

        <!-- Grid for Timeline information box-middle> item-5 -->

        <div class="homepage-events-grid-item5">
            <div class="homepage-events-timeline-info-box">
                <div class="homepage-events-joint-date-content   homepage-events-content-missing-date ">01.05.2020</div>
            </div>
        </div>

        <!-- Grid for Timeline information box-bottom > item-6 -->

        <div class="homepage-events-grid-item6">
            <div class="homepage-events-timeline-info-box">
                <div class="homepage-events-joint-date-content   homepage-events-content-date-for-missing-box ">
                    27.04.2020</div>
            </div>
        </div>




        <!-- Grid for timeline button-->

        <div class="homepage-events-grid-for-timeline-button">
            <i class="fa fa-angle-double-down  homepage-events-date-time-icon" aria-hidden="true"> </i>
        </div>


        <!-- Grid for ellipse-->
        <div class="homepage-events-grid-item-for-ellipse">
            <div class="homepage-events-all-ellipse homepage-events-mediumElipse"></div>
        </div>

        <div class="homepage-events-grid-item-for-ellipse-smallellipse">
            <div class="homepage-events-all-ellipse homepage-events-smallElipse"></div>
        </div>

        <div class="homepage-events-grid-item-for-ellipse-subsmallellipse">
            <div class="homepage-events-all-ellipse homepage-events-subsmallElipse"></div>
        </div>

        <!-- Item-8-->
        <div class="homepage-events-grid-item8"> </div>




    </div>
</section>
{{!-- Events --}}

{{!-- Teams--}}
<section id="homepage-teams">
    <div class="homepage-teams-columns-overflow-property">
        <div class="homepage-teams-background-columns homepage-teams-background-columns-left">
            <div class="homepage-teams-background-column"></div>
            <div class="homepage-teams-background-column"></div>
            <div class="homepage-teams-background-column"></div>
            <div class="homepage-teams-background-column"></div>
        </div>
    </div>
    <div class="homepage-teams-columns-overflow-property">
        <div class="homepage-teams-background-columns homepage-teams-background-columns-right">
            <div class="homepage-teams-background-column right"></div>
            <div class="homepage-teams-background-column right"></div>
            <div class="homepage-teams-background-column right"></div>
            <div class="homepage-teams-background-column right"></div>
        </div>
    </div>
    <div class="homepage-teams-header-text">
        Takımlarımız
    </div>
    <div class="homepage-teams-container">
        <div class="swiper-container homepage-teams--hide">
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="card">
                        <img class=" card-img-top mx-auto d-block" src="/img/yıldırım_roket_takımı.png" alt="team-1">
                        <div class="card-body">
                            <h5 class="card-title">Yıldırım Roket Takımı</h5>
                            <div class="homepage-team-social-medias">
                                <a href="https://instagram.com/yldrm_rocket">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a href="https://twitter.com/yldrm_rocket">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="https://www.youtube.com/channel/UCEffMwV6chnKRSLAitF3eQA">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <img class="card-img-top mx-auto d-block" src="/img/biltekcyber_logo.png" alt="team-2">
                        <div class="card-body">
                            <h5 class="card-title">BiltekCyber Ekibi</h5>
                            <div class="homepage-team-social-medias">
                                {{!-- <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a> --}}
                                <a href="https://twitter.com/cyberbiltek">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                {{!-- <a href="#">
                                    <i class="fab fa-youtube"></i>
                                </a> --}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <img class="card-img-top mx-auto d-block" src="/img/bozkurt_roket_takımı.png" alt="team-3">
                        <div class="card-body">
                            <h5 class="card-title">Bozkurt Roket Takımı</h5>
                            <div class="homepage-team-social-medias">
                                <a href="https://www.instagram.com/bozkurt_rocket/">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a href="https://twitter.com/BozkurtRoket">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                {{!-- <a href="#">
                                    <i class="fab fa-youtube"></i>
                                </a> --}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <img class="card-img-top mx-auto d-block" src="/img/hilal_logo.png" alt="team-4">
                        <div class="card-body">
                            <h5 class="card-title">Hilal Roket Takımı</h5>
                            <div class="homepage-team-social-medias">
                                <a href="https://www.instagram.com/hilal_roket/">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a href="https://twitter.com/Hilal_Roket">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                {{!-- <a href="#">
                                    <i class="fab fa-youtube"></i>
                                </a> --}}
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- <div class="swiper-slide">
                    <div class="card">
                        <img class="card-img-top mx-auto d-block" src="/img/aybulogo.png" alt="team-5">
                        <div class="card-body">
                            <h5 class="card-title">Team 5</h5>
                            <div class="homepage-team-social-medias">
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div> --}}
                {{!-- <div class="swiper-slide">
                    <div class="card">
                        <img class="card-img-top mx-auto d-block" src="/img/aybulogo.png" alt="team-6">
                        <div class="card-body">
                            <h5 class="card-title">Team 6</h5>
                            <div class="homepage-team-social-medias">
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div> --}}
            </div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

        </div>
        <div id="homepage-team-mobile-carousel" class="carousel slide" data-interval="false">
            <div class=" carousel-inner homepage-teams-responsive-team-container-inner">
                <div class="carousel-item active">
                    <div class="card">
                        <img class=" card-img-top mx-auto d-block" src="/img/yıldırım_roket_takımı.png" alt="team-1">
                        <div class="card-body">
                            <h5 class="card-title">Yıldırım Roket Takımı</h5>
                            <div class="homepage-team-social-medias">
                                <a href="https://instagram.com/yldrm_rocket">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a href="https://twitter.com/yldrm_rocket">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="https://www.youtube.com/channel/UCEffMwV6chnKRSLAitF3eQA">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </div>
                        </div> {{!-- /card-body --}}
                    </div> {{!-- /card --}}
                </div> {{!--/carousel-item--}}
                <div class="carousel-item">
                    <div class="card">
                        <img class="card-img-top mx-auto d-block"
                            src="https://pbs.twimg.com/profile_images/964215903490596866/D1xyfJdR_400x400.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title">BiltekCyber Ekibi</h5>
                            <div class="homepage-team-social-medias">
                                {{!-- <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a> --}}
                                <a href="https://twitter.com/cyberbiltek">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                {{!-- <a href="#">
                                    <i class="fab fa-youtube"></i>
                                </a> --}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <img class="card-img-top mx-auto d-block" src="/img/bozkurt_roket_takımı.png" alt="team-3">
                        <div class="card-body">
                            <h5 class="card-title">Bozkurt Roket Takımı</h5>
                            <div class="homepage-team-social-medias">
                                <a href="https://www.instagram.com/bozkurt_rocket/">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a href="https://twitter.com/BozkurtRoket">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                {{!-- <a href="#">
                                    <i class="fab fa-youtube"></i>
                                </a> --}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <img class="card-img-top mx-auto d-block" src="/img/hilal_logo.png" alt="team-4">
                        <div class="card-body">
                            <h5 class="card-title">Hilal Roket Takımı</h5>
                            <div class="homepage-team-social-medias">
                                <a href="https://www.instagram.com/hilal_roket/">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a href="https://twitter.com/Hilal_Roket">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                {{!-- <a href="#">
                                    <i class="fab fa-youtube"></i>
                                </a> --}}
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- <div class="carousel-item">
                    <div class="card">
                        <img class="card-img-top mx-auto d-block" src="/img/aybulogo.png" alt="team-5">
                        <div class="card-body">
                            <h5 class="card-title">Team 5</h5>
                            <div class="homepage-team-social-medias">
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <img class="card-img-top mx-auto d-block" src="/img/aybulogo.png" alt="team-6">
                        <div class="card-body">
                            <h5 class="card-title">Team 6</h5>
                            <div class="homepage-team-social-medias">
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div> --}}
            </div> {{!--/mobile-carousel-inner--}}
            <a class="carousel-control-prev" href="#homepage-team-mobile-carousel" role="button" data-slide="prev">
                <i class="carousel-control-prev-icon homepage-teams-control-button bg-dark border border-dark rounded-circle"
                    aria-hidden="true"></i>
            </a>
            <a class="carousel-control-next" href="#homepage-team-mobile-carousel" role="button" data-slide="next">
                <i class="carousel-control-next-icon homepage-teams-control-button bg-dark border border-dark rounded-circle"
                    aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <!--/container-->
    <div class="homepage-teams-gozat-button">
        <a href="">Göz at</a>
    </div>
</section>
{{!-- Teams --}}

{{!-- Photos --}}
<section id="homepage-photos">
    <div class="homepage-photos-header">Fotoğraflar</div>
    <div class="homepage-photos-content">
        <div class="homepage-photos-gallery">
            <div class="homepage-photos-gallery-top">
                <div class="row">
                    <div class="col">
                        <div class="homepage-photos-photo-area">
                            <img class="rounded" src="/img/anıtkabir.jpeg" alt="photo1" onclick="currentPhoto(1)">
                        </div>
                    </div>
                    <div class="col">
                        <div class="homepage-photos-photo-area">
                            <img class="rounded" src="/img/gazicyber.jpeg" alt="photo2" onclick="currentPhoto(2)">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="homepage-photos-photo-area">
                            <img class="rounded" src="/img/iha.jpeg" alt="photo3" onclick="currentPhoto(3)">
                        </div>
                    </div>
                    <div class="col">
                        <div class="homepage-photos-photo-area">
                            <img class="rounded" src="/img/photo.jpeg" alt="photo4" onclick="currentPhoto(4)">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="homepage-photos-photo-area">
                            <img class="rounded" src="/img/nurus.jpeg" alt="photo5" onclick="currentPhoto(5)">
                        </div>
                    </div>
                    <div class="col">
                        <div class="homepage-photos-photo-area">
                            <img class="rounded" src="/img/belediye.jpeg" alt="photo6" onclick="currentPhoto(6)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="homepage-photos-show">
            <div class="homepage-photos-background-circle">
                <div class="homepage-photos-show-area">
                    <img class="homepage-photos-photo" src="/img/anıtkabir.jpeg" alt="photo1">
                    <img class="homepage-photos-photo" src="/img/gazicyber.jpeg" alt="photo2" style="display:none">
                    <img class="homepage-photos-photo" src="/img/iha.jpeg" alt="photo3" style="display:none">
                    <img class="homepage-photos-photo" src="/img/photo.jpeg" alt="photo4" style="display:none">
                    <img class="homepage-photos-photo" src="/img/nurus.jpeg" alt="photo5" style="display:none">
                    <img class="homepage-photos-photo" src="/img/belediye.jpeg" alt="photo6" style="display:none">
                </div>
            </div>
        </div>
    </div>
    <div class="homepage-photos-responsive-photo-modal">
        {{!-- <span class="close">&times;</span> --}}
        <span id="closeModal" class="fa fa-times homepage-photos-modal-close" aria-hidden="true"></span>
        <img class="homepage-photos-responsive-photo-modal-content homepage-photos-clicked-image">
    </div>
</section>
{{!-- Photos --}}