{{!-- Header --}}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

{{!-- NAVBAR --}}
<div class="homepage-header-navbar">
    <div class="header-navbar-main">

        <img class="homepage-header-navbar-aybu-logo" src="/WebSite2/img/aybulogo.png">
        <div class="homepage-header-group-navbar">
            <a href="#homepage-header">Anasayfa</a>
            <a href="#homepage-about">Hakkımızda</a>
            <a href="#homepage-teams">Takımlarımız</a>
            <a href="#homepage-events">Etkinlik</a>
            <a href="#homepage-photos">Galeri</a>
            <a href="#homepage-contact">İletişim</a>
        </div>

    </div>

</div>

<div  class="homepage-header-mobil-navbar">  
    <ul class="header-mobil-navbar-main">   
        <li><a href="#homepage-header">Anasayfa</a>
            <hr>
        </li>
        <li><a href="#homepage-about">Hakkımızda</a>
            <hr>
        </li>
        <li><a href="#homepage-teams">Takımlarımız</a>
            <hr>
        </li>
        <li><a href="#homepage-events">Etkinlikler</a>
            <hr>
        </li>
        <li><a href="#homepage-photos">Galeri</a>
            <hr>
        </li>
        <li><a href="#homepage-contact">İletişim</a>
            <hr>
        </li>
    </ul>
</div>

<div class="mobil-navbar-photo"> <img class="homepage-mobil-navbar-logo" src="/WebSite2/img/mobilnavbarfoto.png">  

    <i class="fa fa-bars" aria-hidden="true"></i>

</div>




<section id="header">
    <div class="homepage-header-part">
        <img  class="homepage-header-main-photo" src="/WebSite2/img/header background triangle.png">

        {{!-- NAMES --}}
        <div id="homepage-header-mobil-contents"  class="homepage-header-contents">
            <div align="center" class="homepage-header-content-schoolname">
                <p>Ankara Yıldırım Beyazıt Üniversitesi</p>
            </div>
            <div align="center" class="homepage-header-content-clubname">
                <p>Bilim Ve Teknoloji Kulübü</p>
            </div>
        </div>

        {{!-- REGİSTER-BUTTON --}}
        <div  class="homepage-header-register-button">
            <a href="#" id="header-plus-button" onclick="getUniversity()">
                <i class="fas fa-plus"></i>
            </a>
        </div>

        {{!-- SOCİAL-MEDİA-İCON --}}

        <div class="homepage-header-social-media-button">

            <div class="hompage-icons-part header-icon-instagram">
                <a href="https://www.instagram.com/aybubiltek/  " target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-instagram homepage-header-commond-icon"></i>
                </a>
            </div>

            <div class="hompage-icons-part header-icon-twitter">
                <a href="https://twitter.com/aybubiltek" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-twitter homepage-header-commond-icon"></i>
                </a>
            </div>

            <div class="hompage-icons-part header-icon-linkedin">
                <a href="https://www.linkedin.com/company/aybubiltek/" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-linkedin-in homepage-header-commond-icon"></i>
                </a>
            </div>

            <div class="hompage-icons-part header-icon-youtube">
                <a href="https://www.youtube.com/channel/UCXnCrwOdwtJF0wZiIQbz2-A" target="_blank"
                    rel="noopener noreferrer">
                    <i class="fab fa-youtube homepage-header-commond-icon"></i>
                </a>
            </div>

        </div>
    </div>

</section>

<script>
    $(document).ready(function () {
        $(".fa-bars").click(function () {
            $(".homepage-header-mobil-navbar").toggle();
        });
    });

</script>   



<link rel="stylesheet" href="/WebSite2/HomePage/css/homepage-new-header.css">
<script src="https://kit.fontawesome.com/fba63233b9.js" crossorigin="anonymous"></script>



{{!-- About --}}
<section id="about">

</section>

{{!-- Events --}}
<section id="events">

</section>

{{!-- Teams --}}
<section id="teams">

</section>

{{!-- Footer --}}
<section id="footer">

</section>