{{!-- Header --}}
<section id="header">

</section>

{{!-- About --}}
<section id="about">

</section>

{{!-- Events --}}
<section id="events">

</section>

{{!-- Teams --}}
<section id="teams">
<h1 class="Homepage-teams-header">Takımlarımız</h1>
    <!-- Slider main container -->
<div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
            <div class="logo-box">
                <img src="/WebSite2/img/teams logo border.png"  class="circle-border">
                <img src="/WebSite2/img/bozkurt_roket_takımı.png"  class="team-photo">
            </div>
            
            <div class="team">Bozkurt Roket Takımı</div>
            
        </div>
        <div class="swiper-slide">
            <div class="logo-box">
            <img src="/WebSite2/img/teams logo border.png"  class="circle-border">
            <img src="/WebSite2/img/biltekcyber_logo.png"  class="team-photo">
            </div>
            <div class="team">Bozkurt Roket Takımı</div>
        </div>
        <div class="swiper-slide">
            <div class="logo-box">
            <img src="/WebSite2/img/teams logo border.png"  class="circle-border">
            <img src="/WebSite2/img/hilal_logo.png"  class="team-photo">
            </div>
            <div class="team">Bozkurt Roket Takımı</div>
        </div>
        <div class="swiper-slide">
            <div class="logo-box">
            <img src="/WebSite2/img/teams logo border.png"  class="circle-border">
            <img src="/WebSite2/img/yıldırım_roket_takımı.png"  class="team-photo">
            </div>
            <div class="team">Bozkurt Roket Takımı</div>
        </div>
    </div>
</div>
</section>

{{!-- Footer --}}
<section id="footer">

</section>