{{!-- Header --}}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>



{{!-- HEADER --}}

<section id="header2">
    <div class="header2">
        <div class="header-content">
            <div class="header-head">
                <p class="school-name">
                    Ankara Yıldırım Beyazıt Üniversitesi
                </p>
                <p class="club-name">
                    Bilim Ve Teknoloji Kulübü
                </p>
            </div>
            <div class="header-reg-btn">
                <button class="reg-btn">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
            <div class="header-social-btn">
                <a href="https://www.instagram.com/aybubiltek/" target="_blank" rel="noopener noreferrer"> 
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://twitter.com/aybubiltek" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://www.youtube.com/channel/UCXnCrwOdwtJF0wZiIQbz2-A" target="_blank"
                    rel="noopener noreferrer">
                    <i class="fab fa-youtube"></i>
                </a>
                <a href="https://www.linkedin.com/company/aybubiltek/" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </div>
        </div>
    </div>
</section>

{{!-- JS PART --}}

<script>
    $(document).ready(function () {
        $(".fa-bars").click(function () {
            $(".homepage-header-mobil-navbar").toggle();
        });
    });

    $(window).resize(function () {
        var width = $(window).width();
        if (width > 992) {
            document.getElementById("homepage-mobil-part-no").style.display = "none";
        }
    });

</script>



<link rel="stylesheet" href="/WebSite2/HomePage/css/homepage-new-header.css">
<script src="https://kit.fontawesome.com/fba63233b9.js" crossorigin="anonymous"></script>



{{!-- About --}}
<section id="about">

</section>

{{!-- Events --}}
<section id="events">

</section>

{{!-- Teams --}}
<section id="teams">

</section>

{{!-- Footer --}}
<section id="footer">

</section>