<section id="homepage-header">
    <img class="homepage-header-logo" src="\img\aybulogo.png">
    <div class="homepage-header-ellipse"></div>
    <div class="homepage-header-orbits">
        <div class="homepage-header-orbit-one"></div>
        <div class="homepage-header-orbit-two"></div>
        <div class="homepage-header-orbit-three"></div>
        <div class="homepage-header-orbit-four"></div>
    </div>
    <div class="homepage-header-column">
        <div class="homepage-header-column-one"></div>
        <div class="homepage-header-column-two"></div>
        <div class="homepage-header-column-three"></div>
        <div class="homepage-header-column-four">
        </div>
    </div>
    <div class="homepage-header-content">
        <h1 class="homepage-header-content-schoolname">Ankara Yıldırım Beyazıt Üniversitesi</h1>
        {{!-- <hr color="black" width="70%" align="right">  --}}
        <h1 class="homepage-header-content-clubname">Bilim ve Teknoloji Kulübü</h1>
    </div>
    <div class="mobile-homepage-header-menu">
        <label for="homepage-menu-toggle" class="mobile-homepage-header-menu-area"></label>
        <label for="homepage-menu-toggle" class="mobile-homepage-header-menu-icon">
            <i class="fas fa-bars"></i>
            <i class="fas fa-times"></i>
        </label>
    </div>
    <div class="mobile-homepage-header-column">
        <div class="mobile-hompage-header-column-common">
            <img class="mobile-homepage-header-logo" src="\img\aybulogo.png">
            <h1 class="mobile-homepage-header-content-schoolname">Ankara Yıldırım Beyazıt Üniversitesi</h1>
        </div>
    </div>
    <div class="mobile-homepage-header-content">
        <h1 class="mobile-homepage-header-content-clubname">Bilim Ve Teknoloji Kulübü</h1>
    </div>
    <div class="mobile-homepage-header-button">
        <h1 class="mobile-homepage-header-button-content">Kayıt Ol</h1>
        <div class="mobile-homepage-header-button-circle">
            <div class="mobile-homepage-header-button-icon"> <i class="fas fa-plus"></i></div>
        </div>
    </div>
</section>

{{!-- Takımlarımız--}}
<section id="homepage-teams">
    <div class="homepage-teams-background-columns homepage-teams-background-columns-left">
        <div class="homepage-teams-background-column"></div>
        <div class="homepage-teams-background-column"></div>
        <div class="homepage-teams-background-column"></div>
        <div class="homepage-teams-background-column"></div>
    </div>
    <div class="homepage-teams-background-columns homepage-teams-background-columns-right">
        <div class="homepage-teams-background-column"></div>
        <div class="homepage-teams-background-column"></div>
        <div class="homepage-teams-background-column"></div>
        <div class="homepage-teams-background-column"></div>
    </div>
    <div class="homepage-teams-header-text">
        Takımlarımız
    </div>
    {{!-- <div class="homepage-teams-buttons">
        <a class="fas fa-angle-double-left homepage-teams-left-button" href="#myCarousel"></a>
        <a class="fas fa-angle-double-right homepage-teams-right-button" href="#myCarousel"></a>
    </div> --}}
    <div class="homepage-teams-container">
        <div id="homepage-team-carousel" class="carousel slide"data-interval="false">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card">
                                <img class=" card-img-top mx-auto d-block" src="/img/aybulogo.png" alt="team-1">
                                <div class="card-body"><h5 class="card-title">Team 1</h5></div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card">
                                <img class="card-img-top mx-auto d-block" src="/img/aybulogo.png" alt="team-2">
                                <div class="card-body"><h5 class="card-title">Team 2</h5></div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card">
                                <img class="card-img-top mx-auto d-block" src="/img/aybulogo.png" alt="team-3">
                                <div class="card-body"><h5 class="card-title">Team 3</h5></div>
                            </div>
                        </div>
                    </div>
                </div><!--carousel-item-->

                <div class="carousel-item">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card">
                                <img class="card-img-top mx-auto d-block" src="/img/aybulogo.png" alt="team-4">
                                <div class="card-body"><h5 class="card-title">Team 4</h5></div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card">
                                <img class="card-img-top mx-auto d-block" src="/img/aybulogo.png" alt="team-5">
                                <div class="card-body"><h5 class="card-title">Team 5</h5></div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card">
                                <img class="card-img-top mx-auto d-block" src="/img/aybulogo.png" alt="team-6">
                                <div class="card-body"><h5 class="card-title">Team 6</h5></div>
                            </div>
                        </div>
                    </div>
                </div><!--carousel-item-->
                
            </div> <!--carousel-inner-->
            <a class="carousel-control-prev" href="#homepage-team-carousel" role="button" data-slide="prev">
                <i class="fas fa-angle-double-left homepage-teams-control-button" aria-hidden="true"></i>
            </a>
            <a class="carousel-control-next" href="#homepage-team-carousel" role="button" data-slide="next">
                <i class="fas fa-angle-double-right homepage-teams-control-button" aria-hidden="true"></i>
            </a>
        </div>
    </div><!--container-->
    <div class="homepage-teams-gozat-button">
        <a href="">Göz at</a>
    </div>
</section>