{{!-- Header --}}
<section id="header">
    <div class="homepage-header-part">
        <img class="homepage-header-main-photo" src="/WebSite2/img/header background triangle.png">

        {{!-- NAMES --}}
        <div class="homepage-header-contents">
            <div align="center" class="homepage-header-content-schoolname">
                <p>Ankara Yıldırım Beyazıt Üniversitesi</p>
            </div>
            <div align="center" class="homepage-header-content-clubname">
                <p>Bilim Ve Teknoloji Kulübü</p>
            </div>
        </div>

                {{!-- REGİSTER-BUTTON --}}
        <div class="homepage-header-register-button">
            <a href="#" id="homepage-header-plus-button-for-register" onclick="getUniversity()">
                <i class="fas fa-plus"></i>
            </a>
        </div>

                {{!-- SOCİAL-MEDİA-İCON --}}

        <div class="homepage-header-flex-container-social-media-button">

            <div class="hompage-header-icon-part-of-all homepage-header-icon-instagram">
                <a href="https://www.instagram.com/aybubiltek/  " target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-instagram homepage-header-commond-icon"></i>
                </a>
            </div>

            <div class="hompage-icon-part-of-all homepage-header-icon-twitter">
                <a href="https://twitter.com/aybubiltek" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-twitter homepage-header-commond-icon"></i>
                </a>
            </div>

            <div class="hompage-icon-part-of-all homepage-header-icon-linkedin">
                <a href="https://www.linkedin.com/company/aybubiltek/" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-linkedin-in homepage-header-commond-icon"></i>
                </a>
            </div>

            <div class="hompage-icon-part-of-all homepage-header-icon-youtube">
                <a href="https://www.youtube.com/channel/UCXnCrwOdwtJF0wZiIQbz2-A" target="_blank"
                    rel="noopener noreferrer">
                    <i class="fab fa-youtube homepage-header-commond-icon"></i>
                </a>
            </div>

        </div>
    </div>

</section>




    </div>

</section>

{{!-- About --}}
<section id="about">

</section>

{{!-- Events --}}
<section id="events">

</section>

{{!-- Teams --}}
<section id="teams">

</section>

{{!-- Footer --}}
<section id="footer">

</section>