<section id="wrapper"> <!--!ENTER OTHER SECTIONS INSIDE THIS SECTION OTHERWISE MOBILENAV JS NOT WORKS CORRECTLY-->
    <section id="header">
        {{!-- registration modal form open when click kayıt ol button --}}
        <div class="modal fade" id="register-modal-for-homepage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">
                    Kayıt Form</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                <form id="registration-form-for-homepage" role="form" action="#" method="post" class="register-form-for-homepage" name="myForm">
                    <fieldset style="display: block;">
                        <div class="form-group register-form-h5 register-form-group">
                            <h5>Ad-Soyad(*)</h5>
                            <i class="fas fa-user register-fa-lg-user fa-fw" aria-hidden="true"></i>
                            <label class="sr-only register-form-label" for="form-first-last-name">Ad-Soyad</label>

                            <input type="text" id="id_name" name="form-first-name"  placeholder="Ad-Soyad..."
                                class="form-first-last-name form-control input-error register-form-input"
                                id="form-first-last-name">
                        </div>
                        <div class="form-group register-form-h5 register-form-group">
                            <h5>E-Mail(*)</h5>
                            <i class="fas fa-check-circle" id="register-modal-mail-valid"></i>
                           <i class="fas fa-times-circle" id="register-modal-mail-invalid"></i>
                           <i class="fas fa-exclamation-circle" id="register-modal-mail-warning"></i>
                            <i class="fas fa-envelope register-fa-lg-mail fa-fw" aria-hidden="true"></i>
                            <label class="emailBox register-form-label"></label>
                            <input type="email" id="email"  placeholder="example@example.com"
                                class="form-email form-control register-form-input" onkeydown="e_mail_validation()">
                        </div>
                        <div class="form-group register-form-h5 register-form-group">
                            <h5>Telefon</h5>
                            <i class="fas fa-phone-alt register-fa-lg-phone fa-fw" aria-hidden="true"></i>
                            <label class="sr-only register-form-label" for="form-phone">Telefon</label>

                            <input name="form-phone" type="text" onkeyup="phone_validate()"
                                pattern=[0-9]{3}-[0-9]{3}-[0-9]{4} id="id_phone" placeholder="XXX-XXX-XXXX"
                                class="form-phone form-control input-error register-form-input" id="form-phone">
                        </div>
                        <div class="form-group register-form-h5 register-form-group">

                            <h5>Okul(*)</h5>
                            <select class="register-form-select" name="okul" onchange="getDepartmentsById()" 
                                id="id_school">
                                <option value="" disabled selected hidden>Okulunuzu seçiniz...</option>
                            </select>
                        </div>
                        <div class="form-group register-form-h5 register-form-group">

                            <h5>Bölüm(*)</h5>
                            <select class="register-form-select" name="bölüm"  id="id_dep">
                                <option value="" disabled selected hidden>Bölümünüzü seçiniz...</option>
                               
                            </select>
                        </div>
                        <div class="modal-footer">
                            <a class="register-modal-footer-a" onclick=" submit_validation()">
                                {{!-- each span;
                                for button animation in kayıt ol button
                                represent left right top and bottom lines --}}
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                Kaydol
                            </a>

                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
        <div class="header-bground"></div>
        <div class="schoolName">
            <div class="header-box">
                <h1 class="header-msg">Ankara Yıldırım Beyazıt Üniversitesi</h1>
                <h2 class="header-msg2">Bilim Ve Teknoloji Kulübü</h2>
                <p class="header-button-info">Bizden haberdar olmak için</p>
                <a class="header-button" data-toggle="modal" data-target="#register-modal-for-homepage" onclick="getUniversity()">KAYIT OL</a>
            </div>
        </div>
        
        <div class="homepage-header-social-icons">
            <a href="https://twitter.com/aybubiltek" class="slider-nav-item"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/aybubiltek/" class="slider-nav-item"><i class="fab fa-instagram"></i></a>
            <a href="https://www.youtube.com/user/ybubiltek" class="slider-nav-item"><i class="fab fa-youtube"></i></a>
            <a href="https://www.linkedin.com/company/aybubiltek/" class="slider-nav-item"><i class="fab fa-linkedin-in"></i></a>

        </div>

    </section>
</section>