{{!-- NAVBAR --}}
<div class="homepage-header-navbar">
    <div class="header-navbar-main">

        <img class="homepage-header-navbar-aybu-logo" src="/WebSite2/img/aybulogo.png">
        <div class="homepage-header-group-navbar">
            <a href="#homepage-header">Anasayfa</a>
            <a href="#homepage-about">Hakkımızda</a>
            <a href="#homepage-teams">Takımlarımız</a>
            <a href="#homepage-events">Etkinlik</a>
            <a href="#homepage-photos">Galeri</a>
            <a href="#homepage-contact">İletişim</a>
        </div>

    </div>

</div>

{{!-- MOBİL NAVBAR --}}
<div id="homepage-mobil-part-no" class="homepage-header-mobil-navbar">
    <ul class="header-mobil-navbar-main">
        <li><a href="#homepage-header">Anasayfa</a>
            <hr>
        </li>
        <li><a href="#homepage-about">Hakkımızda</a>
            <hr>
        </li>
        <li><a href="#homepage-teams">Takımlarımız</a>
            <hr>
        </li>
        <li><a href="#homepage-events">Etkinlikler</a>
            <hr>
        </li>
        <li><a href="#homepage-photos">Galeri</a>
            <hr>
        </li>
        <li><a href="#homepage-contact">İletişim</a>
            <hr>
        </li>
    </ul>
</div>

<div class="mobil-navbar-photo"> <img class="homepage-mobil-navbar-logo" src="/WebSite2/img/mobilnavbarfoto.png">

    <i class="fa fa-bars" aria-hidden="true"></i>

</div>


{{!-- HEADER --}}
<section id="header2">
    <div class="header2">
        <div class="header-content">
            <div class="header-head">
                <p class="school-name">
                    Ankara Yıldırım Beyazıt Üniversitesi
                </p>
                <p class="club-name">
                    Bilim Ve Teknoloji Kulübü
                </p>
            </div>
            <div class="header-reg-btn">
                <button class="reg-btn">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
            <div class="header-social-btn">
                <a href="https://www.instagram.com/aybubiltek/" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://twitter.com/aybubiltek" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://www.youtube.com/channel/UCXnCrwOdwtJF0wZiIQbz2-A" target="_blank"
                    rel="noopener noreferrer">
                    <i class="fab fa-youtube"></i>
                </a>
                <a href="https://www.linkedin.com/company/aybubiltek/" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </div>
        </div>
    </div>
</section>



{{!-- About --}}
<section id="about">
    <div class="homepage-about">
        <!-- <h1 class="homepage-about-title">Hakkımmızda</h1> -->
        <div class="homepage-about-area">
            <div class="homepage-about-mission">
                <img class="homepage-about-mission-icon" src="WebSite2/img/aboutmissionlogo.png">
                <div class="homepage-about-text-area">
                    <div class="homepage-about-left-title-area">
                        <h3 class="homepage-about-mission-title">Misyon</h3>
                    </div>
                    <p class="homepage-about-mission-text">Misyonumuz, üniversite öğrencilerine,edindikleri teorik
                        bilgilerin yanı sıra bu bilgileri uygulamaya dönüştürebilecekleri ortamlar sunarak durumları
                        somut bir şekilde tecrübe edebilmelerini ve bu sayede,okul sonrası hayatlarına daha kolay adapte
                        olabilmelerini hedefliyoruz.
                        Bilim ve Teknoloji Topluluğu, düzenlediği etkinlikler ve yaptığı projelerle, üniversite
                        öğrencilerine teknik donanımlarının yanında ekip ruhu, liderlik, takım çalışmasına yatkınlık
                        gibi kendilerini daha ileriye taşımalarına yardımcı olacak kişisel özellikleri de kazandırmayı
                        amaçlıyoruz.
                        Önceliğimiz, sürekli gelişen dünyada izleyici olmak yerine birlikte geleceği değiştirmek.</p>
                </div>
            </div>
            <div class="homepage-about-vision">
                <img class="mobile-homepage-about-vision-icon" src="WebSite2/img/aboutvisionlogo.png">
                <div class="homepage-about-text-area">
                    <div class="homepage-about-right-title-area">
                        <h3 class="homepage-about-vision-title">Vizyon</h3>
                    </div>
                    <p class="homepage-about-vision-text">Vizyon 2021, teoriği pratiğe aktarma, gelişen teknoloji takip
                        ederek yenilikçi ürünler tasarlama ve üretme, tecrübe aktarıma ve edinimi, takım çalışması ve
                        kriz yönetimi konularında öğrencilere farklı bakış açıları kazandırmayı ve daha nitelikli,
                        sosyal ve özgüveni yerinde bireyler haline gelmelerini sağlamayı planlıyoruz.
                        Bu vizyonumuzun amacı, üniversite hayatını daha anlamlı, verimli, üretken ve sosyal bir hayat
                        haline getirerek üniversitemiz öğrencilerinin hayatlarına farklı renkler ve bakış açıları
                        katmaktır.Bu bağlamda hali hazırda var olan arge takımlarımıza farklı alanlarda yeni takımlar
                        ekleyerek daha üretken, multidisipliner çalışma ortamı yaratmayı ve bu ortamlarda elde edilecek
                        elle tutulur, somut veriler ve ürünler elde etmeyi planlıyoruz.</p>
                </div>
                <img class="homepage-about-vision-icon" src="WebSite2/img/aboutvisionlogo.png">
            </div>
        </div>
    </div>
</section>

{{!-- Events --}}
<section id="events">
    <div class="homepage-events">
        <h1 class="homepage-events-title">ETKİNLİKLERİMİZ</h1>
        <div class="homepage-events-grid">
            <div class="homepage-events-box-one">
                <img class="homepage-events-box-one-content" src="WebSite2/img/event.png">
                <button class="homepage-events-one-button">
                    <i class="fas fa-plus button-plus-icon"></i>
                    <p class="homepage-events-button-information">Tarih Geçti</p>
                </button>
            </div>
            <div class="homepage-events-box-two">
                <img class="homepage-events-box-two-content" src="WebSite2/img/event.png">
                <button class="homepage-events-two-button">
                    <i class="fas fa-plus button-plus-icon"></i>
                    <p class="homepage-events-button-information">Tarih Geçti</p>
                </button>
            </div>
            <div class="homepage-events-box-three">
                <img class="homepage-events-box-three-content" src="WebSite2/img/event.png">
                <button class="homepage-events-three-button">
                    <i class="fas fa-plus button-plus-icon"></i>
                    <p class="homepage-events-button-information">Tarih Geçti</p>
                </button>
            </div>
            <div class="homepage-events-one-time">
                <p class="time-one">02.10.2020</p>
            </div>
            <div class="homepage-events-two-time">
                <p class="time-two">02.10.2020</p>
            </div>
            <div class="homepage-events-three-time">
                <p class="time-three">02.10.2020</p>
            </div>
            <div class="homepage-events-timeline-points">
                <dt>|</dt>
                <dt>|</dt>
                <dt>|</dt>
                <dt>|</dt>
                <dt>|</dt>
                <dt>|</dt>
                <dt>|</dt>
                <dt>|</dt>
                <dt>|</dt>
                <dt>|</dt>
                <dt>|</dt>
            </div>
        </div>
    </div>
</section>

{{!-- Teams --}}
<div class="teams">
    <h1 class="Homepage-teams-header">Takımlarımız</h1>
    <!-- Slider main container -->
    <div class="teams-content">
        <div class="teams-flex">
            <div class="team-box">
                <div class="team-box-head">
                    <img src="/WebSite2/img/bozkurt_roket_takımı.png" class="team-photo">
                </div>
                <div class="team-box-content">
                    <p class="team-name">
                        Bozkurt Roket Takımı
                    </p>
                    <div class="teams-social">
                        <a class="team-social-btn">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a class="team-social-btn">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="team-social-btn">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="team-box">
                <div class="team-box-head">
                    <img src="/WebSite2/img/biltekcyber_logo.png" class="team-photo">
                </div>
                <div class="team-box-content">
                    <p class="team-name">
                        BiltekCyber
                    </p>
                    <div class="teams-social">
                        <a class="team-social-btn">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a class="team-social-btn">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="team-social-btn">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="team-box">
                <div class="team-box-head">
                    <img src="/WebSite2/img/hilal_logo.png" class="team-photo">
                </div>
                <div class="team-box-content">
                    <p class="team-name">
                        Hilal Roket Takımı
                    </p>
                    <div class="teams-social">
                        <a class="team-social-btn">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a class="team-social-btn">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="team-social-btn">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="team-box">
                <div class="team-box-head">
                    <img src="/WebSite2/img/yıldırım_roket_takımı.png" class="team-photo">
                </div>
                <div class="team-box-content">
                    <p class="team-name">
                        Yıldırım Roket Takımı
                    </p>
                    <div class="teams-social">
                        <a class="team-social-btn">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a class="team-social-btn">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="team-social-btn">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</section>

{{!-- Footer --}}
<section id="footer">
    <div class="footer">
        <div class="footer-wrapper">
            <img src="/WebSite2/img/aybulogo.png" class="footer-club-logo">
            <div class="footer-container">
                <h1 class="footer-clubname">Bilim Ve Teknoloji Kulübü</h1>

                <div class="footer-social-media-box">
                    <a href="https://www.instagram.com/aybubiltek/" target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://twitter.com/aybubiltek" target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="https://www.linkedin.com/company/aybubiltek/" target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a href="https://www.youtube.com/channel/UCXnCrwOdwtJF0wZiIQbz2-A" target="_blank"
                        rel="noopener noreferrer">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
                <p class="footer-copyright">&copy;2020 BILTEK AYBU. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</section>