{{!-- Header --}}
<section id="header">

</section>

{{!-- About --}}
<section id="about">
    <div class="homepage-about">
        <!-- <h1 class="homepage-about-title">Hakkımmızda</h1> -->
        <div class="homepage-about-area">
            <div class="homepage-about-mission">
                <img class="homepage-about-mission-icon" src="WebSite2/img/aboutmissionlogo.png">
                <div class="homepage-about-text-area">
                    <div class="homepage-about-left-title-area">
                        <h3 class="homepage-about-mission-title">Misyon</h3>
                    </div>
                    <p class="homepage-about-mission-text">Misyonumuz, üniversite öğrencilerine,edindikleri teorik
                        bilgilerin yanı sıra bu bilgileri uygulamaya dönüştürebilecekleri ortamlar sunarak durumları
                        somut bir şekilde tecrübe edebilmelerini ve bu sayede,okul sonrası hayatlarına daha kolay adapte
                        olabilmelerini hedefliyoruz.
                        Bilim ve Teknoloji Topluluğu, düzenlediği etkinlikler ve yaptığı projelerle, üniversite
                        öğrencilerine teknik donanımlarının yanında ekip ruhu, liderlik, takım çalışmasına yatkınlık
                        gibi kendilerini daha ileriye taşımalarına yardımcı olacak kişisel özellikleri de kazandırmayı
                        amaçlıyoruz.
                        Önceliğimiz, sürekli gelişen dünyada izleyici olmak yerine birlikte geleceği değiştirmek.</p>
                </div>
            </div>
            <div class="homepage-about-vision">
                <img class="mobile-homepage-about-vision-icon" src="WebSite2/img/aboutvisionlogo.png">
                <div class="homepage-about-text-area">
                    <div class="homepage-about-right-title-area">
                        <h3 class="homepage-about-vision-title">Vizyon</h3>
                    </div>
                    <p class="homepage-about-vision-text">Vizyon 2021, teoriği pratiğe aktarma, gelişen teknoloji takip
                        ederek yenilikçi ürünler tasarlama ve üretme, tecrübe aktarıma ve edinimi, takım çalışması ve
                        kriz yönetimi konularında öğrencilere farklı bakış açıları kazandırmayı ve daha nitelikli,
                        sosyal ve özgüveni yerinde bireyler haline gelmelerini sağlamayı planlıyoruz.
                        Bu vizyonumuzun amacı, üniversite hayatını daha anlamlı, verimli, üretken ve sosyal bir hayat
                        haline getirerek üniversitemiz öğrencilerinin hayatlarına farklı renkler ve bakış açıları
                        katmaktır.Bu bağlamda hali hazırda var olan arge takımlarımıza farklı alanlarda yeni takımlar
                        ekleyerek daha üretken, multidisipliner çalışma ortamı yaratmayı ve bu ortamlarda elde edilecek
                        elle tutulur, somut veriler ve ürünler elde etmeyi planlıyoruz.</p>
                </div>
                <img class="homepage-about-vision-icon" src="WebSite2/img/aboutvisionlogo.png">
            </div>
        </div>
    </div>
</section>

{{!-- Events --}}
<section id="events">

</section>

{{!-- Teams --}}
<section id="teams">

</section>

{{!-- Footer --}}
<section id="footer">

</section>