{{!-- Header --}}
<section id="homepage-header">
    <img class="homepage-header-logo" src="\img\aybulogo.png">
    <div class="hompage-header-ellipse-property">
        <div class="homepage-header-ellipse"></div>
    </div>
    <div class="homepage-header-orbits">
        <div class="homepage-header-orbit-one"></div>
        <div class="homepage-header-orbit-two"></div>
        <div class="homepage-header-orbit-three"></div>
        <div class="homepage-header-orbit-four"></div>
    </div>
    <div class="homepage-header-column">
        <div class="homepage-header-column-one"></div>
        <div class="homepage-header-column-two"></div>
        <div class="homepage-header-column-three"></div>
        <div class="homepage-header-column-four">
        </div>
    </div>
    <div class="homepage-header-content">
        <h1 class="homepage-header-content-schoolname">Ankara Yıldırım Beyazıt Üniversitesi</h1>
        {{!-- <hr color="black" width="70%" align="right">  --}}
        <h1 class="homepage-header-content-clubname">Bilim ve Teknoloji Kulübü</h1>
    </div>
    <div class="mobile-homepage-header-menu">
        <label for="homepage-menu-toggle" class="mobile-homepage-header-menu-area"></label>
        <label for="homepage-menu-toggle" class="mobile-homepage-header-menu-icon">
            <i class="fas fa-bars"></i>
            <i class="fas fa-times"></i>
        </label>
    </div>
    <div class="mobile-homepage-header-column">
        <div class="mobile-hompage-header-column-common">
            <img class="mobile-homepage-header-logo" src="\img\aybulogo.png">
            <h1 class="mobile-homepage-header-content-schoolname">Ankara Yıldırım Beyazıt Üniversitesi</h1>
        </div>
    </div>
    <div class="mobile-homepage-header-content">
        <h1 class="mobile-homepage-header-content-clubname">Bilim Ve Teknoloji Kulübü</h1>
    </div>
    <div class="mobile-homepage-header-button">
        <h1 class="mobile-homepage-header-button-content">Kayıt Ol</h1>
        <div class="mobile-homepage-header-button-circle">
            <div class="mobile-homepage-header-button-icon"> <i class="fas fa-plus"></i></div>
        </div>
    </div>
</section>
{{!-- Header --}}

{{!-- About --}}
<section id="homepage-about-header">
    <h1 class="homepage-about-header-title">Misyon & Vizyon </h1>
    <div class="homepage-about-header-boxes">

        <div class="homepage-about-header-box-one">
            {{!-- for mobile --}}
            <p class="mobile-homepage-about-header-box-one-content">Miusov, as a man man of breeding and deilcacy, could
                not but feel some inwrd qualms, when he reached the Father Superior's with Ivan: he felt ashamed of
                havin lost his temper. He felt that he ought to have disdaimed that despicable wretch, Fyodor
                Pavlovitch, too much to have been upset by him in Father Zossima's cell, and so to have forgotten
                himself. "Teh monks were not to blame, in any case," he reflceted, on the steps. "And if they're decent
                people here (and the Father Superior, I understand, is a nobleman) why not be friendly and courteous
                withthem? I won't argue, I'll fall in with everything, I'll win them by politness, and show them that
                I've nothing to do with that Aesop, thta buffoon, that Pierrot, and have merely been takken in over this
                affair, just as they have."</p>
            <button class="homepage-about-header-box-one-more-button about-button" href="#">
                <p class="homepage-about-header-button-title">Yakında!</p>
            </button>
        </div>
        <img class="homepage-about-header-box-one-mission" src="\img\about-mission.png">

        <div class="homepage-about-header-box-one-hover">
            {{!-- for pc --}}
            <p class="homepage-about-header-box-one-content">Miusov, as a man man of breeding and deilcacy, could not
                but feel some inwrd qualms, when he reached the Father Superior's with Ivan: he felt ashamed of havin
                lost his temper. He felt that he ought to have disdaimed that despicable wretch, Fyodor Pavlovitch, too
                much to have been upset by him in Father Zossima's cell, and so to have forgotten himself. "Teh monks
                were not to blame, in any case," he reflceted, on the steps. "And if they're decent people here (and the
                Father Superior, I understand, is a nobleman) why not be friendly and courteous withthem? I won't argue,
                I'll fall in with everything, I'll win them by politness, and show them that I've nothing to do with
                that Aesop, thta buffoon, that Pierrot, and have merely been takken in over this affair, just as they
                have."</p>
            <div class="homepage-about-header-box-one-tooltip">
                <div class="content">Çok Yakında!</div>
                <div class="triangle"></div>
            </div>
            <button class="homepage-about-header-box-one-more-button about-button" href="#">
                <p class="homepage-about-header-button-title">Gözat</p>
            </button>
        </div>

        <div class="homepage-about-header-box-two">
            {{!-- for mobile --}}
            <p class="mobile-homepage-about-header-box-two-content">Miusov, as a man man of breeding and deilcacy, could
                not but feel some inwrd qualms, when he reached the Father Superior's with Ivan: he felt ashamed of
                havin lost his temper. He felt that he ought to have disdaimed that despicable wretch, Fyodor
                Pavlovitch, too much to have been upset by him in Father Zossima's cell, and so to have forgotten
                himself. "Teh monks were not to blame, in any case," he reflceted, on the steps. "And if they're decent
                people here (and the Father Superior, I understand, is a nobleman) why not be friendly and courteous
                withthem? I won't argue, I'll fall in with everything, I'll win them by politness, and show them that
                I've nothing to do with that Aesop, thta buffoon, that Pierrot, and have merely been takken in over this
                affair, just as they have."</p>
            <button class="homepage-about-header-box-two-more-button about-button" href="">
                <p class="homepage-about-header-button-title">Yakında!</p>
            </button>
        </div>
        <img class="homepage-about-header-box-two-eye" src="\img\about-eye.png">

        <div class="homepage-about-header-box-two-hover">
            {{!-- for pc --}}
            <p class="homepage-about-header-box-two-content">Miusov, as a man man of breeding and deilcacy, could not
                but feel some inwrd qualms, when he reached the Father Superior's with Ivan: he felt ashamed of havin
                lost his temper. He felt that he ought to have disdaimed that despicable wretch, Fyodor Pavlovitch, too
                much to have been upset by him in Father Zossima's cell, and so to have forgotten himself. "Teh monks
                were not to blame, in any case," he reflceted, on the steps. "And if they're decent people here (and the
                Father Superior, I understand, is a nobleman) why not be friendly and courteous withthem? I won't argue,
                I'll fall in with everything, I'll win them by politness, and show them that I've nothing to do with
                that Aesop, thta buffoon, that Pierrot, and have merely been takken in over this affair, just as they
                have."</p>
            <div class="homepage-about-header-box-two-tooltip">
                <div class="content">Çok Yakında!</div>
                <div class="triangle"></div>
            </div>
            <button class="homepage-about-header-box-two-more-button about-button" href="">
                <p class="homepage-about-header-button-title">Gözat</p>
            </button>
        </div>
    </div>

   
</section>
{{!-- About --}}

{{!-- Events --}}
<section id="homepage-events-part">

    <h1 class="homepage-events-header-line">Etkinlikler</h1>

    <div class="homepage-events-all-ellipse homepage-events-bigEllipse"></div>


    <div class="homepage-events-grid-container">

        <!-- Item-1 -->
        <div class="homepage-events-grid-item1"></div>

        <!-- Grid for information box(register)  > Item-2-->
        <div class="homepage-events-grid-item2">
            <div class="homepage-events-register-information">
                 <img class="homepage-events-photo-for-register-box" src="/img/background.jpg" >
                <div style="text-align: center;">
                    <button class="homepage-events-not-expired-register-btn homepage-events-register-btn">
                        <div class="homepage-events-register-part-icon-btn"></div>
                        <div class="btn-txt homepage-events-register-content-btn">KAYIT OL</div>
                    </button>
                </div>
            </div>
        </div>

        <!--  Grid for information box(missing-register) > item3 -->

        <div class="homepage-events-grid-item3">
            <div class="homepage-events-register-information">
                <img class="homepage-events-photo-for-missing-box" src="/img/background.jpg" >
                <div style="text-align: center;">
                    <button class="homepage-events-missing-register-btn homepage-events-register-btn">
                        <div class="homepage-events-register-part-icon-btn"></div>
                        <div class="btn-txt homepage-events-register-content-btn">TARİH GEÇTİ</div>
                    </button>
                </div>
            </div>
        </div>

        <!-- Grid for Timeline points > -->

        <div class="homepage-events-grid-for-timeline-points">
            <div class="homepage-events-points">
                <dt>.</dt>
                <dt>.</dt>
                <dt>.</dt>
                <dt>.</dt>
                <dt>.</dt>
                <dt>.</dt>
                <dt>.</dt>
                <dt>.</dt>
                <dt>.</dt>
                <dt>.</dt>
                <dt>.</dt>
                <dt>.</dt>
                <dt>.</dt>
                <dt>.</dt>
                <dt>.</dt>
                <dt>.</dt>
            </div>
        </div>

        <!-- Grid for information box(missing-register) > item-7 -->
        <div class="homepage-events-grid-item7">
            <div class="homepage-events-register-information">
                <img class="homepage-events-photo-for-register-box" src="/img/background.jpg" >
                <div style="text-align: center;">
                    <button class="homepage-events-missing-register-btn-right-side homepage-events-register-btn">
                        <div class="homepage-events-register-part-icon-btn"></div>
                        <div class="btn-txt homepage-events-register-content-btn">TARİH GEÇTİ</div>
                    </button>
                </div>
            </div>
        </div>

        <!-- Grid for Timeline information box-top > item-4 -->
        <div class="homepage-events-grid-item4">
            <div class="homepage-events-timeline-info-box">
                <div class="homepage-events-joint-date-content   homepage-events-content-date-for-register ">30.12.2020</div>
            </div>
        </div>

        <!-- Grid for Timeline information box-middle> item-5 -->

        <div class="homepage-events-grid-item5">
            <div class="homepage-events-timeline-info-box">
                <div class="homepage-events-joint-date-content   homepage-events-content-missing-date ">01.09.2020</div>
            </div>
        </div>

        <!-- Grid for Timeline information box-bottom > item-6 -->

        <div class="homepage-events-grid-item6">
            <div class="homepage-events-timeline-info-box">
                <div class="homepage-events-joint-date-content   homepage-events-content-date-for-missing-box ">29.02.2020</div>
            </div>
        </div>




        <!-- Grid for timeline button-->

        <div class="homepage-events-grid-for-timeline-button">
            <i class="fa fa-angle-double-down  homepage-events-date-time-icon" aria-hidden="true"> </i>
        </div>


        <!-- Grid for ellipse-->
        <div class="homepage-events-grid-item-for-ellipse">
            <div class="homepage-events-all-ellipse homepage-events-mediumElipse"></div>
        </div>

        <div class="homepage-events-grid-item-for-ellipse-smallellipse">
            <div class="homepage-events-all-ellipse homepage-events-smallElipse"></div>
        </div>

        <div class="homepage-events-grid-item-for-ellipse-subsmallellipse">
            <div class="homepage-events-all-ellipse homepage-events-subsmallElipse"></div>
        </div>

        <!-- Item-8-->
        <div class="homepage-events-grid-item8"> </div>




    </div>
</section>
{{!-- Events --}}

{{!-- Teams--}}
<section id="homepage-teams">
    <div class="homepage-teams-columns-overflow-property">
        <div class="homepage-teams-background-columns homepage-teams-background-columns-left">
            <div class="homepage-teams-background-column"></div>
            <div class="homepage-teams-background-column"></div>
            <div class="homepage-teams-background-column"></div>
            <div class="homepage-teams-background-column"></div>
        </div>
    </div>
    <div class="homepage-teams-columns-overflow-property">
        <div class="homepage-teams-background-columns homepage-teams-background-columns-right">
            <div class="homepage-teams-background-column right"></div>
            <div class="homepage-teams-background-column right"></div>
            <div class="homepage-teams-background-column right"></div>
            <div class="homepage-teams-background-column right"></div>
        </div>
    </div>
    <div class="homepage-teams-header-text">
        Takımlarımız
    </div>
    <div class="homepage-teams-container">
        <div class="swiper-container homepage-teams--hide">
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="card">
                        <img class=" card-img-top mx-auto d-block" src="/img/aybulogo.png" alt="team-1">
                        <div class="card-body">
                            <h5 class="card-title">Team 1</h5>
                            <div class="homepage-team-social-medias">
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <img class="card-img-top mx-auto d-block" src="/img/aybulogo.png" alt="team-2">
                        <div class="card-body">
                            <h5 class="card-title">Team 2</h5>
                            <div class="homepage-team-social-medias">
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <img class="card-img-top mx-auto d-block" src="/img/aybulogo.png" alt="team-3">
                        <div class="card-body">
                            <h5 class="card-title">Team 3</h5>
                            <div class="homepage-team-social-medias">
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <img class="card-img-top mx-auto d-block" src="/img/aybulogo.png" alt="team-4">
                        <div class="card-body">
                            <h5 class="card-title">Team 4</h5>
                            <div class="homepage-team-social-medias">
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <img class="card-img-top mx-auto d-block" src="/img/aybulogo.png" alt="team-5">
                        <div class="card-body">
                            <h5 class="card-title">Team 5</h5>
                            <div class="homepage-team-social-medias">
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <img class="card-img-top mx-auto d-block" src="/img/aybulogo.png" alt="team-6">
                        <div class="card-body">
                            <h5 class="card-title">Team 6</h5>
                            <div class="homepage-team-social-medias">
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

        </div>
        <div id="homepage-team-mobile-carousel" class="carousel slide" data-interval="false">
            <div class=" carousel-inner homepage-teams-responsive-team-container-inner">
                <div class="carousel-item active">
                    <div class="card">
                        <img class=" card-img-top mx-auto d-block" src="/img/aybulogo.png" alt="team-1">
                        <div class="card-body">
                            <h5 class="card-title">Team 1</h5>
                            <div class="homepage-team-social-medias">
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </div>
                        </div> {{!-- /card-body --}}
                    </div> {{!-- /card --}}
                </div> {{!--/carousel-item--}}
                <div class="carousel-item">
                    <div class="card">
                        <img class="card-img-top mx-auto d-block" src="/img/aybulogo.png" alt="team-2">
                        <div class="card-body">
                            <h5 class="card-title">Team 2</h5>
                            <div class="homepage-team-social-medias">
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <img class="card-img-top mx-auto d-block" src="/img/aybulogo.png" alt="team-3">
                        <div class="card-body">
                            <h5 class="card-title">Team 3</h5>
                            <div class="homepage-team-social-medias">
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <img class="card-img-top mx-auto d-block" src="/img/aybulogo.png" alt="team-4">
                        <div class="card-body">
                            <h5 class="card-title">Team 4</h5>
                            <div class="homepage-team-social-medias">
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <img class="card-img-top mx-auto d-block" src="/img/aybulogo.png" alt="team-5">
                        <div class="card-body">
                            <h5 class="card-title">Team 5</h5>
                            <div class="homepage-team-social-medias">
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <img class="card-img-top mx-auto d-block" src="/img/aybulogo.png" alt="team-6">
                        <div class="card-body">
                            <h5 class="card-title">Team 6</h5>
                            <div class="homepage-team-social-medias">
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> {{!--/mobile-carousel-inner--}}
            <a class="carousel-control-prev" href="#homepage-team-mobile-carousel" role="button" data-slide="prev">
                <i class="carousel-control-prev-icon homepage-teams-control-button bg-dark border border-dark rounded-circle"
                    aria-hidden="true"></i>
            </a>
            <a class="carousel-control-next" href="#homepage-team-mobile-carousel" role="button" data-slide="next">
                <i class="carousel-control-next-icon homepage-teams-control-button bg-dark border border-dark rounded-circle"
                    aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <!--/container-->
    <div class="homepage-teams-gozat-button">
        <a href="">Göz at</a>
    </div>
</section>
{{!-- Teams --}}

{{!-- Photos --}}
<section id="homepage-photos">
    <div class="homepage-photos-header">Fotoğraflar</div>
    <div class="homepage-photos-content">
        <div class="homepage-photos-gallery">
            <div class="homepage-photos-gallery-top">
                <div class="row">
                    <div class="col">
                        <div class="homepage-photos-photo-area">
                            <img class="rounded" src="/img/background.jpg" alt="photo1" onclick="currentPhoto(1)">
                        </div>
                    </div>
                    <div class="col">
                        <div class="homepage-photos-photo-area">
                            <img class="rounded" src="/img/photo.jpeg" alt="photo2" onclick="currentPhoto(2)">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="homepage-photos-photo-area">
                            <img class="rounded" src="/img/background.jpg" alt="photo3" onclick="currentPhoto(3)">
                        </div>
                    </div>
                    <div class="col">
                        <div class="homepage-photos-photo-area">
                            <img class="rounded" src="/img/photo.jpeg" alt="photo4" onclick="currentPhoto(4)">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="homepage-photos-photo-area">
                            <img class="rounded" src="/img/photo.jpeg" alt="photo5" onclick="currentPhoto(5)">
                        </div>
                    </div>
                    <div class="col">
                        <div class="homepage-photos-photo-area">
                            <img class="rounded" src="/img/background.jpg" alt="photo6" onclick="currentPhoto(6)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="homepage-photos-show">
            <div class="homepage-photos-background-circle">
                <div class="homepage-photos-show-area">
                    <img class="homepage-photos-photo" src="/img/background.jpg" alt="photo1">
                    <img class="homepage-photos-photo" src="/img/photo.jpeg" alt="photo2" style="display:none">
                    <img class="homepage-photos-photo" src="/img/background.jpg" alt="photo3" style="display:none">
                    <img class="homepage-photos-photo" src="/img/photo.jpeg" alt="photo4" style="display:none">
                    <img class="homepage-photos-photo" src="/img/photo.jpeg" alt="photo5" style="display:none">
                    <img class="homepage-photos-photo" src="/img/background.jpg" alt="photo6" style="display:none">
                </div>
            </div>
        </div>
    </div>
    <div class="homepage-photos-responsive-photo-modal">
        {{!-- <span class="close">&times;</span> --}}
        <span id="closeModal" class="fa fa-times homepage-photos-modal-close" aria-hidden="true"></span>
        <img class="homepage-photos-responsive-photo-modal-content homepage-photos-clicked-image">
    </div>
</section>
{{!-- Photos --}}
