<div class="login">
    <div class="left-area">
        <div class="img-area">
            <div class="text-area">
                <div class="text">
                    <h4>Ankara Yıldırım Beyazıt Üniversitesi</h4>
                    <h2>Bilim ve Teknoloji Kulübü</h2>
                </div>
            </div>
        </div>


    </div>
    <div class="right-area">
        <div class="top-area">
            <div class="logo-area">
                <img src="main/img/aybulogo.png" alt="Biltek">
            </div>
        </div>
        <div class="content-area">
            <div class="content">
                <div class="tittle-area">
                    <h2>Giriş Yap</h2>
                </div>
                <form class="login-form">
                    <div class="filed">
                        <label>Kullanıcı Adı:</label>
                        <div class="input">
                            <input id="userName" type="text">
                            <i class="fas fa-user"></i>

                        </div>
                    </div>

                    <div class="filed">
                        <label>Şifre:</label>
                        <div class="input">
                            <input id="password" type="password">
                            <i id="close" class="fas fa-eye-slash" onclick="show()"></i>
                            <i id="open" class="fas fa-eye" onclick="show()"></i>
                        </div>
                    </div>
                    <div class="button-area">
                        <button class="login-button" type="submit">Giriş Yap</button>
                    </div>

                </form>

            </div>
        </div>

    </div>
</div>