    <table class="container">
        <tr>
            <td class="border">
                <table>
                    <tr>
                        <td colspan="4" class="imageSection">
                            <a href="https://www.aybubiltek.com/"><img class="top-image" src="main/img/aybulogo.png"
                                    alt="Bilim ve Teknoloji Kulübü"></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="side-title">
                            <table>
                                <tr>
                                    <td class="headTitle">
                                        <div id="mainTitle">
                                            Bilim ve Teknoloji Kulübü
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subTitle">
                                        <div id="introTitle">
                                            Etkinlik başlığı
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                </tr>
                                <tr>
                                    <td class="bannerArea">
                                        <div id="infoBanner">
                                            <img class="top-image"
                                                src="main/img/event-one.PNG" /><br><br>
                                            <strong>Tarih:</strong> 28.09.2021 , Youtube Canlı<br>
                                            <strong>Zaman</strong>: 17.30 &#8211; 19.30<br><br>
                                            <a id="registerButton" href="#">Kayıt Ol</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="top-padding">
                                        <hr size="1" color="#eeeff0">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text">
                                        <div id="mainText">
                                            Merhaba ,<br><br>

                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                                            non proident, sunt in culpa qui officia deserunt mollit anim id est
                                            laborum.<br><br>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                                            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                </tr>
                                <tr>
                                    <td class="text">
                                        <div id="registerButton">
                                            <a href="#">Kayıt Ol</a>
                                        </div>
                                    </td>
                                </tr>
                                <td class="top-padding">
                                    <hr size="1" color="#eeeff0">
                                </td>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="socialArea">
                            <table>
                               
                                <tr>Bilim ve Teknoloji Kulübü
                                    <td>
 
                                        <table>
                                            <tr>
                                                <td class="icon"><a href="https://twitter.com/Aybubiltek"><img src="https://info.tenable.com/rs/tenable/images/twitter-teal.png"></a></td>
                                                <td class="icon"><a href="https://www.youtube.com/channel/UCXnCrwOdwtJF0wZiIQbz2-A"><img src="https://info.tenable.com/rs/tenable/images/youtube-teal.png"></a></td>
                                                <td class="icon"><a href="https://tr.linkedin.com/company/aybubiltek"><img src="https://info.tenable.com/rs/tenable/images/linkedin-teal.png"></a></td>
                                            </tr>
                                            
                                        </table>
                                        
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>