@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    --dark: #082437;
    --white: #F6F6F6;
}

body {
    margin: 0;
    box-sizing: border-box;
    background-color: var(--white);
    font-family: 'Ubuntu', sans-serif;
    color: var(--dark);

    .login {
        display: flex;

        .left-area {
            position: relative;
            width: 70%;
            @media (max-width:1250px) {
                width: 60%;
            }
            @media (max-width:920px) {
                width: 40%;
            }
            @media (max-width:530px) {
                display: none;
            }
            @media (max-height:480px) {
                display: none;
            }

            .img-area {
                background-image: url(https://images.pexels.com/photos/1038916/pexels-photo-1038916.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
                background-size: cover;
                height: 100vh;
                filter: drop-shadow(1px 0px 3px black);
                display: flex;
                align-items: center;
                justify-content: center;


                .text-area {
                    text-align: center;
                    width: 650px;
                    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
                    border-radius: 5px;
                    background-color: rgba(255, 255, 255, .15);
                    backdrop-filter: blur(16px);
                    @media (max-width:1250px) {
                        width: 525px;
                    }
                    @media (max-width:920px) {
                        display: none;
                    }

                    .text {
                        margin: 75px;

                        * {
                            margin: 0;
                        }

                        h4 {
                            font-weight: initial;
                        }

                        h2 {
                            font-size: 5rem;
                        }
                    }

                }

            }
        }

        .right-area {
            width: 30%;
            @media (max-width:1250px) {
                width: 40%;
            }
            @media (max-width:920px) {
                width: 60%;
            }
            @media (max-width:530px) {
                width: 100%;
            }
            @media (max-height:480px) {
                width: 100%;
            }

            .top-area {
                height: 70px;
                margin: 25px 25px 0 0;
                position: absolute;
                right: 0;

                .logo-area {
                    height: 100%;

                    img {
                        height: 100%;
                    }
                }
            }

            .content-area {
                display: flex;
                height: 100vh;
                align-items: center;
                justify-content: center;

                .content {
                    width: 300px;
                    @media (max-width:530px) {
                        width: 275px;
                    }
                    @media (max-height:690px) {
                        margin-top: 80px;
                    }
                    @media (max-height:480px) {
                        margin-top: 125px;
                    }

                    .tittle-area {
                        h2 {
                            font-size: 2.5rem;
                            margin: 0;
                        }
                    }

                    .login-form {

                        .filed {
                            margin: 30px 0;

                            label {
                                font-size: 1.2rem;
                            }

                            .input {
                                border-bottom: 1px solid var(--dark);
                                width: 100%;
                                display: flex;

                                input {
                                    border: none;
                                    outline: none;
                                    background-color: transparent;
                                    line-height: 2rem;
                                    width: 100%;
                                }

                                input[type=text],
                                input[type=password] {

                                    color: var(--dark);
                                    font-size: 1rem;
                                }

                                i {
                                    font-size: 17px;
                                    cursor: pointer;
                                }

                                #open {
                                    display: none;
                                }


                            }
                        }

                        .button-area {
                            margin: 40px 0;

                            button {
                                border: none;
                                background-color: var(--dark);
                                color: var(--white);
                                font-size: 1.1rem;
                                cursor: pointer;
                                width: 100%;
                                padding: 12px 0;
                                border-radius: 8px;
                            }
                        }


                    }

                }
            }

        }
    }
}