@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

select{
width: 100%;
height: calc(1.5em + .75rem + 2px);
background-clip: padding-box;
border-radius: .25rem;
border: 1px solid #ced4da;

}
.h5,h5{
    font-size: 1.1rem;
    color: wheat;
}
/*for input placeholders*/
.form-control {
    padding-left: 30px;
    width: 465px;
}

.btn-submit{
    width: 100%;
    color: white;
    background-color:green;
}
.btn-register{
    background-color: green;
    color: white;
}
/*Kayıt ol Text-center*/
.modal-title{
    margin-left: 180px;
    line-height: 1.5;
}
/*Header background*/
.modal-header{
    background-color: black;
    color: white;
}
/*content-background*/
.modal-content{
    background-color: currentColor;
}
/*icons place absolute*/
.register-form .form-group i{
position: absolute;

}
/*icon place fix*/
.fa-lg {
    line-height: 1.7;
}
.fa-lga{
    line-height: 3.8;
    width: 30px;
    font-size: 19px;
    top: 37%;
}

/*close button 'X'*/
.close {
    color:white;
    opacity: inherit;
}
/*submit button */
.btn-submit{
 height: 35px;
}
#form #form-group{
    position: relative;
}
/*e-mail validation*/
form input{
	margin: 10px 0;
	width: 100%;
	color: #fff;
	padding: 10px;
	border-radius: 6px;
	font-size: 18px;
	border: none;
	outline: none;
}
.emailText{
	display: block;
	font-weight: 300;
	font-style: italic;
	padding: 5px;
}

label.valid::before,
label.invalid::before{
	content: "";
	position: absolute;
	width: 24px;
	height: 24px;
	top: 298px;
	right: 23px;
	z-index: 100;
}
label.valid::before{
	background: url(valid.png)no-repeat center /cover;
}
label.invalid::before{
	background: url(error.png)no-repeat center /cover;
}
