/*------------------------------------*\
	Register-Modal
\*------------------------------------*/

.modal-back {
    display: none;
    position: fixed;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
  }
  
  .register-modal,
  .w-c-reg-modal,
  .w-w-c-reg-modal {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: auto;
    background-color: white;
    border-radius: 1.5rem;
    padding: 10px;
    z-index: 4;
    /* transform: ; */
    transition: 0.2s;
  }
  
  .reg-modal-header {
    margin: 5px 0 0 0;
  }
  
  .register-form {
    margin-top: 25px;
  }
  
  @media only screen and (max-width: 991px) {
    .register-modal {
      width: 90%;
    }
  }
  
  /*------------------------------------*\
      Register-Modal
  \*------------------------------------*/


  /* --  Buttons  -- */

.main-btn,
.outline-btn {
  display: inline-block;
  padding: 10px 35px;
  margin: 3px;
  border: 2px solid white;
  border-radius: 30px;
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

.main-btn {
  display: block;
  margin: 0 auto 0 auto;
  background: #6195ff;
  color: #fff;
}


.outline-btn {
  background: transparent;
  color: #6195ff !important;
  border-color: #6195ff;
}

.main-btn:hover,
.outline-btn:hover {
  opacity: 0.8;
}

.lds-dual-ring.hidden {
  display: none;
}

/*Add an overlay to the entire page blocking any further presses to buttons or other elements.*/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100vh !important;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999;
  opacity: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

/*Spinner Styles*/
.lds-dual-ring {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 5% auto;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  -webkit-animation: lds-dual-ring 1.2s linear infinite;
          animation: lds-dual-ring 1.2s linear infinite;
}

@-webkit-keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
