select{
width: 100%;
border: 1px solid #ced4da;
border-color: #b4c4d5;
border-radius: .25rem;
background-clip: padding-box;
font-size: 1rem;
color: #495057;
padding: .375rem .75rem;
height: calc(1.5em + .75rem + 2px);
transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.modal.show .modal-dialog{

    transform: translate(10px,150px);
}

.modal-header {
background-color: black;
color: white;

}

.modal-header .close{
    color: #f8f9fa;
    opacity: inherit;
}