@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

select{
width: 100%;
height: calc(1.5em + .75rem + 2px);
background-clip: padding-box;
border-radius: .25rem;
border: 1px solid #ced4da;

}
/*for input placeholders*/
.form-control {
    padding-left: 30px;
}

.btn-submit{
    width: 100%;
    color: white;
    background-color:green;
}
.btn-register{
    background-color: green;
    color: white;
}
/*Header background*/
.modal-header{
    background-color: black;
    color: white;
}
/*icons place absolute*/
.register-form .form-group i{
position: absolute;

}
/*icon place fix*/
.fa-lg {
    line-height: 1.7;
}

/*close button 'X'*/
.close {
    color:white;
    opacity: inherit;
}
/*submit button */
.btn-submit{
 height: 35px;
}